{"openapi":"3.0.1","info":{"title":"Template Api","version":"1.0"},"servers":[{"url":"https://api.sandbox.fortressapi.com/"}],"paths":{"/api/trust/v1/assets":{"post":{"tags":["Assets"],"summary":"Create the asset. (Auth)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The request model.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCustomAssetRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateCustomAssetRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateCustomAssetRequestModel"}}}},"responses":{"201":{"description":"Asset was successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomAssetResponseModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]},"get":{"tags":["Assets"],"summary":"Retrieve a list of assets for specific organization. (Auth)","parameters":[{"name":"Page","in":"query","description":"Page count","style":"form","schema":{"type":"integer","format":"int32"}},{"name":"PageSize","in":"query","description":"PageSize","style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomAssetResponseModelPageResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/assets/{id}":{"get":{"tags":["Assets"],"summary":"Retrieve the asset by id (Auth)","parameters":[{"name":"id","in":"path","description":"Asset identifier","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomAssetResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]},"patch":{"tags":["Assets"],"summary":"Patch the asset. (Auth)","parameters":[{"name":"id","in":"path","description":"Asset id.","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The request model.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCustomAssetRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateCustomAssetRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UpdateCustomAssetRequestModel"}}}},"responses":{"200":{"description":"Asset was successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomAssetResponseModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Asset is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/v1/private-cross-service/auth/endpoints-permissions-tree":{"get":{"tags":["Auth"],"summary":"Retrieve full tree of endpoints permissions","responses":{"200":{"description":"Endpoints permissions tree","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EndpointPermissionTreeNodeResponse"}}}}}}},"/api/v1/private-cross-service/auth/global-enabled-endpoints-permissions":{"get":{"tags":["Auth"],"summary":"Retrieve global enabled endpoints permissions","responses":{"200":{"description":"global enabled endpoints permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnabledEndpointPermissionsResponse"}}}}}}},"/api/v1/private-cross-service/auth/enabled-endpoints-permissions-for-api-user/{authId}":{"get":{"tags":["Auth"],"summary":"Retrieve enabled endpoints permissions for api user","parameters":[{"name":"authId","in":"path","description":"The auth id of the api user to check endpoint permissions for","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"User api enabled endpoints permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnabledEndpointPermissionsResponse"}}}}}}},"/api/v1/private-cross-service/auth/default-auth-identifier/{orgId}":{"get":{"tags":["Auth"],"summary":"Retrieves auth identifier by organization id","parameters":[{"name":"orgId","in":"path","description":"Organization id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Organization auth identifier response model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationAuthIdentifierResponseModel"}}}},"404":{"description":"Auth identifier not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}}},"/api/trust/v1/available-transfer-methods":{"get":{"tags":["AvailableTransferMethods"],"summary":"Retrieve a list with available transfer methods. (Auth)","responses":{"200":{"description":"Response with available transfer methods list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferMethodCollectionResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/organization/v1/current-organization":{"get":{"tags":["CurrentOrganization"],"summary":"Retrieve the current organization. (Auth)","parameters":[{"name":"include","in":"query","description":"The included properties.","style":"form","schema":{"type":"array","items":{"$ref":"#/components/schemas/UserOrganizationRelation"}}}],"responses":{"200":{"description":"Organization response models.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationResponseModel"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]},"patch":{"tags":["CurrentOrganization"],"summary":"Update the current organization. (Auth)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The patch model.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationPatchModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/OrganizationPatchModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/OrganizationPatchModel"}}}},"responses":{"204":{"description":"No content response."},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/organization/v1/current-organization/readonly":{"post":{"tags":["CurrentOrganization"],"summary":"Create a read-only user. (Auth)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadonlyUserRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/ReadonlyUserRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ReadonlyUserRequestModel"}}}},"responses":{"200":{"description":"Organization response model.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationResponseModel"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/organization/v1/current-organization/webhook-config":{"get":{"tags":["CurrentOrganization"],"summary":"Retrieve the webhook configuration. (Auth)","responses":{"200":{"description":"Webhook config response models.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookConfigResponseModel"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Webhook config is not found."}},"security":[{"Bearer":[]}]},"patch":{"tags":["CurrentOrganization"],"summary":"Patch the current webhook config. (Auth)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The webhook config patch model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookConfigPatchModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/WebhookConfigPatchModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/WebhookConfigPatchModel"}}}},"responses":{"204":{"description":"Webhook config is patched."},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Webhook config is not found."}},"security":[{"Bearer":[]}]}},"/api/v1/private-cross-service/custodial-accounts":{"get":{"tags":["CustodialAccounts"],"summary":"Retrieve custodial accounts by identity identifier. (Auth)","parameters":[{"name":"IdentityId","in":"query","style":"form","schema":{"type":"string","format":"uuid"}},{"name":"Page","in":"query","description":"Page count","style":"form","schema":{"type":"integer","format":"int32"}},{"name":"PageSize","in":"query","description":"PageSize","style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Custodial accounts page response model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustodialAccountsResponseModelPageResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]},"post":{"tags":["CustodialAccounts"],"summary":"Create the new custodial account.","parameters":[{"name":"organizationId","in":"query","description":"Organization identifier.","required":true,"style":"form","schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Create custodial account request model.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCustodialAccountRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateCustodialAccountRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateCustodialAccountRequestModel"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustodialAccountsResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}}},"/api/v1/private-cross-service/custodial-accounts/{custodialAccountId}/fiat-deposit-instructions/{assetFiatType}":{"get":{"tags":["CustodialAccounts"],"summary":"Retrieve the fiat deposit instructions.","parameters":[{"name":"custodialAccountId","in":"path","description":"Custodial account identifier","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"assetFiatType","in":"path","description":"Asset fiat type","required":true,"style":"simple","schema":{"$ref":"#/components/schemas/ModelAssetFiatType"}},{"name":"organizationId","in":"query","description":"Organization's id","required":true,"style":"form","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstructionsResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}}},"/api/v1/private-cross-service/custodial-accounts/{custodialAccountId}/crypto-deposit-instructions/{network}/{assetFiatType}":{"get":{"tags":["CustodialAccounts"],"summary":"Retrieve the crypto deposit instructions.","parameters":[{"name":"custodialAccountId","in":"path","description":"Custodial account identifier","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"network","in":"path","description":"Blockchain network","required":true,"style":"simple","schema":{"$ref":"#/components/schemas/ModelNetworkChain"}},{"name":"assetFiatType","in":"path","description":"Asset fiat type","required":true,"style":"simple","schema":{"$ref":"#/components/schemas/ModelAssetFiatType"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CryptoInstructionsResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}}},"/api/v1/private-cross-service/custodial-accounts/{custodialAccountId}":{"get":{"tags":["CustodialAccounts"],"summary":"Retrieve the custodial account by its id.","parameters":[{"name":"custodialAccountId","in":"path","description":"Custodial account identifier","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"includeBalances","in":"query","description":"Boolean indicating whether or not to include balances","style":"form","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Response with the custodial account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustodialAccountsResponsePrivateModel"}}}},"404":{"description":"Custodial account not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}},"patch":{"tags":["CustodialAccounts"],"summary":"Update account status","parameters":[{"name":"custodialAccountId","in":"path","description":"Custodial account identifier","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Update account status request model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAccountStatusRequestPrivateModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateAccountStatusRequestPrivateModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UpdateAccountStatusRequestPrivateModel"}}}},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}}},"/api/v1/private-cross-service/custodial-accounts/{custodialAccountId}/rename-with-label":{"patch":{"tags":["CustodialAccounts"],"summary":"Update account name and label.","parameters":[{"name":"custodialAccountId","in":"path","description":"Custodial account identifier.","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Update custodial account name request model.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCustodialAccountNameWithLabelRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateCustodialAccountNameWithLabelRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UpdateCustodialAccountNameWithLabelRequestModel"}}}},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}}},"/api/trust/v1/custodial-accounts":{"post":{"tags":["CustodialAccounts"],"summary":"Create the new custodial account. (Auth)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Create custodial account request model.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCustodialAccountRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateCustodialAccountRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateCustodialAccountRequestModel"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustodialAccountsResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]},"get":{"tags":["CustodialAccounts"],"summary":"Retrieve the filtered, paged list with custodial accounts. (Auth)","parameters":[{"name":"OwnerIdentityId","in":"query","description":"Filter by owner identity identifier","style":"form","schema":{"type":"string","format":"uuid"}},{"name":"Status","in":"query","description":"Return all records that have status","style":"form","schema":{"$ref":"#/components/schemas/ModelCustodialAccountStatus"}},{"name":"Label","in":"query","description":"Return all records that have label","style":"form","schema":{"$ref":"#/components/schemas/CustodialAccountLabel"}},{"name":"CustodialAccountName","in":"query","description":"Name of custodial account to filter by","style":"form","schema":{"type":"string"}},{"name":"SortingAscending","in":"query","description":"Whether to sort in ascending order","style":"form","schema":{"type":"boolean"}},{"name":"Page","in":"query","description":"Page count","style":"form","schema":{"type":"integer","format":"int32"}},{"name":"PageSize","in":"query","description":"PageSize","style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Response with custodial accounts page.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustodialAccountsResponseModelPageResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/trust/v1/custodial-accounts/{custodialAccountId}":{"get":{"tags":["CustodialAccounts"],"summary":"Retrieve the custodial account by id. (Auth)","parameters":[{"name":"custodialAccountId","in":"path","description":"Custodial account identifier","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustodialAccountsResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]},"patch":{"tags":["CustodialAccounts"],"summary":"Update account status (Auth)","parameters":[{"name":"custodialAccountId","in":"path","description":"Custodial account identifier","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Update account status request model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAccountStatusRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateAccountStatusRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UpdateAccountStatusRequestModel"}}}},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/trust/v1/custodial-accounts/{custodialAccountId}/fiat-deposit-instructions/{assetFiatType}":{"get":{"tags":["CustodialAccounts"],"summary":"Retrieve the fiat deposit instructions. (Auth)","parameters":[{"name":"custodialAccountId","in":"path","description":"Custodial account identifier","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"assetFiatType","in":"path","description":"Asset fiat type","required":true,"style":"simple","schema":{"$ref":"#/components/schemas/ModelAssetFiatType"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstructionsResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/custodial-accounts/{custodialAccountId}/crypto-deposit-instructions/{network}/{assetFiatType}":{"get":{"tags":["CustodialAccounts"],"summary":"Retrieve the crypto deposit instructions. (Auth)","parameters":[{"name":"custodialAccountId","in":"path","description":"Custodial account identifier","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"network","in":"path","description":"Blockchain network","required":true,"style":"simple","schema":{"$ref":"#/components/schemas/ModelNetworkChain"}},{"name":"assetFiatType","in":"path","description":"Asset fiat type","required":true,"style":"simple","schema":{"$ref":"#/components/schemas/ModelAssetFiatType"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CryptoInstructionsResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/custodial-accounts/{custodialAccountId}/balances":{"get":{"tags":["CustodialAccounts"],"summary":"Retrieve the custodial account balances. (Auth)","parameters":[{"name":"custodialAccountId","in":"path","description":"Custodial account identifier","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustodialAccountBalancesResponseModelCollectionResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/custodial-accounts/sandbox/{custodialAccountId}/start-incoming-wire":{"post":{"tags":["CustodialAccounts"],"summary":"Create an incoming wire simulation on sandbox environments. (Auth)","parameters":[{"name":"custodialAccountId","in":"path","description":"The id of the custodial account where to start simulation.","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SandboxIncomingWireModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/SandboxIncomingWireModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/SandboxIncomingWireModel"}}}},"responses":{"202":{"description":"Wire simulation was successfully created"},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Custodial account was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/custodial-accounts/sandbox/start-incoming-wire-bulk":{"post":{"tags":["CustodialAccounts"],"summary":"Create an incoming wire simulation on sandbox environments. (Auth)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SandboxIncomingWireModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/SandboxIncomingWireModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/SandboxIncomingWireModel"}}}},"responses":{"202":{"description":"Wire simulation was successfully created"},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Custodial account was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/custodial-accounts/sandbox/{custodialAccountId}/start-incoming-ach":{"post":{"tags":["CustodialAccounts"],"summary":"Create an incoming ach simulation on sandbox environments. (Auth)","parameters":[{"name":"custodialAccountId","in":"path","description":"The id of the custodial account where to start simulation.","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SandboxIncomingAchModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/SandboxIncomingAchModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/SandboxIncomingAchModel"}}}},"responses":{"202":{"description":"ACH simulation was successfully created"},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Custodial account was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/custodial-accounts/sandbox/{custodialAccountId}/start-incoming-check":{"post":{"tags":["CustodialAccounts"],"summary":"Create incoming check deposit simulation on sandbox environments. (Auth)","parameters":[{"name":"custodialAccountId","in":"path","description":"The id of the custodial account where to start simulation.","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SandboxIncomingCheckModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/SandboxIncomingCheckModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/SandboxIncomingCheckModel"}}}},"responses":{"202":{"description":"Check Deposit simulation was successfully created"},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Custodial account was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/custodial-accounts/sandbox/{custodialAccountId}/start-incoming-ach-withdrawal":{"post":{"tags":["CustodialAccounts"],"summary":"Create an incoming ach withdrawal simulation on sandbox environments. (Auth)","parameters":[{"name":"custodialAccountId","in":"path","description":"The id of the custodial account where to start simulation.","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SandboxIncomingAchWithdrawalModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/SandboxIncomingAchWithdrawalModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/SandboxIncomingAchWithdrawalModel"}}}},"responses":{"202":{"description":"Wire simulation was successfully created"},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Custodial account was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/custodial-accounts/{custodialAccountId}/withdraw-crypto":{"post":{"tags":["CustodialAccounts"],"summary":"Withdraw crypto. (Auth)","parameters":[{"name":"custodialAccountId","in":"path","description":"Custodial account identifier","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Withdraw crypto request model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawCryptoRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/WithdrawCryptoRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/WithdrawCryptoRequestModel"}}}},"responses":{"201":{"description":"Withdraw crypto process started successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentResponseModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Withdraw crypto is allowed only for ZebPay custodial account"},"404":{"description":"Custodial account was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/custodial-accounts/{accountId}/beneficiaries":{"put":{"tags":["CustodialAccounts"],"summary":"Overwrite beneficiaries for an account (Auth)","parameters":[{"name":"accountId","in":"path","description":"Account identifier","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"New account beneficiaries","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AccountBeneficiaryRequestModel"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AccountBeneficiaryRequestModel"}}},"application/*+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AccountBeneficiaryRequestModel"}}}}},"responses":{"202":{"description":"Account beneficiaries overwritten successfully"},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Account or one of identities was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]},"get":{"tags":["CustodialAccounts"],"summary":"Retrieve the collection of account beneficiaries (Auth)","parameters":[{"name":"accountId","in":"path","description":"Account identifier","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Response with collection of account beneficiaries","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BeneficiaryResponseModelCollectionResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Account was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/custodial-accounts/{custodialAccountId}/rename":{"patch":{"tags":["CustodialAccounts"],"summary":"Update account name (Auth)","parameters":[{"name":"custodialAccountId","in":"path","description":"Custodial account identifier","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Update custodial account name request model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCustodialAccountNameRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateCustodialAccountNameRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UpdateCustodialAccountNameRequestModel"}}}},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/trust/v1/custodial-accounts/{custodialAccountId}/label":{"patch":{"tags":["CustodialAccounts"],"summary":"Update custodial account label (Auth)","parameters":[{"name":"custodialAccountId","in":"path","description":"Custodial account identifier","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Update account label request model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAccountLabelRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateAccountLabelRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UpdateAccountLabelRequestModel"}}}},"responses":{"204":{"description":"No content"},"401":{"description":"User with such auth identifier was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Custodial account is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/custodial-accounts/agreement":{"get":{"tags":["CustodialAccounts"],"summary":"Get custodial account agreement (Auth)","responses":{"200":{"description":"Custodial account agreement","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustodialAccountAgreementResponseModel"}}}},"401":{"description":"User with such auth identifier was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Custodial account agreement is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/security-admin/v1/endpoints-permissions-tree":{"get":{"tags":["EndpointsPermissionsTree"],"summary":"Retrieve hierarchy of endpoint access permissions (Auth policies: SecurityAdmin)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EndpointAccessPermissionTreeNodesResponseModel"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["SecurityAdmin"]}]}},"/api/security-admin/v1/endpoints-permissions-tree/{id}":{"patch":{"tags":["EndpointsPermissionsTree"],"summary":"Patches endpoint access permission tree node (Auth policies: SecurityAdmin)","parameters":[{"name":"id","in":"path","description":"Id","required":true,"style":"simple","schema":{"type":"integer","format":"int32"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Patch request model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EndpointAccessPermissionTreeNodePatchModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/EndpointAccessPermissionTreeNodePatchModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/EndpointAccessPermissionTreeNodePatchModel"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EndpointAccessPermissionTreeNodesResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["SecurityAdmin"]}]}},"/api/v1/private-cross-service/external-accounts":{"get":{"tags":["ExternalAccounts"],"summary":"Retrieve external accounts by identity identifier. (Auth)","parameters":[{"name":"IdentityId","in":"query","style":"form","schema":{"type":"string","format":"uuid"}},{"name":"Page","in":"query","description":"Page count","style":"form","schema":{"type":"integer","format":"int32"}},{"name":"PageSize","in":"query","description":"PageSize","style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"External account response page model.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalAccountResponseModelPageResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/v1/private-cross-service/external-accounts/financial":{"post":{"tags":["ExternalAccounts"],"parameters":[{"name":"organizationId","in":"query","required":true,"style":"form","schema":{"type":"string","format":"uuid"}},{"name":"Session-Key","in":"header","style":"simple","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalAccountCreateModel"},"examples":{"Mx":{"summary":"Mx","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"93e410ed-7b93-4a58-918e-076c5c26f25d","financialAccountId":"<mx-accountId>","financialAccountsProvider":"mx"}},"PlaidProcessorToken":{"summary":"PlaidProcessorToken","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"0d4641ae-be33-4d0e-bcc9-593f25b94fe3","processorToken":"<plaid-processor-token>","financialAccountsProvider":"plaidProcessorToken"}},"Plaid":{"summary":"Plaid","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"c2d6671f-73c3-42d1-a0d8-f0f7a6787fb2","financialAccountId":"<plaid-accountId>","itemId":"<plaid-item-id>","financialAccountsProvider":"plaid"}},"PlainAchInstructions":{"summary":"PlainAchInstructions","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"a1457e5b-2afe-42c6-8373-d46b4fa2f846","routingNumber":"124302150","accountNumber":"43458367","accountName":"Personal Loan Account","accountType":"checking","financialAccountsProvider":"plainAchInstructions"}}}},"text/json":{"schema":{"$ref":"#/components/schemas/ExternalAccountCreateModel"},"examples":{"Mx":{"summary":"Mx","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"93e410ed-7b93-4a58-918e-076c5c26f25d","financialAccountId":"<mx-accountId>","financialAccountsProvider":"mx"}},"PlaidProcessorToken":{"summary":"PlaidProcessorToken","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"0d4641ae-be33-4d0e-bcc9-593f25b94fe3","processorToken":"<plaid-processor-token>","financialAccountsProvider":"plaidProcessorToken"}},"Plaid":{"summary":"Plaid","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"c2d6671f-73c3-42d1-a0d8-f0f7a6787fb2","financialAccountId":"<plaid-accountId>","itemId":"<plaid-item-id>","financialAccountsProvider":"plaid"}},"PlainAchInstructions":{"summary":"PlainAchInstructions","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"a1457e5b-2afe-42c6-8373-d46b4fa2f846","routingNumber":"124302150","accountNumber":"43458367","accountName":"Personal Loan Account","accountType":"checking","financialAccountsProvider":"plainAchInstructions"}}}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ExternalAccountCreateModel"},"examples":{"Mx":{"summary":"Mx","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"93e410ed-7b93-4a58-918e-076c5c26f25d","financialAccountId":"<mx-accountId>","financialAccountsProvider":"mx"}},"PlaidProcessorToken":{"summary":"PlaidProcessorToken","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"0d4641ae-be33-4d0e-bcc9-593f25b94fe3","processorToken":"<plaid-processor-token>","financialAccountsProvider":"plaidProcessorToken"}},"Plaid":{"summary":"Plaid","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"c2d6671f-73c3-42d1-a0d8-f0f7a6787fb2","financialAccountId":"<plaid-accountId>","itemId":"<plaid-item-id>","financialAccountsProvider":"plaid"}},"PlainAchInstructions":{"summary":"PlainAchInstructions","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"a1457e5b-2afe-42c6-8373-d46b4fa2f846","routingNumber":"124302150","accountNumber":"43458367","accountName":"Personal Loan Account","accountType":"checking","financialAccountsProvider":"plainAchInstructions"}}}}}},"responses":{"200":{"description":"Success"}}}},"/api/v1/private-cross-service/external-accounts/wire":{"post":{"tags":["ExternalAccounts"],"summary":"Create the external wire account.","parameters":[{"name":"organizationId","in":"query","description":"Organization identifier.","required":true,"style":"form","schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Request model.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalWireAccountCreateModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/ExternalWireAccountCreateModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ExternalWireAccountCreateModel"}}}},"responses":{"201":{"description":"External account was successfully created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalAccountResponseModel"}}}}}}},"/api/v1/private-cross-service/external-accounts/international-wire":{"post":{"tags":["ExternalAccounts"],"summary":"Create a new international wire","parameters":[{"name":"organizationId","in":"query","description":"Organization identifier.","required":true,"style":"form","schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Request model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternationalWireCreateModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/InternationalWireCreateModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/InternationalWireCreateModel"}}}},"responses":{"201":{"description":"International wire transfer was successfully created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalAccountResponseModel"}}}},"400":{"description":"Organization id is required.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}}}},"/api/trust/v1/external-accounts/{externalAccountId}":{"get":{"tags":["ExternalAccounts"],"summary":"Retrieve specific external account by id. (Auth)","parameters":[{"name":"externalAccountId","in":"path","description":"External account id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalAccountResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/external-accounts":{"get":{"tags":["ExternalAccounts"],"summary":"Retrieve the filtered, paged list with external accounts. (Auth)","parameters":[{"name":"IdentityId","in":"query","style":"form","schema":{"type":"string","format":"uuid"}},{"name":"Page","in":"query","description":"Page count","style":"form","schema":{"type":"integer","format":"int32"}},{"name":"PageSize","in":"query","description":"PageSize","style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalAccountResponseModelPageResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/trust/v1/external-accounts/financial/widget-url/{identityId}":{"get":{"tags":["ExternalAccounts"],"summary":"Retrieve the widget Url for particular identity. (Auth)","parameters":[{"name":"identityId","in":"path","description":"The identity identifier.","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"WidgetIntegrationType","in":"query","style":"form","schema":{"$ref":"#/components/schemas/WidgetIntegrationType"}},{"name":"MessageWebViewUrlScheme","in":"query","style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"Widget response models.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WidgetModel"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Identity id does not belong to current organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/external-accounts/financial":{"post":{"tags":["ExternalAccounts"],"summary":"Create a funds transfer method and the respective external account. (Auth)","parameters":[{"name":"Session-Key","in":"header","description":"Session key","style":"simple","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Request model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalAccountCreateModel"},"examples":{"Mx":{"summary":"Mx","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"715820ed-2427-40fd-96d1-6aec7c56a068","financialAccountId":"<mx-accountId>","financialAccountsProvider":"mx"}},"PlaidProcessorToken":{"summary":"PlaidProcessorToken","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"903640b0-8892-49c9-8250-3e0f14775dc7","processorToken":"<plaid-processor-token>","financialAccountsProvider":"plaidProcessorToken"}},"Plaid":{"summary":"Plaid","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"67ab893e-9076-45ba-8796-2b7a1d90f62d","financialAccountId":"<plaid-accountId>","itemId":"<plaid-item-id>","financialAccountsProvider":"plaid"}},"PlainAchInstructions":{"summary":"PlainAchInstructions","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"3451ce64-6d9e-47e1-a903-46e55ba61969","routingNumber":"124302150","accountNumber":"06090362","accountName":"Personal Loan Account","accountType":"checking","financialAccountsProvider":"plainAchInstructions"}}}},"text/json":{"schema":{"$ref":"#/components/schemas/ExternalAccountCreateModel"},"examples":{"Mx":{"summary":"Mx","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"715820ed-2427-40fd-96d1-6aec7c56a068","financialAccountId":"<mx-accountId>","financialAccountsProvider":"mx"}},"PlaidProcessorToken":{"summary":"PlaidProcessorToken","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"903640b0-8892-49c9-8250-3e0f14775dc7","processorToken":"<plaid-processor-token>","financialAccountsProvider":"plaidProcessorToken"}},"Plaid":{"summary":"Plaid","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"67ab893e-9076-45ba-8796-2b7a1d90f62d","financialAccountId":"<plaid-accountId>","itemId":"<plaid-item-id>","financialAccountsProvider":"plaid"}},"PlainAchInstructions":{"summary":"PlainAchInstructions","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"3451ce64-6d9e-47e1-a903-46e55ba61969","routingNumber":"124302150","accountNumber":"06090362","accountName":"Personal Loan Account","accountType":"checking","financialAccountsProvider":"plainAchInstructions"}}}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ExternalAccountCreateModel"},"examples":{"Mx":{"summary":"Mx","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"715820ed-2427-40fd-96d1-6aec7c56a068","financialAccountId":"<mx-accountId>","financialAccountsProvider":"mx"}},"PlaidProcessorToken":{"summary":"PlaidProcessorToken","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"903640b0-8892-49c9-8250-3e0f14775dc7","processorToken":"<plaid-processor-token>","financialAccountsProvider":"plaidProcessorToken"}},"Plaid":{"summary":"Plaid","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"67ab893e-9076-45ba-8796-2b7a1d90f62d","financialAccountId":"<plaid-accountId>","itemId":"<plaid-item-id>","financialAccountsProvider":"plaid"}},"PlainAchInstructions":{"summary":"PlainAchInstructions","description":"FinancialAccountsProvider is optional and use only if default provider need to be overridden","value":{"identityId":"3451ce64-6d9e-47e1-a903-46e55ba61969","routingNumber":"124302150","accountNumber":"06090362","accountName":"Personal Loan Account","accountType":"checking","financialAccountsProvider":"plainAchInstructions"}}}}}},"responses":{"201":{"description":"Funds transfer method was successfully created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalAccountResponseModel"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Identity id does not belong to current organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/external-accounts/wire":{"post":{"tags":["ExternalAccounts"],"summary":"Create the external wire account. (Auth)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Request model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalWireAccountCreateModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/ExternalWireAccountCreateModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ExternalWireAccountCreateModel"}}}},"responses":{"201":{"description":"External account was successfully created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalAccountResponseModel"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Identity id does not belong to current organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/external-accounts/international-wire":{"post":{"tags":["ExternalAccounts"],"summary":"Create a new international wire (Auth)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Request model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternationalWireCreateModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/InternationalWireCreateModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/InternationalWireCreateModel"}}}},"responses":{"201":{"description":"International wire transfer was successfully created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalAccountResponseModel"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Identity id does not belong to current organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/v1/private-cross-service/identities/{identityId}/external-accounts":{"get":{"tags":["Identities"],"parameters":[{"name":"identityId","in":"path","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExternalAccountResponsePrivateModel"}}}}}}}},"/api/v1/private-cross-service/identities/{identityId}/custodial-accounts":{"get":{"tags":["Identities"],"parameters":[{"name":"identityId","in":"path","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"includeBalances","in":"query","style":"form","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustodialAccountsResponsePrivateModel"}}}}}}}},"/api/v1/private-cross-service/identities/{identityId}/widget-url":{"get":{"tags":["Identities"],"parameters":[{"name":"identityId","in":"path","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"WidgetIntegrationType","in":"query","style":"form","schema":{"$ref":"#/components/schemas/WidgetIntegrationType"}},{"name":"MessageWebViewUrlScheme","in":"query","style":"form","schema":{"type":"string"}},{"name":"organizationId","in":"query","required":true,"style":"form","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success"}}}},"/api/internal-admin/v1/organizations":{"get":{"tags":["InternalAdmin"],"summary":"Retrieve the organizations. (Auth policies: InternalAdmin)","parameters":[{"name":"Include","in":"query","description":"AdminConfiguration or Permissions filter","style":"form","schema":{"type":"array","items":{"$ref":"#/components/schemas/InternalAdminOrganizationRelation"}}},{"name":"Page","in":"query","description":"Page count","style":"form","schema":{"type":"integer","format":"int32"}},{"name":"PageSize","in":"query","description":"PageSize","style":"form","schema":{"type":"integer","format":"int32"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Organization response model.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationAdminResponseModelPageResponseModel"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/organizations/{organizationId}":{"get":{"tags":["InternalAdmin"],"summary":"Retrieve the organization. (Auth policies: InternalAdmin)","parameters":[{"name":"organizationId","in":"path","description":"The organization identifier.","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"include","in":"query","description":"What properties to include.","style":"form","schema":{"type":"array","items":{"$ref":"#/components/schemas/InternalAdminOrganizationRelation"}}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Organization response models.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationAdminResponseModel"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Organization was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/{organizationId}/sync-auth0":{"post":{"tags":["InternalAdmin"],"summary":"Sync org metadata with Auth0. (Auth policies: InternalAdmin)","parameters":[{"name":"organizationId","in":"path","description":"The organization identifier.","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No content response."},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/sync-auth0":{"post":{"tags":["InternalAdmin"],"summary":"Sync all orgs metadata with Auth0. (Auth policies: InternalAdmin)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No content response."},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/organizations/{organizationId}/inactivate-provider-specific/{provider}":{"post":{"tags":["InternalAdmin"],"summary":"Inactivate ProviderSpecific Accounts. (Auth policies: InternalAdmin)","parameters":[{"name":"organizationId","in":"path","description":"The organization identifier.","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"provider","in":"path","description":"Provider.","required":true,"style":"simple","schema":{"$ref":"#/components/schemas/FiatIntegrationServiceProvider"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No content response."},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"User with such auth identifier was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Organization was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/organizations/{organizationId}/custodial-account":{"post":{"tags":["InternalAdmin"],"summary":"Create the new custodial account without age validation. (Auth policies: InternalAdmin)","parameters":[{"name":"organizationId","in":"path","description":"Custodial account organization id.","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Create custodial account request model.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCustodialAccountRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateCustodialAccountRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateCustodialAccountRequestModel"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustodialAccountsResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/custodial-accounts/ensure-system-accounts":{"patch":{"tags":["InternalAdmin"],"summary":"Ensure system custodial account (Auth policies: InternalAdmin)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SystemAccountsValidationResultModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/custodial-accounts/top-up-internal-omnibus-balance-from-liquidity-provider-account":{"post":{"tags":["InternalAdmin"],"summary":"Top up internal omnibus from Liquidity Provider account (Auth policies: InternalAdmin)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Model that defines amount to transfer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopUpInternalOmnibusRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/TopUpInternalOmnibusRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/TopUpInternalOmnibusRequestModel"}}}},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/custodial-accounts/top-up-internal-omnibus-balance-from-check-deposit-source-account":{"post":{"tags":["InternalAdmin"],"summary":"Top up internal omnibus from Check Deposit Source account (Auth policies: InternalAdmin)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Model that defines amount to transfer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopUpInternalOmnibusRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/TopUpInternalOmnibusRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/TopUpInternalOmnibusRequestModel"}}}},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/custodial-accounts/top-up-internal-omnibus-balance-from-user-bank-account/{custodialAccountId}":{"post":{"tags":["InternalAdmin"],"summary":"Top up internal omnibus from User Bank account (Auth policies: InternalAdmin)","parameters":[{"name":"custodialAccountId","in":"path","description":"Id that represents user CA","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/custodial-accounts/{custodialAccountId}/non-api-clearing-account":{"put":{"tags":["InternalAdmin"],"summary":"Configure non-API clearing account data on custodial account inside Fortress (Auth policies: InternalAdmin)","parameters":[{"name":"custodialAccountId","in":"path","description":"The custodial account identifier.","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The configuration model.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NonApiClearingAccountDataModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/NonApiClearingAccountDataModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/NonApiClearingAccountDataModel"}}}},"responses":{"204":{"description":"No content response."},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Custodial account was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["InternalAdmin"]}]},"get":{"tags":["InternalAdmin"],"summary":"Retrieve non-API clearing account data (Auth policies: InternalAdmin)","parameters":[{"name":"custodialAccountId","in":"path","description":"The custodial account identifier.","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Non-Api clearing account data model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NonApiClearingAccountDataModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Custodial account was not found or the custodial account does not have non-API bank.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/custodial-accounts/from-ca-to-fiat-migration-account":{"post":{"tags":["InternalAdmin"],"summary":"Create hidden payment to move fiat from an inactive provider specific to FortressTradeAndDepositFiatMigration account (Auth policies: InternalAdmin)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The custodial account identifier.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInactiveAccountInternalMovementRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateInactiveAccountInternalMovementRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateInactiveAccountInternalMovementRequestModel"}}}},"responses":{"204":{"description":"No content response."},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"User with such auth identifier was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Custodial account was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/custodial-accounts/run-migration-job":{"post":{"tags":["InternalAdmin"],"summary":"Run movementJob FromActivatedAccountToFiatOmnibusAccount or FromInactivatedAccountToFiatMigrationAccount (Auth policies: InternalAdmin)","parameters":[{"name":"organizationId","in":"query","description":"Organization identifier","style":"form","schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"InitiateMovementJobRequestModel","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InitiateMovementJobRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/InitiateMovementJobRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/InitiateMovementJobRequestModel"}}}},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/custodial-accounts/suspense/payments/{paymentId}/resolve":{"post":{"tags":["InternalAdmin"],"summary":"Resolve payment on suspense account (Auth policies: InternalAdmin)","parameters":[{"name":"paymentId","in":"path","description":"The payment identifier.","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The resolve payment model.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResolvePaymentRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/ResolvePaymentRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ResolvePaymentRequestModel"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResolvePaymentResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/custodial-accounts/suspense/not-resolved-payments":{"get":{"tags":["InternalAdmin"],"summary":"Retrieve list transactions of not resolved payments on suspense account (Auth policies: InternalAdmin)","parameters":[{"name":"PaymentType","in":"query","style":"form","schema":{"$ref":"#/components/schemas/PaymentTypeToSuspenseAccount"}},{"name":"Page","in":"query","description":"Page count","style":"form","schema":{"type":"integer","format":"int32"}},{"name":"PageSize","in":"query","description":"PageSize","style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionResponseModelPageResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/payments/process-stuck-payment":{"post":{"tags":["InternalAdmin"],"summary":"Retry or abort saga step that stuck (Auth policies: InternalAdmin)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Payments that we want to process","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessStuckPaymentRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProcessStuckPaymentRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ProcessStuckPaymentRequestModel"}}}},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/retry-transactions":{"post":{"tags":["InternalAdmin"],"summary":"Retry trading for specified transactions. (Auth policies: InternalAdmin)","requestBody":{"description":"Retry request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetryTradingRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/RetryTradingRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/RetryTradingRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TransactionResponseModel"}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/custodial-accounts/agreement":{"post":{"tags":["InternalAdmin"],"summary":"Create custodial account agreement (Auth policies: InternalAdmin)","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["File","UploadedBy"],"type":"object","properties":{"UploadedBy":{"type":"string","description":"Get or set uploaded by"},"File":{"type":"string","description":"Get or set form file","format":"binary"}}},"encoding":{"UploadedBy":{"style":"form"},"File":{"style":"form"}}}}},"responses":{"204":{"description":"No content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/payments/{paymentId}/funds-clawback":{"post":{"tags":["InternalAdmin"],"summary":"Return funds from custodial account (Auth policies: InternalAdmin)","parameters":[{"name":"paymentId","in":"path","description":"Payment id","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"202":{"description":"Accepted"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/custodial-accounts/{custodialAccountId}/replace-omnibus":{"put":{"tags":["InternalAdmin"],"summary":"Replace omnibus account banking data (Auth policies: InternalAdmin)","parameters":[{"name":"custodialAccountId","in":"path","description":"Custodial account identifier.","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/organizations/{organizationId}/settlement-accounts-configuration/{custodialAccountId}":{"put":{"tags":["InternalAdmin"],"summary":"Configure settlement account for the specific list of assets per organization. (Auth policies: InternalAdmin)","parameters":[{"name":"organizationId","in":"path","description":"The organization identifier.","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"custodialAccountId","in":"path","description":"The custodial account identifier.","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The configuration model.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettlementAccountsConfigurationRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/SettlementAccountsConfigurationRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/SettlementAccountsConfigurationRequestModel"}}}},"responses":{"204":{"description":"No content response."},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"User with such auth identifier was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Organization was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"409":{"description":"Asset is already configured for another settlement account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/organizations/{organizationId}/settlement-accounts-configuration":{"get":{"tags":["InternalAdmin"],"summary":"Get settlement accounts configuration for the specified organization. (Auth policies: InternalAdmin)","parameters":[{"name":"organizationId","in":"path","description":"The organization identifier.","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Array of SettlementAccountsConfigurationResponseModel.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettlementAccountsConfigurationResponseModelCollectionResponseModel"}}}},"401":{"description":"User with such auth identifier was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/custodial-accounts/helper-account":{"post":{"tags":["InternalAdmin"],"summary":"Create helper account (fortress accounts as omnibus complementary accounts) (Auth policies: InternalAdmin)","requestBody":{"description":"Create helper custodial account request model","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateHelperCustodialAccountRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateHelperCustodialAccountRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateHelperCustodialAccountRequestModel"}}}},"responses":{"204":{"description":"No content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/custodial-accounts/process-transfer-manually":{"post":{"tags":["InternalAdmin"],"summary":"Create a payment to store records about manually processed transfer (Auth policies: InternalAdmin)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Model that defines manually processed transfer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManuallyProcessedTransferRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/ManuallyProcessedTransferRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ManuallyProcessedTransferRequestModel"}}}},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/custodial-accounts/crypto-buy-refunds":{"post":{"tags":["InternalAdmin"],"summary":"Refund internal from Liquidity Provider to end user custodial (Auth policies: InternalAdmin)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Model that defines amount to transfer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRefundPaymentForBuyCryptoModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateRefundPaymentForBuyCryptoModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateRefundPaymentForBuyCryptoModel"}}}},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/custodial-accounts/crypto-sell-refunds":{"post":{"tags":["InternalAdmin"],"summary":"Refund internal crypto from Liquidity Provider to end user custodial (Auth policies: InternalAdmin)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Model that defines amount to transfer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRefundPaymentForCryptoSellRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateRefundPaymentForCryptoSellRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateRefundPaymentForCryptoSellRequest"}}}},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/custodial-accounts/from-ca-to-trading":{"post":{"tags":["InternalAdmin"],"summary":"Refund internal crypto from end user custodial to Fortress Trading (Auth policies: InternalAdmin)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Model that defines amount to transfer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRefundPaymentFromCaToTradingRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateRefundPaymentFromCaToTradingRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateRefundPaymentFromCaToTradingRequest"}}}},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/custodial-accounts/from-ca-to-liquidity":{"post":{"tags":["InternalAdmin"],"summary":"Refund internal crypto from user custodial to Fortress Liquidity (Auth policies: InternalAdmin)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Model that defines amount to transfer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRefundPaymentFromCustodialAccountToLiquidityRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateRefundPaymentFromCustodialAccountToLiquidityRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateRefundPaymentFromCustodialAccountToLiquidityRequest"}}}},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/force-complete-transaction/{transactionId}":{"patch":{"tags":["InternalAdmin"],"summary":"Force successful transaction completion for failed payment (Auth policies: InternalAdmin)","parameters":[{"name":"transactionId","in":"path","description":"The transaction identifier.","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Request model for transaction force completion","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForceCompleteTransactionRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/ForceCompleteTransactionRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ForceCompleteTransactionRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/custodial-accounts/from-trading-to-liquidity-provider":{"post":{"tags":["InternalAdmin"],"summary":"Refund internal crypto from Fortress Trading to Liquidity Provider (Auth policies: InternalAdmin)","parameters":[{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Model that defines amount to transfer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRefundPaymentFromTradingToZpRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateRefundPaymentFromTradingToZpRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateRefundPaymentFromTradingToZpRequest"}}}},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/invalidate-cache":{"post":{"tags":["InternalAdmin"],"summary":"Invalidate cache immediately (Auth policies: InternalAdmin)","requestBody":{"description":"Specify which cache need to be invalidated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidateCacheModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/InvalidateCacheModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/InvalidateCacheModel"}}}},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/import-tp-recon-payments/csv":{"post":{"tags":["InternalAdmin"],"summary":"Import file with payments to try find missing payments or link existing (Auth policies: InternalAdmin)","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"array","items":{"type":"string","format":"binary"}}}},"encoding":{"file":{"style":"form"}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/manually-process/wire-withdrawal/{paymentId}/unlock-and-return-money":{"post":{"tags":["ManuallyProcess"],"summary":"Unlock and return money to user while wire withdrawal failing (Auth policies: InternalAdmin)","parameters":[{"name":"paymentId","in":"path","description":"Payment identifier","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/manually-process/wire-withdrawal/{paymentId}/remove-locked-money-from-account":{"post":{"tags":["ManuallyProcess"],"summary":"Remove locked money from account in case wire withdrawal failing and processing manually through TP API (Auth policies: InternalAdmin)","parameters":[{"name":"paymentId","in":"path","description":"Payment identifier","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Success"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/internal-admin/v1/manually-process/crypto-deposit/{paymentId}/move-pending-to-disbursable":{"post":{"tags":["ManuallyProcess"],"summary":"Move pending to disbursable in case crypto deposit failing (Auth policies: InternalAdmin)","parameters":[{"name":"paymentId","in":"path","description":"Payment identifier","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["InternalAdmin"]}]}},"/api/ops/v1/organizations":{"get":{"tags":["Ops"],"summary":"Retrieve the organizations. (Auth policies: Ops)","parameters":[{"name":"Include","in":"query","description":"AdminConfiguration or Permissions filter","style":"form","schema":{"type":"array","items":{"$ref":"#/components/schemas/InternalAdminOrganizationRelation"}}},{"name":"Page","in":"query","description":"Page count","style":"form","schema":{"type":"integer","format":"int32"}},{"name":"PageSize","in":"query","description":"PageSize","style":"form","schema":{"type":"integer","format":"int32"}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Organization response model.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationAdminResponseModelPageResponseModel"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":["Ops"]}]}},"/api/ops/v1/organizations/{organizationId}":{"get":{"tags":["Ops"],"summary":"Retrieve the organization. (Auth policies: Ops)","parameters":[{"name":"organizationId","in":"path","description":"The organization identifier.","required":true,"style":"simple","schema":{"type":"string","format":"uuid"}},{"name":"include","in":"query","description":"What properties to include.","style":"form","schema":{"type":"array","items":{"$ref":"#/components/schemas/InternalAdminOrganizationRelation"}}},{"name":"Idempotency-Key","in":"header","description":"The idempotency key for the endpoint","style":"simple","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Organization response models.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationAdminResponseModel"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Organization was not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["Ops"]}]}},"/api/ops/v1/organizations/{orgId}/custody-providers-configurations":{"get":{"tags":["Ops"],"summary":"Retrieve the custody providers configurations. (Auth policies: Ops)","parameters":[{"name":"orgId","in":"path","description":"The organization identifier.","require
[...]
