{"openapi":"3.0.1","info":{"title":"Fortress.Identity Api","version":"1.0"},"servers":[{"url":"https://api.sandbox.fortressapi.com/"}],"paths":{"/api/trust/v1/business-identities/{identityId}/documents":{"post":{"tags":["BusinessDocuments"],"summary":" (Auth)","parameters":[{"name":"identityId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"DocumentType":{"$ref":"#/components/schemas/BusinessDocumentUploadTypeModel"},"Documents":{"type":"array","items":{"type":"string","format":"binary"},"description":"A collection of the business document's files"}}},"encoding":{"DocumentType":{"style":"form"},"Documents":{"style":"form"}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/compliance/v1/business-identities/{identityId}/documents":{"post":{"tags":["BusinessDocuments"],"summary":" (Auth)","parameters":[{"name":"identityId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"DocumentType":{"$ref":"#/components/schemas/BusinessDocumentUploadTypeModel"},"Documents":{"type":"array","items":{"type":"string","format":"binary"},"description":"A collection of the business document's files"}}},"encoding":{"DocumentType":{"style":"form"},"Documents":{"style":"form"}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/business-identities/{identityId}/update-without-kyc":{"patch":{"tags":["BusinessIdentities"],"summary":"Update existing business identity (Auth)","parameters":[{"name":"identityId","in":"path","description":"Identity id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.UserIdentities.BusinessIdentityPartialUpdateModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessIdentityPartialUpdateModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/BusinessIdentityPartialUpdateModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/BusinessIdentityPartialUpdateModel"}}}},"responses":{"200":{"description":"Identity was successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Identity has no access to a specified identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/business-identities/{identityId}/verify":{"post":{"tags":["BusinessIdentities"],"summary":"Endpoint for manual verification of business identity. Identity can be upgraded to L1 level or Suspended based on decision. (Auth)","parameters":[{"name":"identityId","in":"path","description":"Identity id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.UserIdentities.ManualIdentityVerificationByOrgRequestModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManualIdentityVerificationByOrgRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/ManualIdentityVerificationByOrgRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ManualIdentityVerificationByOrgRequestModel"}}}},"responses":{"200":{"description":"Identity was successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/business-identities/{identityId}":{"get":{"tags":["BusinessIdentities"],"summary":"Gets a business identity (Auth)","parameters":[{"name":"identityId","in":"path","description":"An id of the identity to retrieve","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Identity was successfully retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityModel"}}}},"401":{"description":"IdentityContainer with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"IdentityContainer has no access to a specified identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]},"patch":{"tags":["BusinessIdentities"],"summary":"Update existing business identity (Auth)","parameters":[{"name":"identityId","in":"path","description":"Identity id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.UserIdentities.BusinessUserIdentityUpdateModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityUpdateModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityUpdateModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityUpdateModel"}}}},"responses":{"200":{"description":"Identity was successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Identity has no access to a specified identity container","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/business-identities":{"post":{"tags":["BusinessIdentities"],"summary":"Creates a new business identity (Auth)","requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.UserIdentities.BusinessUserIdentityCreateModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityCreateModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityCreateModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityCreateModel"}}}},"responses":{"201":{"description":"Business identity was successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Identity is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/compliance/v1/business-identities/{identityId}":{"get":{"tags":["BusinessIdentities"],"summary":"Gets a business identity (Auth)","parameters":[{"name":"identityId","in":"path","description":"An id of the identity to retrieve","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Identity was successfully retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityModel"}}}},"401":{"description":"IdentityContainer with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"IdentityContainer has no access to a specified identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]},"patch":{"tags":["BusinessIdentities"],"summary":"Update existing business identity (Auth)","parameters":[{"name":"identityId","in":"path","description":"Identity id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.UserIdentities.BusinessUserIdentityUpdateModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityUpdateModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityUpdateModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityUpdateModel"}}}},"responses":{"200":{"description":"Identity was successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Identity has no access to a specified identity container","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/compliance/v1/business-identities":{"post":{"tags":["BusinessIdentities"],"summary":"Creates a new business identity (Auth)","requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.UserIdentities.BusinessUserIdentityCreateModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityCreateModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityCreateModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityCreateModel"}}}},"responses":{"201":{"description":"Business identity was successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Identity is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/compliance/v1/identity/verify":{"post":{"tags":["Compliance"],"summary":" (Auth)","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceCreateModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/ComplianceCreateModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ComplianceCreateModel"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/compliance/v1/identities/{identityId}":{"patch":{"tags":["Identities"],"summary":"Deactivates or activates identity (Auth)","parameters":[{"name":"identityId","in":"path","description":"An id of the identity to deactivate/activate","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.UserIdentities.IdentityUpdateStatusModel\"></see> data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityUpdateStatusModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/IdentityUpdateStatusModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/IdentityUpdateStatusModel"}}}},"responses":{"200":{"description":"Identity status has been successfully changed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityUpdateStatusResponse"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"User with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Not authorized to access this identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/compliance/v1/identities":{"get":{"tags":["Identities"],"summary":"Gets a list of active or inactive identities (Auth)","parameters":[{"name":"Status","in":"query","schema":{"$ref":"#/components/schemas/IdentityStatusModel"}},{"name":"Page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"PageSize","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Identities were successfully retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserIdentityModelPageResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"User with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Not authorized to access these identities","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/identity-containers":{"post":{"tags":["IdentityContainers"],"summary":"Creates a new identity container (Auth)","requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.IdentityContainers.IdentityContainerCreateModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityContainerCreateModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/IdentityContainerCreateModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/IdentityContainerCreateModel"}}}},"responses":{"201":{"description":"Identity container was successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityContainerModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/trust/v1/identity-containers/{identityContainerId}":{"get":{"tags":["IdentityContainers"],"summary":"Get specific identity container (Auth)","parameters":[{"name":"identityContainerId","in":"path","description":"An id of the identity container to retrieve","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Identity container was successfully retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityContainerModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity container not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/compliance/v1/identity-containers":{"post":{"tags":["IdentityContainers"],"summary":"Creates a new identity container (Auth)","requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.IdentityContainers.IdentityContainerCreateModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityContainerCreateModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/IdentityContainerCreateModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/IdentityContainerCreateModel"}}}},"responses":{"201":{"description":"Identity container was successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityContainerModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":[]}]}},"/api/compliance/v1/identity-containers/{identityContainerId}":{"get":{"tags":["IdentityContainers"],"summary":"Get specific identity container (Auth)","parameters":[{"name":"identityContainerId","in":"path","description":"An id of the identity container to retrieve","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Identity container was successfully retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityContainerModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity container not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/compliance/v1/import/alloy":{"post":{"tags":["Import"],"summary":" (Auth)","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlloyImportModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/AlloyImportModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AlloyImportModel"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/ops/v1/business-identities/{identityId}/verify":{"post":{"tags":["Ops"],"summary":"Endpoint for manual verification of business Identity. Identity can be upgraded to L1 level or Suspended based on decision. (Auth policies: Ops)","parameters":[{"name":"identityId","in":"path","description":"Identity id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.UserIdentities.ManualIdentityVerificationRequestModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManualIdentityVerificationRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/ManualIdentityVerificationRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ManualIdentityVerificationRequestModel"}}}},"responses":{"200":{"description":"Identity was successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["Ops"]}]}},"/api/ops/v1/business-identities/{identityId}/documents/{documentId}/verify":{"post":{"tags":["Ops"],"summary":"Updates status of Document with status ManualReviewNeeded (Auth policies: Ops)","parameters":[{"name":"identityId","in":"path","description":"Id of the identity","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentId","in":"path","description":"Id of the document","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.Documents.ManualDocumentVerificationRequestModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManualDocumentVerificationRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/ManualDocumentVerificationRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ManualDocumentVerificationRequestModel"}}}},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Identity was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["Ops"]}]}},"/api/ops/v1/personal-identities/{identityId}":{"patch":{"tags":["Ops"],"summary":"Updates existing personal identity (Auth policies: Ops)","parameters":[{"name":"identityId","in":"path","description":"Identity id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.UserIdentities.PersonalUserIdentityPatchModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityPatchModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityPatchModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityPatchModel"}}}},"responses":{"200":{"description":"Identity was successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["Ops"]}]}},"/api/ops/v1/identities/{identityId}":{"patch":{"tags":["Ops"],"summary":"Update existing identity (Auth policies: Ops)","parameters":[{"name":"identityId","in":"path","description":"An id of the identity to update","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.UserIdentities.IdentityUpdateModel\"></see> data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityUpdateModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/IdentityUpdateModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/IdentityUpdateModel"}}}},"responses":{"200":{"description":"Identity has been successfully changed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityUpdateResponse"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Not authorized to access this identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["Ops"]}]}},"/api/ops/v1/country-tiers":{"post":{"tags":["Ops"],"summary":"Create country tiers list. (Auth policies: Ops)","requestBody":{"description":"The post model.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CountryTierCreateModel"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CountryTierCreateModel"}}},"application/*+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CountryTierCreateModel"}}}}},"responses":{"200":{"description":"Info has been added.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CountryTierResponseModel"}}}}},"400":{"description":"Incorrect data"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["Ops"]}]},"get":{"tags":["Ops"],"summary":"Get tiers list. (Auth policies: Ops)","responses":{"200":{"description":"Info has been successfully retrieved.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CountryTierResponseModel"}}}}},"400":{"description":"Incorrect data"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["Ops"]}]}},"/api/ops/v1/identity-cache/{identityId}":{"get":{"tags":["Ops"],"summary":"Get cache info about identity. (Auth policies: Ops)","parameters":[{"name":"identityId","in":"path","description":"Identity id.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"includeAssessmentDetails","in":"query","description":"Indicator whether identity assessment data should be included.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Info has been successfully retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityCachedDataDto"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Identity not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["Ops"]}]}},"/api/ops/v1/name-invariants":{"post":{"tags":["Ops"],"summary":"Create name invariants list. (Auth policies: Ops)","requestBody":{"description":"Create model.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NameInvariantCreateModel"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NameInvariantCreateModel"}}},"application/*+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NameInvariantCreateModel"}}}}},"responses":{"200":{"description":"Info has been added.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NameInvariantResponseModel"}}}}},"400":{"description":"Incorrect data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["Ops"]}]},"get":{"tags":["Ops"],"summary":"Get name invariants list. (Auth policies: Ops)","parameters":[{"name":"Name","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Info has been successfully retrieved.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NameInvariantResponseModel"}}}}},"400":{"description":"Incorrect data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["Ops"]}]},"delete":{"tags":["Ops"],"summary":"Clear invariants list. (Auth policies: Ops)","responses":{"200":{"description":"Name invariants successfully removed."},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["Ops"]}]}},"/api/ops/v1/name-invariants/{name}":{"delete":{"tags":["Ops"],"summary":"Delete name invariant. (Auth policies: Ops)","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Name invariant successfully removed."},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["Ops"]}]}},"/api/ops/v1/fuzzy-comparison":{"get":{"tags":["Ops"],"summary":"Calculates a Levenshtein simple ratio between the strings. (Auth policies: Ops)","parameters":[{"name":"Left","in":"query","required":true,"schema":{"minLength":1,"type":"string"}},{"name":"Right","in":"query","required":true,"schema":{"minLength":1,"type":"string"}}],"responses":{"200":{"description":"Info has been successfully retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FuzzyComparisonResponseModel"}}}},"400":{"description":"Incorrect data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"}},"security":[{"Bearer":["Ops"]}]}},"/api/ops/v1/personal-identities/batch-update":{"patch":{"tags":["Ops"],"summary":"Update batch of personal identities. (Auth policies: Ops)","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["File"],"type":"object","properties":{"File":{"type":"string","format":"binary"}}},"encoding":{"File":{"style":"form"}}}}},"responses":{"202":{"description":"File accepted"},"400":{"description":"Bad request model data"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":["Ops"]}]}},"/api/ops/v1/business-identities/batch-update":{"patch":{"tags":["Ops"],"summary":"Update batch of business identities. (Auth policies: Ops)","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["File"],"type":"object","properties":{"File":{"type":"string","format":"binary"}}},"encoding":{"File":{"style":"form"}}}}},"responses":{"202":{"description":"File accepted"},"400":{"description":"Bad request model data"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Bearer":["Ops"]}]}},"/api/ops/v1/personal-identities/{identityId}/documents/{documentId}/verify":{"post":{"tags":["Ops"],"summary":"Updates status of Document with status ManualReviewNeeded (Auth policies: Ops)","parameters":[{"name":"identityId","in":"path","description":"Id of the identity","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentId","in":"path","description":"Id of the document","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.Documents.ManualDocumentVerificationRequestModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManualDocumentVerificationRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/ManualDocumentVerificationRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ManualDocumentVerificationRequestModel"}}}},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Identity was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["Ops"]}]}},"/api/ops/v1/personal-identities/{identityId}/verify":{"post":{"tags":["Ops"],"summary":"Endpoint for manual verification of personal Identity. Identity can be upgraded to L1 level or Suspended based on decision. (Auth policies: Ops)","parameters":[{"name":"identityId","in":"path","description":"Identity id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.UserIdentities.ManualIdentityVerificationRequestModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManualIdentityVerificationRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/ManualIdentityVerificationRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ManualIdentityVerificationRequestModel"}}}},"responses":{"200":{"description":"Identity was successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":["Ops"]}]}},"/api/trust/v1/personal-identities/{identityId}/documents":{"post":{"tags":["PersonalDocuments"],"summary":"Uploads a document for KYC-checks (Auth)","parameters":[{"name":"identityId","in":"path","description":"Id of the identity, to which document will be linked","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["DocumentFront","DocumentType"],"type":"object","properties":{"DocumentType":{"$ref":"#/components/schemas/PersonalDocumentType"},"DocumentFront":{"type":"string","description":"An image of the front of the ID. For passports, the front is the page containing the user's name and photograph.","format":"binary"},"DocumentBack":{"type":"string","description":"An image of the back of the ID. This parameter is optional for the passport but required for others documents.","format":"binary"},"SelfPortrait":{"type":"string","description":"A self-portrait of the user for facial recognition. This parameter is optional and can be used as an additional data point for verification.","format":"binary"}}},"encoding":{"DocumentType":{"style":"form"},"DocumentFront":{"style":"form"},"DocumentBack":{"style":"form"},"SelfPortrait":{"style":"form"}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Not authorized to access this identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/compliance/v1/personal-identities/{identityId}/documents":{"post":{"tags":["PersonalDocuments"],"summary":"Uploads a document for KYC-checks (Auth)","parameters":[{"name":"identityId","in":"path","description":"Id of the identity, to which document will be linked","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["DocumentFront","DocumentType"],"type":"object","properties":{"DocumentType":{"$ref":"#/components/schemas/PersonalDocumentType"},"DocumentFront":{"type":"string","description":"An image of the front of the ID. For passports, the front is the page containing the user's name and photograph.","format":"binary"},"DocumentBack":{"type":"string","description":"An image of the back of the ID. This parameter is optional for the passport but required for others documents.","format":"binary"},"SelfPortrait":{"type":"string","description":"A self-portrait of the user for facial recognition. This parameter is optional and can be used as an additional data point for verification.","format":"binary"}}},"encoding":{"DocumentType":{"style":"form"},"DocumentFront":{"style":"form"},"DocumentBack":{"style":"form"},"SelfPortrait":{"style":"form"}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Not authorized to access this identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/personal-identities/{identityId}/update-without-kyc":{"patch":{"tags":["PersonalIdentities"],"summary":"Update existing personal identity (Auth)","parameters":[{"name":"identityId","in":"path","description":"Identity id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.UserIdentities.UserIdentityPartialUpdateModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserIdentityPartialUpdateModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/UserIdentityPartialUpdateModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UserIdentityPartialUpdateModel"}}}},"responses":{"200":{"description":"Identity was successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Identity has no access to a specified identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/personal-identities/{identityId}/verify":{"post":{"tags":["PersonalIdentities"],"summary":"Endpoint for manual verification of personal Identity. Identity can be upgraded to L1 level or Suspended based on decision. (Auth)","parameters":[{"name":"identityId","in":"path","description":"Identity id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.UserIdentities.ManualIdentityVerificationByOrgRequestModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManualIdentityVerificationByOrgRequestModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/ManualIdentityVerificationByOrgRequestModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ManualIdentityVerificationByOrgRequestModel"}}}},"responses":{"200":{"description":"Identity was successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden"},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/personal-identities/{identityId}":{"patch":{"tags":["PersonalIdentities"],"summary":"Update existing personal identity (Auth)","parameters":[{"name":"identityId","in":"path","description":"Identity id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.UserIdentities.PersonalUserIdentityUpdateModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityUpdateModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityUpdateModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityUpdateModel"}}}},"responses":{"200":{"description":"Identity was successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Identity has no access to a specified identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]},"get":{"tags":["PersonalIdentities"],"summary":"Gets a personal identity (Auth)","parameters":[{"name":"identityId","in":"path","description":"An id of the identity to retrieve","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Identity was successfully retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityModel"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Identity has no access to a specified identity container","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/personal-identities/{identityId}/upgrade":{"post":{"tags":["PersonalIdentities"],"summary":"Upgrade existing L0 personal identity (Auth)","parameters":[{"name":"identityId","in":"path","description":"Identity id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Identity was successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Identity has no access to a specified identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/personal-identities/sanctions-screen/{identityId}":{"post":{"tags":["PersonalIdentities"],"summary":"Screen existing L0 personal identity (Auth)","parameters":[{"name":"identityId","in":"path","description":"Identity id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Screened successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Identity has no access to a specified identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/trust/v1/personal-identities/{identityId}/due-diligence":{"patch":{"tags":["PersonalIdentities"],"summary":"Update personal identity due diligence (Auth)","parameters":[{"name":"identityId","in":"path","description":"Identity id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.UserIdentities.DueDiligenceModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DueDiligenceModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/DueDiligenceModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/DueDiligenceModel"}}}},"responses":{"200":{"description":"Identity was successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Identity has no access to a specified identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]},"put":{"tags":["PersonalIdentities"],"summary":"Put personal identity due diligence (Auth)","parameters":[{"name":"identityId","in":"path","description":"Identity id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.UserIdentities.DueDiligenceModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DueDiligenceModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/DueDiligenceModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/DueDiligenceModel"}}}},"responses":{"200":{"description":"Identity was successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Identity has no access to a specified identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/compliance/v1/personal-identities/{identityId}":{"patch":{"tags":["PersonalIdentities"],"summary":"Update existing personal identity (Auth)","parameters":[{"name":"identityId","in":"path","description":"Identity id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.UserIdentities.PersonalUserIdentityUpdateModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityUpdateModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityUpdateModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityUpdateModel"}}}},"responses":{"200":{"description":"Identity was successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Identity has no access to a specified identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]},"get":{"tags":["PersonalIdentities"],"summary":"Gets a personal identity (Auth)","parameters":[{"name":"identityId","in":"path","description":"An id of the identity to retrieve","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Identity was successfully retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityModel"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Identity has no access to a specified identity container","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/compliance/v1/personal-identities/{identityId}/upgrade":{"post":{"tags":["PersonalIdentities"],"summary":"Upgrade existing L0 personal identity (Auth)","parameters":[{"name":"identityId","in":"path","description":"Identity id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Identity was successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Identity has no access to a specified identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/compliance/v1/personal-identities/sanctions-screen/{identityId}":{"post":{"tags":["PersonalIdentities"],"summary":"Screen existing L0 personal identity (Auth)","parameters":[{"name":"identityId","in":"path","description":"Identity id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Screened successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Identity has no access to a specified identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}},"/api/compliance/v1/personal-identities/{identityId}/due-diligence":{"patch":{"tags":["PersonalIdentities"],"summary":"Update personal identity due diligence (Auth)","parameters":[{"name":"identityId","in":"path","description":"Identity id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.UserIdentities.DueDiligenceModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DueDiligenceModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/DueDiligenceModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/DueDiligenceModel"}}}},"responses":{"200":{"description":"Identity was successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Identity has no access to a specified identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]},"put":{"tags":["PersonalIdentities"],"summary":"Put personal identity due diligence (Auth)","parameters":[{"name":"identityId","in":"path","description":"Identity id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The <see cref=\"T:Fortress.Identity.Application.Models.UserIdentities.DueDiligenceModel\"></see> data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DueDiligenceModel"}},"text/json":{"schema":{"$ref":"#/components/schemas/DueDiligenceModel"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/DueDiligenceModel"}}}},"responses":{"200":{"description":"Identity was successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonalUserIdentityModel"}}}},"400":{"description":"Bad request model data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Identity with such auth identifier is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Identity has no access to a specified identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"security":[{"Bearer":[]}]}}},"components":{"schemas":{"Aamva":{"type":"object","properties":{"status":{"type":"string","nullable":true},"confidenceScore":{"type":"integer","format":"int64","nullable":true}},"additionalProperties":false},"Address":{"type":"object","properties":{"type":{"type":"string","nullable":true},"address_line_1":{"type":"string","nullable":true},"address_line_2":{"type":"string","nullable":true},"adderss_city":{"type":"string","nullable":true},"address_state":{"type":"string","nullable":true},"address_postal_code":{"type":"string","nullable":true},"address_country_code":{"type":"string","nullable":true}},"additionalProperties":false},"AddressDTO":{"type":"object","properties":{"id":{"type":"string","nullable":true},"street1":{"type":"string","nullable":true},"street2":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"state":{"type":"string","nullable":true},"postalCode":{"type":"string","nullable":true},"country":{"type":"string","nullable":true}},"additionalProperties":false},"AddressModel":{"required":["city","country","street1"],"type":"object","properties":{"street1":{"minLength":1,"type":"string","description":"Gets or sets the first street"},"street2":{"type":"string","description":"Gets or sets the second street","nullable":true},"postalCode":{"type":"string","description":"Gets or sets the postal code (ZIP code)","nullable":true},"city":{"minLength":1,"type":"string","description":"Gets or sets the city"},"state":{"type":"string","description":"Gets or sets the state","nullable":true},"country":{"minLength":1,"type":"string","description":"Gets or sets the country"}},"additionalProperties":false,"description":"Represents Address model"},"AlloyCacheDataDto":{"type":"object","properties":{"entity":{"type":"array","items":{"$ref":"#/components/schemas/AlloyEntityDto"},"nullable":true},"documents":{"type":"array","items":{"$ref":"#/components/schemas/DocumentDto"},"nullable":true},"evaluations":{"type":"array","items":{"$ref":"#/components/schemas/EvaluationDto"},"nullable":true}},"additionalProperties":false},"AlloyEntityDto":{"type":"object","properties":{"id":{"type":"string","nullable":true,"readOnly":true},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"documentVersion":{"type":"string","nullable":true},"revision":{"type":"integer","format":"int64"},"identityId":{"type":"string","nullable":true},"request":{"$ref":"#/components/schemas/CreateEntityRequest"},"response":{"$ref":"#/components/schemas/CreateEntityResponse"}},"additionalProperties":false},"AlloyImportModel":{"required":["entityToken"],"type":"object","properties":{"entityToken":{"minLength":1,"type":"string"},"evaluationToken":{"type":"string","nullable":true}},"additionalProperties":false},"BusinessDocumentType":{"enum":["other","proofOfAddress","proofOfCompanyFormation","formationDocument","agreement","taxIdDocument"],"type":"string"},"BusinessDocumentUploadTypeModel":{"enum":["other","formationDocument","agreement","taxIdDocument"],"type":"string"},"BusinessIdentityPartialUpdateModel":{"type":"object","properties":{"address":{"$ref":"#/components/schemas/AddressModel"},"phone":{"type":"string","nullable":true},"email":{"type":"string","nullable":true},"industry":{"$ref":"#/components/schemas/BusinessIndustry"},"otherIndustry":{"maxLength":1000,"type":"string","nullable":true}},"additionalProperties":false},"BusinessIndustry":{"enum":["b2b","b2c","accounting","aerospace","agriculture","aquaticsMarine","automotive","businessServices","charity","computerSoftware","construction","cryptoBlockchain","education","energy","engineering","entertainment","environmentGreen","farming","fashion","financialServices","franchise","gaming","gigEconomy","government","hospitality","informationTechnology","insurance","internet","international","lawEnforcementMilitary","lifestyle","manufacturing","marketingServices","mediaPublishing","medical","mobileApps","music","naturalResources","networkMarketing","performingArts","personalServices","professionalServices","realEstate","recreation","retail","royalties","science","securities","shippingTransportation","software","storageWarehousing","supplier","technology","transportation","wholesale","other","art"],"type":"string"},"BusinessUserIdentityCreateModel":{"required":["address","companyName","description","email","identityContainerId","legalStructure","phone","regionOfFormation"],"type":"object","properties":{"identityContainerId":{"minLength":1,"type":"string","format":"uuid"},"companyName":{"maxLength":60,"minLength":1,"type":"string"},"ein":{"type":"string","nullable":true},"website":{"maxLength":100,"minLength":1,"type":"string","nullable":true},"phone":{"maxLength":20,"minLength":1,"type":"string"},"email":{"minLength":1,"type":"string"},"address":{"$ref":"#/components/schemas/AddressModel"},"regionOfFormation":{"minLength":1,"type":"string"},"description":{"minLength":1,"type":"string"},"establishedOn":{"type":"string","format":"date-time"},"legalStructure":{"$ref":"#/components/schemas/LegalStructure"},"otherLegalStructure":{"maxLength":50,"minLength":1,"type":"string","nullable":true},"mailingAddress":{"$ref":"#/components/schemas/AddressModel"},"naics":{"type":"string","nullable":true},"naicsDescription":{"type":"string","nullable":true},"beneficialOwners":{"type":"array","items":{"type":"string","format":"uuid"},"nullable":true},"industry":{"$ref":"#/components/schemas/BusinessIndustry"},"otherIndustry":{"maxLength":1000,"type":"string","nullable":true}},"additionalProperties":false},"BusinessUserIdentityModel":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"identityContainerId":{"type":"string","format":"uuid","nullable":true},"kycLevel":{"type":"string","nullable":true},"type":{"$ref":"#/components/schemas/UserIdentityType"},"status":{"$ref":"#/components/schemas/UserIdentityStatus"},"address":{"$ref":"#/components/schemas/AddressModel"},"email":{"type":"string","nullable":true},"documents":{"type":"array","items":{"$ref":"#/components/schemas/DocumentModel"},"nullable":true},"companyName":{"type":"string","nullable":true},"phone":{"type":"string","nullable":true},"ein":{"type":"string","nullable":true},"website":{"type":"string","nullable":true},"regionOfFormation":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"establishedOn":{"type":"string","format":"date-time"},"legalStructure":{"$ref":"#/components/schemas/LegalStructure"},"otherLegalStructure":{"type":"string","nullable":true},"mailingAddress":{"$ref":"#/components/schemas/AddressModel"},"naics":{"type":"string","nullable":true},"naicsDescription":{"type":"string","nullable":true},"isSuspended":{"type":"boolean"},"beneficialOwners":{"type":"array","items":{"type":"string","format":"uuid"},"nullable":true},"industry":{"$ref":"#/components/schemas/BusinessIndustry"},"otherIndustry":{"type":"string","nullable":true}},"additionalProperties":false},"BusinessUserIdentityUpdateModel":{"required":["address","regionOfFormation"],"type":"object","properties":{"address":{"$ref":"#/components/schemas/AddressModel"},"regionOfFormation":{"minLength":1,"type":"string"},"ein":{"type":"string","nullable":true}},"additionalProperties":false},"Codes":{"type":"object","properties":{"reliability":{"type":"string","nullable":true},"adaptation":{"type":"string","nullable":true},"detailCode":{"type":"string","nullable":true},"detail_list":{"type":"string","nullable":true},"options":{"type":"string","nullable":true},"messages":{"type":"array","items":{"$ref":"#/components/schemas/Message"},"nullable":true}},"additionalProperties":false},"CognitoCacheDataDto":{"type":"object","properties":{"profile":{"type":"array","items":{"$ref":"#/components/schemas/IdentityProfileDTO"},"nullable":true},"searches":{"type":"array","items":{"$ref":"#/components/schemas/IdentitySearchDTO"},"nullable":true},"assessments":{"type":"array","items":{"$ref":"#/components/schemas/IdentityAssessmentDTO"},"nullable":true}},"additionalProperties":false},"ComplianceCreateModel":{"required":["email","firstName","lastName","phone"],"type":"object","properties":{"firstName":{"minLength":1,"type":"string"},"middleName":{"type":"string","nullable":true},"lastName":{"minLength":1,"type":"string"},"phone":{"maxLength":20,"minLength":1,"type":"string"},"email":{"minLength":1,"type":"string"},"address":{"$ref":"#/components/schemas/AddressModel"},"dateOfBirth":{"type":"string","format":"date","nullable":true},"ssn":{"type":"string","nullable":true},"dueDiligence":{"$ref":"#/components/schemas/DueDiligenceModel"}},"additionalProperties":false},"ComplyAdvantageFormatedData":{"type":"object","properties":{"match_count":{"type":"integer","format":"int32"},"matched_lists":{"type":"array","items":{},"nullable":true},"matches":{"type":"array","items":{},"nullable":true},"watchlist_categories":{"type":"array","items":{},"nullable":true},"watchlist_sources":{"type":"array","items":{},"nullable":true},"code":{"type":"integer","format":"int32"}},"additionalProperties":false},"ComplyAdvantageItem":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"status":{"type":"string","nullable":true},"content":{"$ref":"#/components/schemas/Content"}},"additionalProperties":false},"Content":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ContentData"}},"additionalProperties":false},"ContentData":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"ref":{"type":"string","nullable":true},"searcher_id":{"type":"integer","format":"int32"},"assignee_id":{"type":"integer","format":"int32"},"filters":{"$ref":"#/components/schemas/Filters"},"match_status":{"type":"string","nullable":true},"risk_level":{"type":"string","nullable":true},"search_term":{"type":"string","nullable":true},"submitted_term":{"type":"string","nullable":true},"client_ref":{"nullable":true},"total_hits":{"type":"integer","format":"int32"},"updated_at":{"type":"string","nullable":true},"created_at":{"type":"string","nullable":true},"tags":{"type":"array","items":{},"nullable":true}},"additionalProperties":false},"CountryTierCreateModel":{"required":["countryCode"],"type":"object","properties":{"tier":{"$ref":"#/components/schemas/TierModel"},"countryCode":{"minLength":1,"type":"string"}},"additionalProperties":false},"CountryTierResponseModel":{"type":"object","properties":{"tier":{"$ref":"#/components/schemas/TierModel"},"countryCode":{"type":"string","nullable":true}},"additionalProperties":false},"CreateEntityRequest":{"type":"object","properties":{"external_entity_id":{"type":"string","nullable":true},"phones":{"type":"array","items":{"$ref":"#/components/schemas/PhoneModel"},"nullable":true},"emails":{"type":"array","items":{"$ref":"#/components/schemas/EmailModel"},"nullable":true},"addresses":{"type":"array","items":{"$ref":"#/components/schemas/ExternalAddressModel"},"nullable":true}},"additionalProperties":false},"CreateEntityResponse":{"type":"object","properties":{"entity_token":{"type":"string","nullable":true},"status_code":{"type":"integer","format":"int32"},"type":{"type":"string","nullable":true},"external_entity_id":{"type":"string","nullable":true},"phones":{"type":"array","items":{"$ref":"#/components/schemas/PhoneModel"},"nullable":true},"emails":{"type":"array","items":{"$ref":"#/components/schemas/EmailModel"},"nullable":true},"addresses":{"type":"array","items":{"$ref":"#/components/schemas/ExternalAddressModel"},"nullable":true}},"additionalProperties":false},"Crosscheck":{"type":"object","properties":{"address":{"$ref":"#/components/schemas/CrosscheckAddress"},"darkWeb":{"$ref":"#/components/schemas/DarkWeb"}},"additionalProperties":false},"CrosscheckAddress":{"type":"object","properties":{"isValid":{"type":"boolean"},"isCommercial":{"type":"boolean"},"isForwarder":{"type":"boolean"}},"additionalProperties":false},"DarkWeb":{"type":"object","properties":{"criminalMaxScore":{"type":"integer","format":"int64","nullable":true},"criminalCount":{"type":"integer","format":"int64","nullable":true}},"additionalProperties":false},"Data":{"type":"object","properties":{"verification_success":{"type":"boolean","nullable":true},"reasoncodes":{"type":"array","items":{},"nullable":true},"confidences":{"$ref":"#/components/schemas/DataConfidences"},"age":{"type":"integer","format":"int64","nullable":true},"crosscheck_address_type":{"type":"string","nullable":true},"idAddressFound":{"type":"boolean","nullable":true},"selfieMatchScoreReturned":{"type":"boolean","nullable":true},"aamvaConfidenceScoreReturned":{"type":"boolean","nullable":true},"id_expired":{"type":"boolean","nullable":true},"fraudulent_document_signal_count":{"type":"integer","format":"int64","nullable":true},"id_type":{"type":"string","nullable":true}},"additionalProperties":false},"DataConfidences":{"type":"object","properties":{"id":{"nullable":true},"id_match":{"nullable":true},"birth_date_match":{"nullable":true},"name_match":{"nullable":true},"selfie":{"nullable":true},"selfie_match":{"nullable":true}},"additionalProperties":false},"DateDTO":{"type":"object","properties":{"id":{"type":"string","nullable":true},"date":{"type":"string","format":"date-time"}},"additionalProperties":false},"DescribeDocumentRequest":{"type":"object","properties":{"name":{"type":"string","nullable":true},"extension":{"type":"string","nullable":true},"type":{"type":"string","nullable":true},"note":{"type":"string","nullable":true},"note_author_agent_email":{"type":"string","nullable":true}},"additionalProperties":false},"Diligence":{"type":"object","properties":{"watchlists":{"$ref":"#/components/schemas/Watchlists"},"fraud":{"$ref":"#/components/schemas/Fraud"},"financial":{"nullable":true}},"additionalProperties":false},"DobClass":{"type":"object","properties":{"score":{"type":"number","format":"double","nullable":true},"matched":{"type":"boolean","nullable":true}},"additionalProperties":false},"DocumentDto":{"type":"object","properties":{"id":{"type":"string","nullable":true,"readOnly":true},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"documentVersion":{"type":"string","nullable":true},"revision":{"type":"integer","format":"int64"},"identityId":{"type":"string","nullable":true},"documentId":{"type":"string","nullable":true},"documentToken":{"type":"string","nullable":true},"entityToken":{"type":"string","nullable":true},"request":{"$ref":"#/components/schemas/DescribeDocumentRequest"},"response":{"$ref":"#/components/schemas/DocumentResponse"}},"additionalProperties":false},"DocumentModel":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"identityId":{"type":"string","format":"uuid"},"personalDocumentType":{"$ref":"#/components/schemas/PersonalDocumentType"},"businessDocumentType":{"$ref":"#/components/schemas/BusinessDocumentType"},"documentReferenceId":{"type":"string","format":"uuid","nullable":true},"documentUuid":{"type":"string","format":"uuid","nullable":true},"documentCheckStatus":{"$ref":"#/components/schemas/DocumentStatus"},"isVerified":{"type":"boolean","readOnly":true}},"additionalProperties":false},"DocumentResponse":{"type":"object","properties":{"document_token":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"extension":{"type":"string","nullable":true},"type":{"type":"string","nullable":true},"note":{"type":"string","nullable":true},"uploaded":{"type":"boolean"}},"additionalProperties":false},"DocumentStatus":{"enum":["pending","automaticReviewInProgress","manualReviewNeeded","accepted","rejected","resubmit"],"type":"string"},"DocumentUpdateStatus":{"enum":["accept","reject","resubmit"],"type":"string","description":"Update document status model"},"DueDiligenceModel":{"type":"object","properties":{"employmentStatus":{"$ref":"#/components/schemas/EmploymentStatus"},"industry":{"$ref":"#/components/schemas/Industry"},"occupation":{"$ref":"#/components/schemas/Occupation"},"occupationDescription":{"type":"string","nullable":true},"incomeSource":{"$ref":"#/components/schemas/IncomeSource"},"incomeState":{"type":"string","nullable":true},"incomeCountryCode":{"type":"string","nullable":true},"employer":{"type":"string","nullable":true},"employerState":{"type":"string","nullable":true},"employerCountryCode":{"type":"string","nullable":true},"wealthSource":{"$ref":"#/components/schemas/WealthSource"},"wealthSourceDescription":{"type":"string","nullable":true},"sourceOfFunds":{"$ref":"#/components/schemas/SourceOfFunds"},"annualIncome":{"type":"integer","format":"int64","nullable":true}},"additionalProperties":false},"Email":{"type":"object","properties":{"full_email_address":{"type":"string","nullable":true},"domain":{"type":"string","nullable":true},"top_level":{"type":"string","nullable":true},"addressee":{"type":"string","nullable":true},"display_name":{"type":"string","nullable":true},"countryCode":{"type":"string","nullable":true},"codes":{"$ref":"#/components/schemas/Codes"}},"additionalProperties":false},"EmailModel":{"type":"object","properties":{"email_address":{"type":"string","nullable":true}},"additionalProperties":false},"EmploymentStatus":{"enum":["employed","selfEmployed","retired","unemployed","student"],"type":"string"},"EvaluationDto":{"type":"object","properties":{"id":{"type":"string","nullable":true,"readOnly":true},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"documentVersion":{"type":"string","nullable":true},"revision":{"type":"integer","format":"int64"},"identityId":{"type":"string","nullable":true},"documentId":{"type":"string","nullable":true},"evaluationToken":{"type":"string","nullable":true},"request":{"$ref":"#/components/schemas/EvaluationRequest"},"response":{"$ref":"#/components/schemas/EvaluationResponse"}},"additionalProperties":false},"EvaluationRequest":{"type":"object","properties":{"document_token_front":{"type":"string","nullable":true},"document_token_back":{"type":"string","nullable":true},"document_token_selfie":{"type":"string","nullable":true},"document_step":{"type":"string","nullable":true},"manual_input":{"type":"string","nullable":true},"name_first":{"type":"string","nullable":true},"name_last":{"type":"string","nullable":true},"name_middle":{"type":"string","nullable":true},"birth_date":{"type":"string","format":"date-time","nullable":true}},"additionalProperties":false},"EvaluationResponse":{"type":"object","properties":{"status_code":{"type":"integer","format":"int64"},"error":{"nullable":true},"timestamp":{"type":"integer","format":"int64"},"evaluation_token":{"type":"string","nullable":true},"external_entity_id":{"type":"string","format":"uuid"},"entity_token":{"type":"string","nullable":true},"parent_entity_token":{"type":"string","nullable":true},"application_token":{"type":"string","nullable":true},"application_version_id":{"type":"integer","format":"int64","nullable":true},"champion_challenger_id":{"type":"string","nullable":true},"summary":{"$ref":"#/components/schemas/Summary"},"supplied":{"$ref":"#/components/schemas/Formatted"},"formatted":{"$ref":"#/components/schemas/Formatted"},"matching":{"$ref":"#/components/schemas/EvaluationResponseModelMatching"},"diligence":{"$ref":"#/components/schemas/Diligence"},"related_data":{"$ref":"#/components/schemas/RelatedData"},"raw_responses":{"$ref":"#/components/schemas/RawResponses"},"formatted_responses":{"$ref":"#/components/schemas/FormattedResponses"},"audit_archive":{"nullable":true}},"additionalProperties":false},"EvaluationResponseModelMatching":{"type":"object","properties":{"average_score":{"type":"number","format":"double","nullable":true}},"additionalProperties":false},"ExternalAddressModel":{"type":"object","properties":{"address_line_1":{"type":"string","nullable":true},"address_city":{"type":"string","nullable":true},"address_state":{"type":"string","nullable":true},"address_postal_code":{"type":"string","nullable":true},"address_country_code":{"type":"string","nullable":true},"address_country":{"type":"string","nullable":true},"type":{"type":"string","nullable":true}},"additionalProperties":false},"Filters":{"type":"object","properties":{"country_codes":{"type":"array","items":{},"nullable":true},"remove_deceased":{"type":"integer","format":"int32"},"types":{"type":"array","items":{},"nullable":true},"exact_match":{"type":"boolean"},"fuzziness":{"type":"number","format":"double","nullable":true}},"additionalProperties":false},"FormatedMatching":{"type":"object","properties":{"name":{"$ref":"#/components/schemas/FormatedMatchingItem"},"name_first":{"$ref":"#/components/schemas/FormatedMatchingItem"},"name_last":{"$ref":"#/components/schemas/FormatedMatchingItem"},"name_middle":{"$ref":"#/components/schemas/FormatedMatchingItem"},"dob":{"$ref":"#/components/schemas/FormatedMatchingItem"},"address":{"$ref":"#/components/schemas/FormatedMatchingItem"},"phone":{"$ref":"#/components/schemas/FormatedMatchingItem"},"ssn":{"$ref":"#/components/schemas/FormatedMatchingItem"},"email":{"$ref":"#/components/schemas/FormatedMatchingItem"},"document_national_id":{"$ref":"#/components/schemas/FormatedMatchingItem"},"name_and_dob":{"$ref":"#/components/schemas/FormatedMatchingItem"},"name_and_dob_and_ssn":{"$ref":"#/components/schemas/FormatedMatchingItem"},"business_fein":{"$ref":"#/components/schemas/FormatedMatchingItem"},"business_name":{"$ref":"#/components/schemas/FormatedMatchingItem"}},"additionalProperties":false},"FormatedMatchingItem":{"type":"object","properties":{"score":{"type":"number","format":"double","nullable":true},"matched":{"type":"boolean"}},"additionalProperties":false},"Formatted":{"type":"object","properties":{"document_token_front":{"type":"string","nullable":true},"document_token_back":{"type":"string","nullable":true},"document_token_selfie":{"type":"string","nullable":true},"document_step":{"type":"string","nullable":true},"age":{"nullable":true}},"additionalProperties":false},"FormattedResponses":{"type":"object","properties":{"Vouched":{"$ref":"#/components/schemas/FormattedResponsesVouched"},"GDC Worldview":{"$ref":"#/components/schemas/FormattedResponsesGdcWorldview"},"Iovation":{"$ref":"#/components/schemas/FormattedResponsesIovation"},"ComplyAdvantage":{"$ref":"#/components/schemas/FormattedResponsesComplyAdvantage"},"List":{"$ref":"#/components/schemas/FormattedResponsesList"},"Identity Element Velocity":{"$ref":"#/components/schemas/FormattedResponsesIdentityElementVelocity"}},"additionalProperties":false},"FormattedResponsesComplyAdvantage":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ComplyAdvantageFormatedData"}},"additionalProperties":false},"FormattedResponsesGdcWorldview":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/GdcFormatedData"},"matching":{"$ref":"#/components/schemas/FormatedMatching"}},"additionalProperties":false},"FormattedResponsesIdentityElementVelocity":{"type":"object","properties":{"data":{"nullable":true}},"additionalProperties":false},"FormattedResponsesIovation":{"type":"object","properties":{"data":{"nullable":true}},"additionalProperties":false},"FormattedResponsesList":{"type":"object","properties":{"matching":{"$ref":"#/components/schemas/FormatedMatching"},"data":{"nullable":true}},"additionalProperties":false},"FormattedResponsesVouched":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Data"},"matching":{"$ref":"#/components/schemas/VouchedMatching"}},"additionalProperties":false},"Fraud":{"type":"object","properties":{"score":{"type":"number","format":"double","nullable":true},"average_score":{"type":"number","format":"double","nullable":true},"flags":{"type":"array","items":{},"nullable":true},"sources":{"$ref":"#/components/schemas/Sources"}},"additionalProperties":false},"FraudCheckServiceResult":{"type":"object","properties":{"normalized_score":{"type":"number","format":"double","nullable":true},"raw_score":{"type":"number","format":"double","nullable":true},"attribute":{"type":"string","nullable":true}},"additionalProperties":false},"FraudScore":{"type":"object","properties":{"reasonCodes":{"type":"array","items":{"type":"string"},"nullable":true},"scores":{"type":"array","items":{"$ref":"#/components/schemas/ScoreDetails"},"nullable":true}},"additionalProperties":false},"FuzzyComparisonRequest":{"required":["left","right"],"type":"object","properties":{"left":{"minLength":1,"type":"string"},"right":{"minLength":1,"type":"string"}},"additionalProperties":false},"FuzzyComparisonResponseModel":{"type":"object","properties":{"left":{"type":"string","nullable":true},"right":{"type":"string","nullable":true},"ratio":{"type":"integer","format":"int32"}},"additionalProperties":false},"GdcFormatedData":{"type":"object","properties":{"all_reason_codes":{"type":"array","items":{"type":"string"},"nullable":true},"uk_credit_source":{"nullable":true},"uk_other_source":{"nullable":true},"uk_electoral_roll_source":{"nullable":true},"gdc_reasons":{"type":"string","nullable":true}},"additionalProperties":false},"GdcWorldviewItem":{"type":"object","properties":{"address":{"$ref":"#/components/schemas/Address"},"codes":{"$ref":"#/components/schemas/Codes"},"email":{"$ref":"#/components/schemas/Email"},"identity":{"$ref":"#/components/schemas/Identity"},"phone":{"$ref":"#/components/schemas/Phone"}},"additionalProperties":false},"GlobalWatchList":{"type":"object","properties":{"matches":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/MatchObject"},"nullable":true},"nullable":true},"reasonCodes":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false},"IdAddress":{"type":"object","properties":{"streetNumber":{"type":"string","nullable":true},"street":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"state":{"type":"string","nullable":true},"postalCode":{"type":"string","nullable":true}},"additionalProperties":false},"IdField":{"type":"object","properties":{"name":{"type":"string","nullable":true}},"additionalProperties":false},"Identity":{"type":"object","properties":{"completename":{"type":"string","nullable":true},"formofaddress":{"type":"string","nullable":true},"qualificationpreceding":{"type":"string","nullable":true},"givenfullname":{"type":"string","nullable":true},"givennameinitials":{"type":"string","nullable":true},"qualification_int_first":{"type":"string","nullable":true},"surname_prefix_first":{"type":"string","nullable":true},"surname_first":{"type":"string","nullable":true},"qualification_int_second":{"type":"string","nullable":true},"surname_prefix_second":{"type":"string","nullable":true},"qualification_suceeding":{"type":"string","nullable":true},"name_qualified":{"type":"string","nullable":true},"function":{"type":"string","nullable":true},"gender":{"type":"string","nullable":true},"nationality":{"type":"string","nullable":true},"nationalid":{"type":"string","nullable":true},"organization_name":{"type":"string","nullable":true},"dob":{"type":"string","nullable":true},"businessid":{"type":"string","nullable":true},"contact_type":{"type":"string","nullable":true},"countryCode":{"type":"string","nullable":true},"passport":{"type":"string","nullable":true},"codes":{"$ref":"#/components/schemas/Codes"}},"additionalProperties":false},"IdentityAssessmentDTO":{"type":"object","properties":{"id":{"type":"string","nullable":true,"readOnly":true},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"documentVersion":{"type":"string","nullable":true},"revision":{"type":"integer","format":"int64"},"identityId":{"type":"string","format":"uuid"},"dataHash":{"type":"string","format":"uuid"},"searchId":{"type":"string","nullable":true},"assessmentRequest":{"$ref":"#/components/schemas/IdentityDataDTO"},"assessmentResponse":{"$ref":"#/components/schemas/IdentityAssessmentResponseDTO"}},"additionalProperties":false},"IdentityAssessmentResponseDTO":{"type":"object","properties":{"id":{"type":"string","nullable":true},"type":{"type":"string","nullable":true,"readOnly":true},"phone":{"type":"string","nullable":true},"birth":{"type":"string","format":"date-time","nullable":true},"death":{"type":"string","format":"date-time","nullable":true},"name":{"$ref":"#/components/schemas/PersonNameDTO"},"ssn":{"type":"string","nullable":true},"address":{"$ref":"#/components/schemas/AddressDTO"},"identityRecordComparisons":{"type":"array","items":{},"nullable":true}},"additionalProperties":false},"IdentityCachedDataDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"identityContainerId":{"type":"string","format":"uuid","nullable":true},"kycLevel":{"type":"string","nullable":true},"email":{"type":"string","nullable":true},"phone":{"type":"string","nullable":true},"isSuspended":{"type":"boolean"},"isActive":{"type":"boolean"},"organizationId":{"type":"string","format":"uuid"},"suspendReason":{"type":"string","nullable":true},"comment":{"type":"string","nullable":true},"kycUpgradeApprovedBy":{"type":"string","nullable":true},"type":{"$ref":"#/components/schemas/UserIdentityType"},"status":{"$ref":"#/components/schemas/UserIdentityStatus"},"address":{"$ref":"#/components/schemas/AddressModel"},"documents":{"type":"array","items":{"$ref":"#/components/schemas/DocumentModel"},"nullable":true},"suspensionHistory":{"type":"array","items":{"$ref":"#/components/schemas/SuspensionHistoryModel"},"nullable":true},"firstName":{"type":"string","nullable":true},"lastName":{"type":"string","nullable":true},"middleName":{"type":"string","nullable":true},"fullName":{"type":"string","nullable":true,"readOnly":true},"ssn":{"type":"string","nullable":true},"dateOfBirth":{"type":"string","format":"date","nullable":true},"upgradeRequirements":{"type":"array","items":{"type":"string"},"nullable":true},"dueDiligence":{"$ref":"#/components/schemas/DueDiligenceModel"},"companyName":{"type":"string","nullable":true},"ein":{"type":"string","nullable":true},"website":{"type":"string","nullable":true},"regionOfFormation":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"legalStructure":{"$ref":"#/components/schemas/LegalStructure"},"otherLegalStructure":{"type":"string","nullable":true},"industry":{"$ref":"#/components/schemas/BusinessIndustry"},"otherIndustry":{"type":"string","nullable":true},"naics":{"type":"string","nullable":true},"naicsDescription":{"type":"string","nullable":true},"establishedOn":{"type":"string","format":"date-time","nullable":true},"mailingAddress":{"$ref":"#/components/schemas/AddressModel"},"beneficialOwners":{"type":"array","items":{"type":"string","format":"uuid"},"nullable":true},"cognito":{"$ref":"#/components/schemas/CognitoCacheDataDto"},"socure":{"$ref":"#/components/schemas/SocureCacheDataDto"},"alloy":{"$ref":"#/components/schemas/AlloyCacheDataDto"}},"additionalProperties":false},"IdentityContainerCreateModel":{"required":["email","firstName","lastName","phone"],"type":"object","properties":{"firstName":{"minLength":1,"type":"string"},"middleName":{"type":"string","nullable":true},"lastName":{"minLength":1,"type":"string"},"phone":{"maxLength":20,"minLength":1,"type":"string"},"email":{"minLength":1,"type":"string"},"address":{"$ref":"#/components/schemas/AddressModel"},"dateOfBirth":{"type":"string","format":"date","nullable":true},"ssn":{"type":"string","nullable":true},"dueDiligence":{"$ref":"#/components/schemas/DueDiligenceModel"},"upgradeKYC":{"type":"boolean"}},"additionalProperties":false},"IdentityContainerModel":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string","nullable":true},"firstName":{"type":"string","nullable":true},"middleName":{"type":"string","nullable":true},"lastName":{"type":"string","nullable":true},"phone":{"type":"string","nullable":true},"personalIdentity":{"type":"string","format":"uuid"},"businessIdentities":{"type":"array","items":{"type":"string","format":"uuid"},"nullable":true},"address":{"$ref":"#/components/schemas/AddressModel"},"dateOfBirth":{"type":"string","format":"date","nullable":true},"ssn":{"type":"string","nullable":true},"isSuspended":{"type":"boolean"},"dueDiligence":{"$ref":"#/components/schemas/DueDiligenceModel"}},"additionalProperties":false},"IdentityDataDTO":{"type":"object","properties":{"phone":{"type":"string","nullable":true},"birth":{"type":"string","format":"date-time","nullable":true},"death":{"type":"string","format":"date-time","nullable":true},"name":{"$ref":"#/components/schemas/PersonNameDTO"},"ssn":{"type":"string","nullable":true},"address":{"$ref":"#/components/schemas/AddressDTO"}},"additionalProperties":false},"IdentityElementVelocityItem":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/VelocityData"}},"additionalProperties":false},"IdentityProfileDTO":{"type":"object","properties":{"id":{"type":"string","nullable":true,"readOnly":true},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"documentVersion":{"type":"string","nullable":true},"revision":{"type":"integer","format":"int64"},"identityId":{"type":"string","format":"uuid"},"profileId":{"type":"string","nullable":true}},"additionalProperties":false},"IdentityRecordDTO":{"type":"object","properties":{"id":{"type":"string","nullable":true},"type":{"type":"string","nullable":true,"readOnly":true},"phones":{"type":"array","items":{"$ref":"#/components/schemas/PhoneDTO"},"nullable":true},"births":{"type":"array","items":{"$ref":"#/components/schemas/DateDTO"},"nullable":true},"deaths":{"type":"array","items":{"$ref":"#/components/schemas/DateDTO"},"nullable":true},"names":{"type":"array","items":{"$ref":"#/components/schemas/PersonNameDTO"},"nullable":true},"ssNs":{"type":"array","items":{"$ref":"#/components/schemas/SsnDTO"},"nullable":true},"addresses":{"type":"array","items":{"$ref":"#/components/schemas/AddressDTO"},"nullable":true}},"additionalProperties":false},"IdentityRestriction":{"enum":["none","disableBankAccountCreation","disableInternationalWireWithdrawalInitiation"],"type":"string"},"IdentitySearchDTO":{"type":"object","properties":{"id":{"type":"string","nullable":true,"readOnly":true},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"documentVersion":{"type":"string","nullable":true},"revision":{"type":"integer","format":"int64"},"identityId":{"type":"string","format":"uuid"},"dataHash":{"type":"string","format":"uuid"},"searchRequest":{"$ref":"#/components/schemas/IdentityDataDTO"},"searchResponse":{"$ref":"#/components/schemas/IdentitySearchResponseDTO"}},"additionalProperties":false},"IdentitySearchResponseDTO":{"type":"object","properties":{"id":{"type":"string","nullable":true},"type":{"type":"string","nullable":true},"createdAt":{"type":"string","nullable":true},"updatedAt":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"profile":{"type":"string","nullable":true},"phone":{"type":"string","nullable":true},"birth":{"type":"string","format":"date-time","nullable":true},"death":{"type":"string","format":"date-time","nullable":true},"name":{"$ref":"#/components/schemas/PersonNameDTO"},"ssn":{"type":"string","nullable":true},"address":{"$ref":"#/components/schemas/AddressDTO"},"identityRecords":{"type":"array","items":{"$ref":"#/components/schemas/IdentityRecordDTO"},"nullable":true}},"additionalProperties":false},"IdentityStatusModel":{"enum":["active","inactive"],"type":"string"},"IdentityStatusResponse":{"enum":["active","inactive","inactivationStarted"],"type":"string"},"IdentityUpdateModel":{"type":"object","properties":{"status":{"$ref":"#/components/schemas/IdentityStatusModel"},"restrictions":{"type":"array","items":{"$ref":"#/components/schemas/IdentityRestriction"},"nullable":true}},"additionalProperties":false},"IdentityUpdateResponse":{"type":"object","properties":{"state":{"$ref":"#/components/schemas/IdentityStatusResponse"},"restrictions":{"type":"array","items":{"$ref":"#/components/schemas/IdentityRestriction"},"nullable":true}},"additionalProperties":false},"IdentityUpdateStatusModel":{"type":"object","properties":{"status":{"$ref":"#/components/schemas/IdentityStatusModel"}},"additionalProperties":false},"IdentityUpdateStatusResponse":{"type":"object","properties":{"state":{"$ref":"#/components/schemas/IdentityStatusResponse"}},"additionalProperties":false},"IncomeSource":{"enum":["salary","selfEmployed","inheritance","investments","retirement","rentalIncome","governmentBenefits","familySupport"],"type":"string"},"Industry":{"enum":["agriculture","mining","utilities","construction","manufacturing","chemicalManufacturing","merchantWholesale","automotive","retailFurnishing","retailElectronics","retailHome","retailFood","healthStores","gasoline","retailClothing","retailSporting","retailNonStore","transportation","publishing","finance","realEstate","rentalServices","professionalNonLegal","accounting","travel","educationalMedical","performingArts","recreationGambling","foodService","maintenance","laundry","religiousCharity","publicAdministration"],"type":"string"},"IovationItem":{"type":"object","properties":{"result":{"type":"string","nullable":true},"reason":{"type":"string","nullable":true},"trackingnumber":{"type":"string","nullable":true},"device.alias":{"type":"string","nullable":true},"device.firstseen":{"type":"string","format":"date-time"},"device.new":{"type":"string","nullable":true},"device.bb.age":{"type":"string","nullable":true},"device.bb.timestamp":{"type":"string","format":"date-time"},"device.browser.configuredlang":{"type":"string","nullable":true},"device.browser.lang":{"type":"string","nullable":true},"device.browser.type":{"type":"string","nullable":true},"device.browser.version":{"type":"string","nullable":true},"device.cookie.enabled":{"type":"string","nullable":true},"device.flash.enabled":{"type":"string","nullable":true},"device.flash.installed":{"type":"string","nullable":true},"device.flash.version":{"type":"string","nullable":true},"device.js.enabled":{"type":"string","nullable":true},"device.os":{"type":"string","nullable":true},"device.screen":{"type":"string","nullable":true},"device.type":{"type":"string","nullable":true},"device.tz":{"type":"string","nullable":true},"ipaddress":{"type":"string","nullable":true},"ipaddress.isp":{"type":"string","nullable":true},"ipaddress.loc.region":{"type":"string","nullable":true},"ipaddress.loc.countrycode":{"type":"string","nullable":true},"mobile.app.exeName":{"type":"string","nullable":true},"mobile.build.device":{"type":"string","nullable":true},"mobile.build.product":{"type":"string","nullable":true},"mobile.device.brand":{"type":"string","nullable":true},"mobile.device.charging":{"type":"string","nullable":true},"mobile.device.manufacturer":{"type":"string","nullable":true},"mobile.device.model":{"type":"string","nullable":true},"mobile.location.enabled":{"type":"string","nullable":true},"mobile.location.timezone":{"type":"string","nullable":true},"mobile.system.carrierCountryCode":{"type":"string","nullable":true},"mobile.system.jailrootDetected":{"type":"string","nullable":true},"mobile.system.localeCurrency":{"type":"string","nullable":true},"mobile.system.localeLang":{"type":"string","nullable":true},"mobile.system.simulator":{"type":"string","nullable":true},"realipaddress":{"type":"string","nullable":true},"realipaddress.source":{"type":"string","nullable":true},"ruleset.rulesmatched":{"type":"string","nullable":true},"ruleset.score":{"type":"string","nullable":true},"registration.check.matchstatus":{"type":"string","nullable":true},"registration.check.measureofchange":{"type":"string","nullable":true}},"additionalProperties":false},"KycDetails":{"type":"object","properties":{"reasonCodes":{"type":"array","items":{"type":"string"},"nullable":true},"fieldValidations":{"$ref":"#/components/schemas/KycFieldsValidation"}},"additionalProperties":false},"KycFieldsValidation":{"type":"object","properties":{"firstName":{"type":"number","format":"double"},"surName":{"type":"number","format":"double"},"streetAddress":{"type":"number","format":"double"},"city":{"type":"number","format":"double"},"state":{"type":"number","format":"double"},"zip":{"type":"number","format":"double"},"mobileNumber":{"type":"number","format":"double"},"dob":{"type":"number","format":"double"},"ssn":{"type":"number","format":"double"}},"additionalProperties":false},"KycLevel":{"enum":["l0","l1","l2"],"type":"string"},"LegalStructure":{"enum":["ccorp","llc","partnership","nonprofit","scorp","soleprop","other"],"type":"string"},"ManualDocumentVerificationRequestModel":{"required":["newStatus"],"type":"object","properties":{"newStatus":{"$ref":"#/components/schemas/DocumentUpdateStatus"}},"additionalProperties":false},"ManualIdentityVerificationByOrgRequestModel":{"required":["comment","decision"],"type":"object","properties":{"decision":{"$ref":"#/components/schemas/ManualVerificationDecision"},"comment":{"maxLength":50,"minLength":4,"type":"string"}},"additionalProperties":false},"ManualIdentityVerificationRequestModel":{"required":["comment","decision","decisionActor"],"type":"object","properties":{"decision":{"$ref":"#/components/schemas/ManualVerificationDecision"},"decisionActor":{"maxLength":50,"minLength":4,"type":"string"},"comment":{"maxLength":50,"minLength":4,"type":"string"}},"additionalProperties":false},"ManualVerificationDecision":{"enum":["approve","suspend"],"type":"string","description":"Update identity decisions"},"MatchObject":{"type":"object","properties":{"sourceUrls":{"type":"array","items":{"type":"string"},"nullable":true},"comments":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"},"nullable":true},"nullable":true}},"ad
[...]
