openapi: 3.0.1
info:
  title: Fortress.Identity Api
  version: '1.0'
servers:
  - url: 'https://api.sandbox.fortressapi.com/'
paths:
  /api/compliance/v1/business-identities:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUserIdentityModel'
          description: Business identity was successfully created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity is not found
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Conflict
      security:
        - Bearer: []
      tags:
        - BusinessIdentities
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BusinessUserIdentityCreateModel'
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessUserIdentityCreateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/BusinessUserIdentityCreateModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.UserIdentities.BusinessUserIdentityCreateModel"></see>
          data.
      summary: Creates a new business identity (Auth)
  '/api/compliance/v1/business-identities/{identityId}':
    get:
      parameters:
        - description: An id of the identity to retrieve
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUserIdentityModel'
          description: Identity was successfully retrieved
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: IdentityContainer with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: IdentityContainer has no access to a specified identity
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer: []
      tags:
        - BusinessIdentities
      summary: Gets a business identity (Auth)
    patch:
      parameters:
        - description: Identity id
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUserIdentityModel'
          description: Identity was successfully updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity has no access to a specified identity container
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Conflict
      security:
        - Bearer: []
      tags:
        - BusinessIdentities
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BusinessUserIdentityUpdateModel'
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessUserIdentityUpdateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/BusinessUserIdentityUpdateModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.UserIdentities.BusinessUserIdentityUpdateModel"></see>
          data.
      summary: Update existing business identity (Auth)
  '/api/compliance/v1/business-identities/{identityId}/documents':
    post:
      parameters:
        - in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentModel'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      security:
        - Bearer: []
      tags:
        - BusinessDocuments
      requestBody:
        content:
          multipart/form-data:
            encoding:
              DocumentType:
                style: form
              Documents:
                style: form
            schema:
              properties:
                DocumentType:
                  $ref: '#/components/schemas/BusinessDocumentUploadTypeModel'
                Documents:
                  description: A collection of the business document's files
                  items:
                    format: binary
                    type: string
                  type: array
              type: object
      summary: ' (Auth)'
  /api/compliance/v1/identities:
    get:
      parameters:
        - in: query
          name: Status
          schema:
            $ref: '#/components/schemas/IdentityStatusModel'
        - in: query
          name: Page
          schema:
            format: int32
            type: integer
        - in: query
          name: PageSize
          schema:
            format: int32
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdentityModelPageResponseModel'
          description: Identities were successfully retrieved
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: User with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not authorized to access these identities
      security:
        - Bearer: []
      tags:
        - Identities
      summary: Gets a list of active or inactive identities (Auth)
  '/api/compliance/v1/identities/{identityId}':
    patch:
      parameters:
        - description: An id of the identity to deactivate/activate
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityUpdateStatusResponse'
          description: Identity status has been successfully changed
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: User with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not authorized to access this identity
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity was not found
      security:
        - Bearer: []
      tags:
        - Identities
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/IdentityUpdateStatusModel'
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityUpdateStatusModel'
          text/json:
            schema:
              $ref: '#/components/schemas/IdentityUpdateStatusModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.UserIdentities.IdentityUpdateStatusModel"></see>
          data
      summary: Deactivates or activates identity (Auth)
  /api/compliance/v1/identity-containers:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityContainerModel'
          description: Identity container was successfully created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer: []
      tags:
        - IdentityContainers
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/IdentityContainerCreateModel'
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityContainerCreateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/IdentityContainerCreateModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.IdentityContainers.IdentityContainerCreateModel"></see>
          data.
      summary: Creates a new identity container (Auth)
  '/api/compliance/v1/identity-containers/{identityContainerId}':
    get:
      parameters:
        - description: An id of the identity container to retrieve
          in: path
          name: identityContainerId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityContainerModel'
          description: Identity container was successfully retrieved
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity container not found
      security:
        - Bearer: []
      tags:
        - IdentityContainers
      summary: Get specific identity container (Auth)
  /api/compliance/v1/identity/verify:
    post:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalUserIdentityModel'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer: []
      tags:
        - Compliance
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ComplianceCreateModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ComplianceCreateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ComplianceCreateModel'
      summary: ' (Auth)'
  /api/compliance/v1/import/alloy:
    post:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalUserIdentityModel'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      security:
        - Bearer: []
      tags:
        - Import
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/AlloyImportModel'
          application/json:
            schema:
              $ref: '#/components/schemas/AlloyImportModel'
          text/json:
            schema:
              $ref: '#/components/schemas/AlloyImportModel'
      summary: ' (Auth)'
  '/api/compliance/v1/personal-identities/sanctions-screen/{identityId}':
    post:
      parameters:
        - description: Identity id
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalUserIdentityModel'
          description: Screened successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity has no access to a specified identity
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer: []
      tags:
        - PersonalIdentities
      summary: Screen existing L0 personal identity (Auth)
  '/api/compliance/v1/personal-identities/{identityId}':
    get:
      parameters:
        - description: An id of the identity to retrieve
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalUserIdentityModel'
          description: Identity was successfully retrieved
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity has no access to a specified identity container
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer: []
      tags:
        - PersonalIdentities
      summary: Gets a personal identity (Auth)
    patch:
      parameters:
        - description: Identity id
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalUserIdentityModel'
          description: Identity was successfully updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity has no access to a specified identity
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer: []
      tags:
        - PersonalIdentities
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/PersonalUserIdentityUpdateModel'
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalUserIdentityUpdateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/PersonalUserIdentityUpdateModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.UserIdentities.PersonalUserIdentityUpdateModel"></see>
          data.
      summary: Update existing personal identity (Auth)
  '/api/compliance/v1/personal-identities/{identityId}/documents':
    post:
      parameters:
        - description: 'Id of the identity, to which document will be linked'
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentModel'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not authorized to access this identity
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity was not found
      security:
        - Bearer: []
      tags:
        - PersonalDocuments
      requestBody:
        content:
          multipart/form-data:
            encoding:
              DocumentBack:
                style: form
              DocumentFront:
                style: form
              DocumentType:
                style: form
              SelfPortrait:
                style: form
            schema:
              properties:
                DocumentBack:
                  description: >-
                    An image of the back of the ID. This parameter is optional
                    for the passport but required for others documents.
                  format: binary
                  type: string
                DocumentFront:
                  description: >-
                    An image of the front of the ID. For passports, the front is
                    the page containing the user's name and photograph.
                  format: binary
                  type: string
                DocumentType:
                  $ref: '#/components/schemas/PersonalDocumentType'
                SelfPortrait:
                  description: >-
                    A self-portrait of the user for facial recognition. This
                    parameter is optional and can be used as an additional data
                    point for verification.
                  format: binary
                  type: string
              required:
                - DocumentFront
                - DocumentType
              type: object
      summary: Uploads a document for KYC-checks (Auth)
  '/api/compliance/v1/personal-identities/{identityId}/due-diligence':
    patch:
      parameters:
        - description: Identity id
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalUserIdentityModel'
          description: Identity was successfully updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity has no access to a specified identity
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer: []
      tags:
        - PersonalIdentities
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/DueDiligenceModel'
          application/json:
            schema:
              $ref: '#/components/schemas/DueDiligenceModel'
          text/json:
            schema:
              $ref: '#/components/schemas/DueDiligenceModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.UserIdentities.DueDiligenceModel"></see>
          data.
      summary: Update personal identity due diligence (Auth)
    put:
      parameters:
        - description: Identity id
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalUserIdentityModel'
          description: Identity was successfully updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity has no access to a specified identity
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer: []
      tags:
        - PersonalIdentities
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/DueDiligenceModel'
          application/json:
            schema:
              $ref: '#/components/schemas/DueDiligenceModel'
          text/json:
            schema:
              $ref: '#/components/schemas/DueDiligenceModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.UserIdentities.DueDiligenceModel"></see>
          data.
      summary: Put personal identity due diligence (Auth)
  '/api/compliance/v1/personal-identities/{identityId}/upgrade':
    post:
      parameters:
        - description: Identity id
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalUserIdentityModel'
          description: Identity was successfully updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity has no access to a specified identity
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer: []
      tags:
        - PersonalIdentities
      summary: Upgrade existing L0 personal identity (Auth)
  /api/ops/v1/business-identities/batch-update:
    patch:
      responses:
        '202':
          description: File accepted
        '400':
          description: Bad request model data
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          multipart/form-data:
            encoding:
              File:
                style: form
            schema:
              properties:
                File:
                  format: binary
                  type: string
              required:
                - File
              type: object
      summary: 'Update batch of business identities. (Auth policies: Ops)'
  '/api/ops/v1/business-identities/{identityId}/documents/{documentId}/verify':
    post:
      parameters:
        - description: Id of the identity
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity was not found
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ManualDocumentVerificationRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ManualDocumentVerificationRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ManualDocumentVerificationRequestModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.Documents.ManualDocumentVerificationRequestModel"></see>
          data.
      summary: >-
        Updates status of Document with status ManualReviewNeeded (Auth
        policies: Ops)
  '/api/ops/v1/business-identities/{identityId}/verify':
    post:
      parameters:
        - description: Identity id
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUserIdentityModel'
          description: Identity was successfully updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ManualIdentityVerificationRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ManualIdentityVerificationRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ManualIdentityVerificationRequestModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.UserIdentities.ManualIdentityVerificationRequestModel"></see>
          data.
      summary: >-
        Endpoint for manual verification of business Identity. Identity can be
        upgraded to L1 level or Suspended based on decision. (Auth policies:
        Ops)
  /api/ops/v1/country-tiers:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CountryTierResponseModel'
                type: array
          description: Info has been successfully retrieved.
        '400':
          description: Incorrect data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: 'Get tiers list. (Auth policies: Ops)'
    post:
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CountryTierResponseModel'
                type: array
          description: Info has been added.
        '400':
          description: Incorrect data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/CountryTierCreateModel'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/CountryTierCreateModel'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/CountryTierCreateModel'
              type: array
        description: The post model.
      summary: 'Create country tiers list. (Auth policies: Ops)'
  /api/ops/v1/fuzzy-comparison:
    get:
      parameters:
        - in: query
          name: Left
          required: true
          schema:
            minLength: 1
            type: string
        - in: query
          name: Right
          required: true
          schema:
            minLength: 1
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuzzyComparisonResponseModel'
          description: Info has been successfully retrieved.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Incorrect data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: >-
        Calculates a Levenshtein simple ratio between the strings. (Auth
        policies: Ops)
  '/api/ops/v1/identities/{identityId}':
    patch:
      parameters:
        - description: An id of the identity to update
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityUpdateResponse'
          description: Identity has been successfully changed
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not authorized to access this identity
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity was not found
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/IdentityUpdateModel'
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityUpdateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/IdentityUpdateModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.UserIdentities.IdentityUpdateModel"></see>
          data
      summary: 'Update existing identity (Auth policies: Ops)'
  '/api/ops/v1/identity-cache/{identityId}':
    get:
      parameters:
        - description: Identity id.
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
        - description: Indicator whether identity assessment data should be included.
          in: query
          name: includeAssessmentDetails
          schema:
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityCachedDataDto'
          description: Info has been successfully retrieved.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found.
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: 'Get cache info about identity. (Auth policies: Ops)'
  /api/ops/v1/name-invariants:
    delete:
      responses:
        '200':
          description: Name invariants successfully removed.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: 'Clear invariants list. (Auth policies: Ops)'
    get:
      parameters:
        - in: query
          name: Name
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NameInvariantResponseModel'
                type: array
          description: Info has been successfully retrieved.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Incorrect data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: 'Get name invariants list. (Auth policies: Ops)'
    post:
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NameInvariantResponseModel'
                type: array
          description: Info has been added.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Incorrect data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/NameInvariantCreateModel'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/NameInvariantCreateModel'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/NameInvariantCreateModel'
              type: array
        description: Create model.
      summary: 'Create name invariants list. (Auth policies: Ops)'
  '/api/ops/v1/name-invariants/{name}':
    delete:
      parameters:
        - in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Name invariant successfully removed.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: 'Delete name invariant. (Auth policies: Ops)'
  /api/ops/v1/personal-identities/batch-update:
    patch:
      responses:
        '202':
          description: File accepted
        '400':
          description: Bad request model data
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          multipart/form-data:
            encoding:
              File:
                style: form
            schema:
              properties:
                File:
                  format: binary
                  type: string
              required:
                - File
              type: object
      summary: 'Update batch of personal identities. (Auth policies: Ops)'
  '/api/ops/v1/personal-identities/{identityId}':
    patch:
      parameters:
        - description: Identity id
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalUserIdentityModel'
          description: Identity was successfully updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/PersonalUserIdentityPatchModel'
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalUserIdentityPatchModel'
          text/json:
            schema:
              $ref: '#/components/schemas/PersonalUserIdentityPatchModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.UserIdentities.PersonalUserIdentityPatchModel"></see>
          data.
      summary: 'Updates existing personal identity (Auth policies: Ops)'
  '/api/ops/v1/personal-identities/{identityId}/documents/{documentId}/verify':
    post:
      parameters:
        - description: Id of the identity
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
        - description: Id of the document
          in: path
          name: documentId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity was not found
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ManualDocumentVerificationRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ManualDocumentVerificationRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ManualDocumentVerificationRequestModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.Documents.ManualDocumentVerificationRequestModel"></see>
          data.
      summary: >-
        Updates status of Document with status ManualReviewNeeded (Auth
        policies: Ops)
  '/api/ops/v1/personal-identities/{identityId}/verify':
    post:
      parameters:
        - description: Identity id
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalUserIdentityModel'
          description: Identity was successfully updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ManualIdentityVerificationRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ManualIdentityVerificationRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ManualIdentityVerificationRequestModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.UserIdentities.ManualIdentityVerificationRequestModel"></see>
          data.
      summary: >-
        Endpoint for manual verification of personal Identity. Identity can be
        upgraded to L1 level or Suspended based on decision. (Auth policies:
        Ops)
  /api/trust/v1/business-identities:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUserIdentityModel'
          description: Business identity was successfully created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity is not found
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Conflict
      security:
        - Bearer: []
      tags:
        - BusinessIdentities
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BusinessUserIdentityCreateModel'
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessUserIdentityCreateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/BusinessUserIdentityCreateModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.UserIdentities.BusinessUserIdentityCreateModel"></see>
          data.
      summary: Creates a new business identity (Auth)
  '/api/trust/v1/business-identities/{identityId}':
    get:
      parameters:
        - description: An id of the identity to retrieve
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUserIdentityModel'
          description: Identity was successfully retrieved
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: IdentityContainer with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: IdentityContainer has no access to a specified identity
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer: []
      tags:
        - BusinessIdentities
      summary: Gets a business identity (Auth)
    patch:
      parameters:
        - description: Identity id
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUserIdentityModel'
          description: Identity was successfully updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity has no access to a specified identity container
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Conflict
      security:
        - Bearer: []
      tags:
        - BusinessIdentities
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BusinessUserIdentityUpdateModel'
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessUserIdentityUpdateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/BusinessUserIdentityUpdateModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.UserIdentities.BusinessUserIdentityUpdateModel"></see>
          data.
      summary: Update existing business identity (Auth)
  '/api/trust/v1/business-identities/{identityId}/documents':
    post:
      parameters:
        - in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentModel'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      security:
        - Bearer: []
      tags:
        - BusinessDocuments
      requestBody:
        content:
          multipart/form-data:
            encoding:
              DocumentType:
                style: form
              Documents:
                style: form
            schema:
              properties:
                DocumentType:
                  $ref: '#/components/schemas/BusinessDocumentUploadTypeModel'
                Documents:
                  description: A collection of the business document's files
                  items:
                    format: binary
                    type: string
                  type: array
              type: object
      summary: ' (Auth)'
  '/api/trust/v1/business-identities/{identityId}/update-without-kyc':
    patch:
      parameters:
        - description: Identity id
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUserIdentityModel'
          description: Identity was successfully updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity has no access to a specified identity
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer: []
      tags:
        - BusinessIdentities
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BusinessIdentityPartialUpdateModel'
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessIdentityPartialUpdateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/BusinessIdentityPartialUpdateModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.UserIdentities.BusinessIdentityPartialUpdateModel"></see>
          data.
      summary: Update existing business identity (Auth)
  '/api/trust/v1/business-identities/{identityId}/verify':
    post:
      parameters:
        - description: Identity id
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUserIdentityModel'
          description: Identity was successfully updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer: []
      tags:
        - BusinessIdentities
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ManualIdentityVerificationByOrgRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ManualIdentityVerificationByOrgRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ManualIdentityVerificationByOrgRequestModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.UserIdentities.ManualIdentityVerificationByOrgRequestModel"></see>
          data.
      summary: >-
        Endpoint for manual verification of business identity. Identity can be
        upgraded to L1 level or Suspended based on decision. (Auth)
  /api/trust/v1/identity-containers:
    post:
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityContainerModel'
          description: Identity container was successfully created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer: []
      tags:
        - IdentityContainers
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/IdentityContainerCreateModel'
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityContainerCreateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/IdentityContainerCreateModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.IdentityContainers.IdentityContainerCreateModel"></see>
          data.
      summary: Creates a new identity container (Auth)
  '/api/trust/v1/identity-containers/{identityContainerId}':
    get:
      parameters:
        - description: An id of the identity container to retrieve
          in: path
          name: identityContainerId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityContainerModel'
          description: Identity container was successfully retrieved
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity container not found
      security:
        - Bearer: []
      tags:
        - IdentityContainers
      summary: Get specific identity container (Auth)
  '/api/trust/v1/personal-identities/sanctions-screen/{identityId}':
    post:
      parameters:
        - description: Identity id
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalUserIdentityModel'
          description: Screened successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity has no access to a specified identity
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer: []
      tags:
        - PersonalIdentities
      summary: Screen existing L0 personal identity (Auth)
  '/api/trust/v1/personal-identities/{identityId}':
    get:
      parameters:
        - description: An id of the identity to retrieve
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalUserIdentityModel'
          description: Identity was successfully retrieved
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity has no access to a specified identity container
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer: []
      tags:
        - PersonalIdentities
      summary: Gets a personal identity (Auth)
    patch:
      parameters:
        - description: Identity id
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalUserIdentityModel'
          description: Identity was successfully updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity has no access to a specified identity
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer: []
      tags:
        - PersonalIdentities
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/PersonalUserIdentityUpdateModel'
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalUserIdentityUpdateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/PersonalUserIdentityUpdateModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.UserIdentities.PersonalUserIdentityUpdateModel"></see>
          data.
      summary: Update existing personal identity (Auth)
  '/api/trust/v1/personal-identities/{identityId}/documents':
    post:
      parameters:
        - description: 'Id of the identity, to which document will be linked'
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentModel'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not authorized to access this identity
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity was not found
      security:
        - Bearer: []
      tags:
        - PersonalDocuments
      requestBody:
        content:
          multipart/form-data:
            encoding:
              DocumentBack:
                style: form
              DocumentFront:
                style: form
              DocumentType:
                style: form
              SelfPortrait:
                style: form
            schema:
              properties:
                DocumentBack:
                  description: >-
                    An image of the back of the ID. This parameter is optional
                    for the passport but required for others documents.
                  format: binary
                  type: string
                DocumentFront:
                  description: >-
                    An image of the front of the ID. For passports, the front is
                    the page containing the user's name and photograph.
                  format: binary
                  type: string
                DocumentType:
                  $ref: '#/components/schemas/PersonalDocumentType'
                SelfPortrait:
                  description: >-
                    A self-portrait of the user for facial recognition. This
                    parameter is optional and can be used as an additional data
                    point for verification.
                  format: binary
                  type: string
              required:
                - DocumentFront
                - DocumentType
              type: object
      summary: Uploads a document for KYC-checks (Auth)
  '/api/trust/v1/personal-identities/{identityId}/due-diligence':
    patch:
      parameters:
        - description: Identity id
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalUserIdentityModel'
          description: Identity was successfully updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity has no access to a specified identity
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer: []
      tags:
        - PersonalIdentities
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/DueDiligenceModel'
          application/json:
            schema:
              $ref: '#/components/schemas/DueDiligenceModel'
          text/json:
            schema:
              $ref: '#/components/schemas/DueDiligenceModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.UserIdentities.DueDiligenceModel"></see>
          data.
      summary: Update personal identity due diligence (Auth)
    put:
      parameters:
        - description: Identity id
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalUserIdentityModel'
          description: Identity was successfully updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity has no access to a specified identity
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer: []
      tags:
        - PersonalIdentities
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/DueDiligenceModel'
          application/json:
            schema:
              $ref: '#/components/schemas/DueDiligenceModel'
          text/json:
            schema:
              $ref: '#/components/schemas/DueDiligenceModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.UserIdentities.DueDiligenceModel"></see>
          data.
      summary: Put personal identity due diligence (Auth)
  '/api/trust/v1/personal-identities/{identityId}/update-without-kyc':
    patch:
      parameters:
        - description: Identity id
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalUserIdentityModel'
          description: Identity was successfully updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity has no access to a specified identity
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer: []
      tags:
        - PersonalIdentities
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/UserIdentityPartialUpdateModel'
          application/json:
            schema:
              $ref: '#/components/schemas/UserIdentityPartialUpdateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/UserIdentityPartialUpdateModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.UserIdentities.UserIdentityPartialUpdateModel"></see>
          data.
      summary: Update existing personal identity (Auth)
  '/api/trust/v1/personal-identities/{identityId}/upgrade':
    post:
      parameters:
        - description: Identity id
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalUserIdentityModel'
          description: Identity was successfully updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity has no access to a specified identity
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer: []
      tags:
        - PersonalIdentities
      summary: Upgrade existing L0 personal identity (Auth)
  '/api/trust/v1/personal-identities/{identityId}/verify':
    post:
      parameters:
        - description: Identity id
          in: path
          name: identityId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalUserIdentityModel'
          description: Identity was successfully updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity with such auth identifier is not found
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Identity not found
      security:
        - Bearer: []
      tags:
        - PersonalIdentities
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ManualIdentityVerificationByOrgRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ManualIdentityVerificationByOrgRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ManualIdentityVerificationByOrgRequestModel'
        description: >-
          The <see
          cref="T:Fortress.Identity.Application.Models.UserIdentities.ManualIdentityVerificationByOrgRequestModel"></see>
          data.
      summary: >-
        Endpoint for manual verification of personal Identity. Identity can be
        upgraded to L1 level or Suspended based on decision. (Auth)
components:
  schemas:
    Aamva:
      additionalProperties: false
      properties:
        confidenceScore:
          format: int64
          nullable: true
          type: integer
        status:
          nullable: true
          type: string
      type: object
    Address:
      additionalProperties: false
      properties:
        adderss_city:
          nullable: true
          type: string
        address_country_code:
          nullable: true
          type: string
        address_line_1:
          nullable: true
          type: string
        address_line_2:
          nullable: true
          type: string
        address_postal_code:
          nullable: true
          type: string
        address_state:
          nullable: true
          type: string
        type:
          nullable: true
          type: string
      type: object
    AddressDTO:
      additionalProperties: false
      properties:
        city:
          nullable: true
          type: string
        country:
          nullable: true
          type: string
        id:
          nullable: true
          type: string
        postalCode:
          nullable: true
          type: string
        state:
          nullable: true
          type: string
        street1:
          nullable: true
          type: string
        street2:
          nullable: true
          type: string
      type: object
    AddressModel:
      additionalProperties: false
      description: Represents Address model
      properties:
        city:
          description: Gets or sets the city
          minLength: 1
          type: string
        country:
          description: Gets or sets the country
          minLength: 1
          type: string
        postalCode:
          description: Gets or sets the postal code (ZIP code)
          nullable: true
          type: string
        state:
          description: Gets or sets the state
          nullable: true
          type: string
        street1:
          description: Gets or sets the first street
          minLength: 1
          type: string
        street2:
          description: Gets or sets the second street
          nullable: true
          type: string
      required:
        - city
        - country
        - street1
      type: object
    AlloyCacheDataDto:
      additionalProperties: false
      properties:
        documents:
          items:
            $ref: '#/components/schemas/DocumentDto'
          nullable: true
          type: array
        entity:
          items:
            $ref: '#/components/schemas/AlloyEntityDto'
          nullable: true
          type: array
        evaluations:
          items:
            $ref: '#/components/schemas/EvaluationDto'
          nullable: true
          type: array
      type: object
    AlloyEntityDto:
      additionalProperties: false
      properties:
        createdAt:
          format: date-time
          type: string
        documentVersion:
          nullable: true
          type: string
        id:
          nullable: true
          readOnly: true
          type: string
        identityId:
          nullable: true
          type: string
        request:
          $ref: '#/components/schemas/CreateEntityRequest'
        response:
          $ref: '#/components/schemas/CreateEntityResponse'
        revision:
          format: int64
          type: integer
        updatedAt:
          format: date-time
          type: string
      type: object
    AlloyImportModel:
      additionalProperties: false
      properties:
        entityToken:
          minLength: 1
          type: string
        evaluationToken:
          nullable: true
          type: string
      required:
        - entityToken
      type: object
    BusinessDocumentType:
      enum:
        - other
        - proofOfAddress
        - proofOfCompanyFormation
        - formationDocument
        - agreement
        - taxIdDocument
      type: string
    BusinessDocumentUploadTypeModel:
      enum:
        - other
        - formationDocument
        - agreement
        - taxIdDocument
      type: string
    BusinessIdentityPartialUpdateModel:
      additionalProperties: false
      properties:
        address:
          $ref: '#/components/schemas/AddressModel'
        email:
          nullable: true
          type: string
        industry:
          $ref: '#/components/schemas/BusinessIndustry'
        otherIndustry:
          maxLength: 1000
          nullable: true
          type: string
        phone:
          nullable: true
          type: string
      type: object
    BusinessIndustry:
      enum:
        - b2b
        - b2c
        - accounting
        - aerospace
        - agriculture
        - aquaticsMarine
        - automotive
        - businessServices
        - charity
        - computerSoftware
        - construction
        - cryptoBlockchain
        - education
        - energy
        - engineering
        - entertainment
        - environmentGreen
        - farming
        - fashion
        - financialServices
        - franchise
        - gaming
        - gigEconomy
        - government
        - hospitality
        - informationTechnology
        - insurance
        - internet
        - international
        - lawEnforcementMilitary
        - lifestyle
        - manufacturing
        - marketingServices
        - mediaPublishing
        - medical
        - mobileApps
        - music
        - naturalResources
        - networkMarketing
        - performingArts
        - personalServices
        - professionalServices
        - realEstate
        - recreation
        - retail
        - royalties
        - science
        - securities
        - shippingTransportation
        - software
        - storageWarehousing
        - supplier
        - technology
        - transportation
        - wholesale
        - other
        - art
      type: string
    BusinessUserIdentityCreateModel:
      additionalProperties: false
      properties:
        address:
          $ref: '#/components/schemas/AddressModel'
        beneficialOwners:
          items:
            format: uuid
            type: string
          nullable: true
          type: array
        companyName:
          maxLength: 60
          minLength: 1
          type: string
        description:
          minLength: 1
          type: string
        ein:
          nullable: true
          type: string
        email:
          minLength: 1
          type: string
        establishedOn:
          format: date-time
          type: string
        identityContainerId:
          format: uuid
          minLength: 1
          type: string
        industry:
          $ref: '#/components/schemas/BusinessIndustry'
        legalStructure:
          $ref: '#/components/schemas/LegalStructure'
        mailingAddress:
          $ref: '#/components/schemas/AddressModel'
        naics:
          nullable: true
          type: string
        naicsDescription:
          nullable: true
          type: string
        otherIndustry:
          maxLength: 1000
          nullable: true
          type: string
        otherLegalStructure:
          maxLength: 50
          minLength: 1
          nullable: true
          type: string
        phone:
          maxLength: 20
          minLength: 1
          type: string
        regionOfFormation:
          minLength: 1
          type: string
        website:
          maxLength: 100
          minLength: 1
          nullable: true
          type: string
      required:
        - address
        - companyName
        - description
        - email
        - identityContainerId
        - legalStructure
        - phone
        - regionOfFormation
      type: object
    BusinessUserIdentityModel:
      additionalProperties: false
      properties:
        address:
          $ref: '#/components/schemas/AddressModel'
        beneficialOwners:
          items:
            format: uuid
            type: string
          nullable: true
          type: array
        companyName:
          nullable: true
          type: string
        description:
          nullable: true
          type: string
        documents:
          items:
            $ref: '#/components/schemas/DocumentModel'
          nullable: true
          type: array
        ein:
          nullable: true
          type: string
        email:
          nullable: true
          type: string
        establishedOn:
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        identityContainerId:
          format: uuid
          nullable: true
          type: string
        industry:
          $ref: '#/components/schemas/BusinessIndustry'
        isSuspended:
          type: boolean
        kycLevel:
          nullable: true
          type: string
        legalStructure:
          $ref: '#/components/schemas/LegalStructure'
        mailingAddress:
          $ref: '#/components/schemas/AddressModel'
        naics:
          nullable: true
          type: string
        naicsDescription:
          nullable: true
          type: string
        otherIndustry:
          nullable: true
          type: string
        otherLegalStructure:
          nullable: true
          type: string
        phone:
          nullable: true
          type: string
        regionOfFormation:
          nullable: true
          type: string
        status:
          $ref: '#/components/schemas/UserIdentityStatus'
        type:
          $ref: '#/components/schemas/UserIdentityType'
        website:
          nullable: true
          type: string
      type: object
    BusinessUserIdentityUpdateModel:
      additionalProperties: false
      properties:
        address:
          $ref: '#/components/schemas/AddressModel'
        ein:
          nullable: true
          type: string
        regionOfFormation:
          minLength: 1
          type: string
      required:
        - address
        - regionOfFormation
      type: object
    Codes:
      additionalProperties: false
      properties:
        adaptation:
          nullable: true
          type: string
        detailCode:
          nullable: true
          type: string
        detail_list:
          nullable: true
          type: string
        messages:
          items:
            $ref: '#/components/schemas/Message'
          nullable: true
          type: array
        options:
          nullable: true
          type: string
        reliability:
          nullable: true
          type: string
      type: object
    CognitoCacheDataDto:
      additionalProperties: false
      properties:
        assessments:
          items:
            $ref: '#/components/schemas/IdentityAssessmentDTO'
          nullable: true
          type: array
        profile:
          items:
            $ref: '#/components/schemas/IdentityProfileDTO'
          nullable: true
          type: array
        searches:
          items:
            $ref: '#/components/schemas/IdentitySearchDTO'
          nullable: true
          type: array
      type: object
    ComplianceCreateModel:
      additionalProperties: false
      properties:
        address:
          $ref: '#/components/schemas/AddressModel'
        dateOfBirth:
          format: date
          nullable: true
          type: string
        dueDiligence:
          $ref: '#/components/schemas/DueDiligenceModel'
        email:
          minLength: 1
          type: string
        firstName:
          minLength: 1
          type: string
        lastName:
          minLength: 1
          type: string
        middleName:
          nullable: true
          type: string
        phone:
          maxLength: 20
          minLength: 1
          type: string
        ssn:
          nullable: true
          type: string
      required:
        - email
        - firstName
        - lastName
        - phone
      type: object
    ComplyAdvantageFormatedData:
      additionalProperties: false
      properties:
        code:
          format: int32
          type: integer
        match_count:
          format: int32
          type: integer
        matched_lists:
          items: {}
          nullable: true
          type: array
        matches:
          items: {}
          nullable: true
          type: array
        watchlist_categories:
          items: {}
          nullable: true
          type: array
        watchlist_sources:
          items: {}
          nullable: true
          type: array
      type: object
    ComplyAdvantageItem:
      additionalProperties: false
      properties:
        code:
          format: int32
          type: integer
        content:
          $ref: '#/components/schemas/Content'
        status:
          nullable: true
          type: string
      type: object
    Content:
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/ContentData'
      type: object
    ContentData:
      additionalProperties: false
      properties:
        tags:
          items: {}
          nullable: true
          type: array
        assignee_id:
          format: int32
          type: integer
        client_ref:
          nullable: true
        created_at:
          nullable: true
          type: string
        filters:
          $ref: '#/components/schemas/Filters'
        id:
          format: int32
          type: integer
        match_status:
          nullable: true
          type: string
        ref:
          nullable: true
          type: string
        risk_level:
          nullable: true
          type: string
        search_term:
          nullable: true
          type: string
        searcher_id:
          format: int32
          type: integer
        submitted_term:
          nullable: true
          type: string
        total_hits:
          format: int32
          type: integer
        updated_at:
          nullable: true
          type: string
      type: object
    CountryTierCreateModel:
      additionalProperties: false
      properties:
        countryCode:
          minLength: 1
          type: string
        tier:
          $ref: '#/components/schemas/TierModel'
      required:
        - countryCode
      type: object
    CountryTierResponseModel:
      additionalProperties: false
      properties:
        countryCode:
          nullable: true
          type: string
        tier:
          $ref: '#/components/schemas/TierModel'
      type: object
    CreateEntityRequest:
      additionalProperties: false
      properties:
        addresses:
          items:
            $ref: '#/components/schemas/ExternalAddressModel'
          nullable: true
          type: array
        emails:
          items:
            $ref: '#/components/schemas/EmailModel'
          nullable: true
          type: array
        external_entity_id:
          nullable: true
          type: string
        phones:
          items:
            $ref: '#/components/schemas/PhoneModel'
          nullable: true
          type: array
      type: object
    CreateEntityResponse:
      additionalProperties: false
      properties:
        addresses:
          items:
            $ref: '#/components/schemas/ExternalAddressModel'
          nullable: true
          type: array
        emails:
          items:
            $ref: '#/components/schemas/EmailModel'
          nullable: true
          type: array
        entity_token:
          nullable: true
          type: string
        external_entity_id:
          nullable: true
          type: string
        phones:
          items:
            $ref: '#/components/schemas/PhoneModel'
          nullable: true
          type: array
        status_code:
          format: int32
          type: integer
        type:
          nullable: true
          type: string
      type: object
    Crosscheck:
      additionalProperties: false
      properties:
        address:
          $ref: '#/components/schemas/CrosscheckAddress'
        darkWeb:
          $ref: '#/components/schemas/DarkWeb'
      type: object
    CrosscheckAddress:
      additionalProperties: false
      properties:
        isCommercial:
          type: boolean
        isForwarder:
          type: boolean
        isValid:
          type: boolean
      type: object
    DarkWeb:
      additionalProperties: false
      properties:
        criminalCount:
          format: int64
          nullable: true
          type: integer
        criminalMaxScore:
          format: int64
          nullable: true
          type: integer
      type: object
    Data:
      additionalProperties: false
      properties:
        aamvaConfidenceScoreReturned:
          nullable: true
          type: boolean
        age:
          format: int64
          nullable: true
          type: integer
        confidences:
          $ref: '#/components/schemas/DataConfidences'
        crosscheck_address_type:
          nullable: true
          type: string
        fraudulent_document_signal_count:
          format: int64
          nullable: true
          type: integer
        idAddressFound:
          nullable: true
          type: boolean
        id_expired:
          nullable: true
          type: boolean
        id_type:
          nullable: true
          type: string
        reasoncodes:
          items: {}
          nullable: true
          type: array
        selfieMatchScoreReturned:
          nullable: true
          type: boolean
        verification_success:
          nullable: true
          type: boolean
      type: object
    DataConfidences:
      additionalProperties: false
      properties:
        birth_date_match:
          nullable: true
        id:
          nullable: true
        id_match:
          nullable: true
        name_match:
          nullable: true
        selfie:
          nullable: true
        selfie_match:
          nullable: true
      type: object
    DateDTO:
      additionalProperties: false
      properties:
        date:
          format: date-time
          type: string
        id:
          nullable: true
          type: string
      type: object
    DescribeDocumentRequest:
      additionalProperties: false
      properties:
        extension:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
        note:
          nullable: true
          type: string
        note_author_agent_email:
          nullable: true
          type: string
        type:
          nullable: true
          type: string
      type: object
    Diligence:
      additionalProperties: false
      properties:
        financial:
          nullable: true
        fraud:
          $ref: '#/components/schemas/Fraud'
        watchlists:
          $ref: '#/components/schemas/Watchlists'
      type: object
    DobClass:
      additionalProperties: false
      properties:
        matched:
          nullable: true
          type: boolean
        score:
          format: double
          nullable: true
          type: number
      type: object
    DocumentDto:
      additionalProperties: false
      properties:
        createdAt:
          format: date-time
          type: string
        documentId:
          nullable: true
          type: string
        documentToken:
          nullable: true
          type: string
        documentVersion:
          nullable: true
          type: string
        entityToken:
          nullable: true
          type: string
        id:
          nullable: true
          readOnly: true
          type: string
        identityId:
          nullable: true
          type: string
        request:
          $ref: '#/components/schemas/DescribeDocumentRequest'
        response:
          $ref: '#/components/schemas/DocumentResponse'
        revision:
          format: int64
          type: integer
        updatedAt:
          format: date-time
          type: string
      type: object
    DocumentModel:
      additionalProperties: false
      properties:
        businessDocumentType:
          $ref: '#/components/schemas/BusinessDocumentType'
        documentCheckStatus:
          $ref: '#/components/schemas/DocumentStatus'
        documentReferenceId:
          format: uuid
          nullable: true
          type: string
        documentUuid:
          format: uuid
          nullable: true
          type: string
        id:
          format: uuid
          type: string
        identityId:
          format: uuid
          type: string
        isVerified:
          readOnly: true
          type: boolean
        personalDocumentType:
          $ref: '#/components/schemas/PersonalDocumentType'
      type: object
    DocumentResponse:
      additionalProperties: false
      properties:
        document_token:
          nullable: true
          type: string
        extension:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
        note:
          nullable: true
          type: string
        type:
          nullable: true
          type: string
        uploaded:
          type: boolean
      type: object
    DocumentStatus:
      enum:
        - pending
        - automaticReviewInProgress
        - manualReviewNeeded
        - accepted
[...]
