openapi: 3.0.1
info:
  title: Magnolia API
  version: '1.0'
servers:
  - url: 'https://api.sandbox.magnolia.financial'
paths:
  /api/organization/v1/current-organization:
    get:
      parameters:
        - description: The included properties.
          in: query
          name: include
          schema:
            items:
              $ref: '#/components/schemas/UserOrganizationRelation'
            type: array
          style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponseModel'
          description: Organization response models.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer: []
      tags:
        - CurrentOrganization
      summary: Retrieve the current organization.
    patch:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No content response.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer: []
      tags:
        - CurrentOrganization
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/OrganizationPatchModel'
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationPatchModel'
          text/json:
            schema:
              $ref: '#/components/schemas/OrganizationPatchModel'
        description: The patch model.
      summary: Update the current organization.
  /api/organization/v1/current-organization/readonly:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponseModel'
          description: Organization response model.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer: []
      tags:
        - CurrentOrganization
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ReadonlyUserRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ReadonlyUserRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ReadonlyUserRequestModel'
        description: The model.
      summary: Create a read-only user.
  /api/organization/v1/current-organization/webhook-config:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookConfigResponseModel'
          description: Webhook config response models.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Webhook config is not found.
      security:
        - Bearer: []
      tags:
        - CurrentOrganization
      summary: Retrieve the webhook configuration.
    patch:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: Webhook config is patched.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Webhook config is not found.
      security:
        - Bearer: []
      tags:
        - CurrentOrganization
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/WebhookConfigPatchModel'
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookConfigPatchModel'
          text/json:
            schema:
              $ref: '#/components/schemas/WebhookConfigPatchModel'
        description: The webhook config patch model
      summary: Patch the current webhook config.
  /api/trust/v1/custodial-accounts:
    get:
      parameters:
        - description: Filter by owner identity identifier
          in: query
          name: OwnerIdentityId
          schema:
            format: uuid
            type: string
          style: form
        - description: Return all records that have status
          in: query
          name: Status
          schema:
            $ref: '#/components/schemas/ModelCustodialAccountStatus'
          style: form
        - description: Return all records that have label
          in: query
          name: Label
          schema:
            $ref: '#/components/schemas/CustodialAccountLabel'
          style: form
        - description: Name of custodial account to filter by
          in: query
          name: CustodialAccountName
          schema:
            type: string
          style: form
        - description: Whether to sort in ascending order
          in: query
          name: SortingAscending
          schema:
            type: boolean
          style: form
        - description: Page count
          in: query
          name: Page
          schema:
            format: int32
            type: integer
          style: form
        - description: PageSize
          in: query
          name: PageSize
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustodialAccountsResponseModelPageResponseModel
          description: Response with custodial accounts page.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer: []
      tags:
        - CustodialAccounts
      summary: 'Retrieve the filtered, paged list with custodial accounts.'
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodialAccountsResponseModel'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Conflict
      security:
        - Bearer: []
      tags:
        - CustodialAccounts
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCustodialAccountRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustodialAccountRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCustodialAccountRequestModel'
        description: Create custodial account request model.
      summary: Create the new custodial account.
  /api/trust/v1/custodial-accounts/agreement:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodialAccountAgreementResponseModel'
          description: Custodial account agreement
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: User with such auth identifier was not found
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Custodial account agreement is not found
      security:
        - Bearer: []
      tags:
        - CustodialAccounts
      summary: Get custodial account agreement
  '/api/trust/v1/custodial-accounts/{custodialAccountId}':
    get:
      parameters:
        - description: Custodial account identifier
          in: path
          name: custodialAccountId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodialAccountsResponseModel'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      security:
        - Bearer: []
      tags:
        - CustodialAccounts
      summary: Retrieve the custodial account by id.
    patch:
      parameters:
        - description: Custodial account identifier
          in: path
          name: custodialAccountId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer: []
      tags:
        - CustodialAccounts
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateAccountStatusRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountStatusRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountStatusRequestModel'
        description: Update account status request model
      summary: Update account status
  '/api/trust/v1/custodial-accounts/{custodialAccountId}/balances':
    get:
      parameters:
        - description: Custodial account identifier
          in: path
          name: custodialAccountId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustodialAccountBalancesResponseModelCollectionResponseModel
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      security:
        - Bearer: []
      tags:
        - CustodialAccounts
      summary: Retrieve the custodial account balances.
  '/api/trust/v1/custodial-accounts/{custodialAccountId}/crypto-deposit-instructions/{network}/{assetFiatType}':
    get:
      parameters:
        - description: Custodial account identifier
          in: path
          name: custodialAccountId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: Blockchain network
          in: path
          name: network
          required: true
          schema:
            $ref: '#/components/schemas/ModelNetworkChain'
          style: simple
        - description: Asset fiat type
          in: path
          name: assetFiatType
          required: true
          schema:
            $ref: '#/components/schemas/ModelAssetFiatType'
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoInstructionsResponseModel'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      security:
        - Bearer: []
      tags:
        - CustodialAccounts
      summary: Retrieve the crypto deposit instructions.
  '/api/trust/v1/custodial-accounts/{custodialAccountId}/label':
    patch:
      parameters:
        - description: Custodial account identifier
          in: path
          name: custodialAccountId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No content
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: User with such auth identifier was not found
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Custodial account is not found
      security:
        - Bearer: []
      tags:
        - CustodialAccounts
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateAccountLabelRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountLabelRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountLabelRequestModel'
        description: Update account label request model
      summary: Update custodial account label
  '/api/trust/v1/custodial-accounts/{custodialAccountId}/rename':
    patch:
      parameters:
        - description: Custodial account identifier
          in: path
          name: custodialAccountId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer: []
      tags:
        - CustodialAccounts
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateCustodialAccountNameRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustodialAccountNameRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCustodialAccountNameRequestModel'
        description: Update custodial account name request model
      summary: Update account name
  '/api/trust/v1/custodial-accounts/{custodialAccountId}/withdraw-crypto':
    post:
      parameters:
        - description: Custodial account identifier
          in: path
          name: custodialAccountId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponseModel'
          description: Withdraw crypto process started successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Withdraw crypto is allowed only for ZebPay custodial account
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Custodial account was not found
      security:
        - Bearer: []
      tags:
        - CustodialAccounts
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/WithdrawCryptoRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawCryptoRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/WithdrawCryptoRequestModel'
        description: Withdraw crypto request model
      summary: Withdraw crypto.
  /api/trust/v1/payments:
    get:
      parameters:
        - in: query
          name: IdentityId
          schema:
            format: uuid
            type: string
          style: form
        - description: Page count
          in: query
          name: Page
          schema:
            format: int32
            type: integer
          style: form
        - description: PageSize
          in: query
          name: PageSize
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponseModelPageResponseModel'
          description: Response with payments page.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer: []
      tags:
        - Payments
      summary: 'Retrieve the filtered, paged list with payments.'
    post:
      parameters:
        - description: Session key
          in: header
          name: Session-Key
          schema:
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponseModel'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer: []
      tags:
        - Payments
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequestModel'
        description: The model.
      summary: Create the payment.
  '/api/trust/v1/payments/{paymentId}':
    get:
      parameters:
        - description: Payment identifier
          in: path
          name: paymentId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponseModel'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      security:
        - Bearer: []
      tags:
        - Payments
      summary: Retrieve the payment by id.
  /api/trust/v1/sub-accounts/payments:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponseModel'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer: []
      tags:
        - Payments
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateSubAccountPaymentRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubAccountPaymentRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateSubAccountPaymentRequestModel'
        description: Request model.
      summary: Create a payment for sub accounts.
  /api/trust/v1/transactions:
    get:
      parameters:
        - in: query
          name: IdentityId
          schema:
            format: uuid
            type: string
          style: form
        - in: query
          name: CustodialAccountId
          schema:
            format: uuid
            type: string
          style: form
        - in: query
          name: PaymentId
          schema:
            format: uuid
            type: string
          style: form
        - description: Page count
          in: query
          name: Page
          schema:
            format: int32
            type: integer
          style: form
        - description: PageSize
          in: query
          name: PageSize
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponseModelPageResponseModel'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer: []
      tags:
        - Transactions
      summary: 'Retrieve the filtered, paged list with transactions.'
  '/api/trust/v1/transactions/{transactionId}':
    get:
      parameters:
        - description: Transaction identifier
          in: path
          name: transactionId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponseModel'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      security:
        - Bearer: []
      tags:
        - Transactions
      summary: Retrieve the transaction by id.
  /api/trust/v1/transfers:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponseModel'
          description: Transfer started successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request model data
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Source/destination account was not found
      security:
        - Bearer: []
      tags:
        - Transfers
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/TransferRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/TransferRequestModel'
        description: Transfer request model
      summary: Execute transfer.
components:
  schemas:
    AccountBeneficiaryRequestModel:
      additionalProperties: false
      description: Account beneficiary request model
      properties:
        identityId:
          description: Identity Id
          format: uuid
          minLength: 1
          type: string
        percentageOfDivision:
          description: Percentage of division
          format: double
          type: number
        relationship:
          description: Relationship
          nullable: true
          type: string
      required:
        - identityId
        - percentageOfDivision
      type: object
    AccountConfigResponseModel:
      additionalProperties: false
      description: Clearing accounts config request model
      properties:
        custodialAccountId:
          description: Custodial account identifier
          format: uuid
          nullable: true
          type: string
        provider:
          $ref: '#/components/schemas/CustodialAccountsProvider'
        source:
          $ref: '#/components/schemas/ConfigSource'
      type: object
    AccountIdentifierCode:
      additionalProperties: false
      properties:
        account:
          nullable: true
          type: string
        identifierCode:
          nullable: true
          type: string
      type: object
    AccountNameAddress:
      additionalProperties: false
      properties:
        account:
          nullable: true
          type: string
        nameAddress:
          nullable: true
          type: string
      type: object
    AccountNumberNameAddress:
      additionalProperties: false
      properties:
        account:
          nullable: true
          type: string
        nameAddress:
          nullable: true
          type: string
        number:
          nullable: true
          type: string
      type: object
    AccountType:
      description: Account type
      enum:
        - checking
        - savings
      type: string
    AchInstructionsModel:
      additionalProperties: false
      description: ACH instructions response model
      properties:
        accountNumber:
          description: Represents account number.
          nullable: true
          type: string
        receiverAddress:
          $ref: '#/components/schemas/AddressModel'
        receiverBankAddress:
          $ref: '#/components/schemas/AddressModel'
        receiverBankName:
          description: Represents receiver bank name.
          nullable: true
          type: string
        receiverName:
          description: Represents receiver name.
          nullable: true
          type: string
        refCode:
          description: Reference code
          nullable: true
          type: string
        routingNumber:
          description: Represents routing number.
          nullable: true
          type: string
      type: object
    AddressModel:
      additionalProperties: false
      description: Address model
      properties:
        city:
          description: Represents the city.
          minLength: 1
          type: string
        country:
          description: Gets or sets the country.
          minLength: 1
          type: string
        postalCode:
          description: Represents the postal code or US ZIP code.
          nullable: true
          type: string
        state:
          description: Represents the region or US State.
          nullable: true
          type: string
        street1:
          description: Represents the street address.
          minLength: 1
          type: string
        street2:
          description: Represents the additional street address.
          nullable: true
          type: string
      required:
        - city
        - country
        - street1
      type: object
    AddressRequestModel:
      additionalProperties: false
      properties:
        city:
          nullable: true
          type: string
        country:
          nullable: true
          type: string
        postalCode:
          nullable: true
          type: string
        state:
          nullable: true
          type: string
        street1:
          nullable: true
          type: string
        street2:
          nullable: true
          type: string
      type: object
    AllowedSubApi:
      enum:
        - none
        - smartContract
        - trust
        - wallet
        - compliance
      type: string
    ApiRoleResponseModel:
      additionalProperties: false
      description: Api roles response model
      properties:
        id:
          description: Role Id
          format: uuid
          type: string
        name:
          description: Role name
          nullable: true
          type: string
      type: object
    AssetAmountModel:
      additionalProperties: false
      description: Asset amount model
      properties:
        amount:
          description: Amount
          format: double
          type: number
        asset:
          $ref: '#/components/schemas/ModelAssetFiatType'
      type: object
    AssetData:
      additionalProperties: false
      description: Asset data
      properties:
        asset:
          $ref: '#/components/schemas/ModelAssetFiatType'
        network:
          $ref: '#/components/schemas/ModelNetworkChain'
      type: object
    AssetDataFrom:
      additionalProperties: false
      description: Asset data from
      properties:
        asset:
          $ref: '#/components/schemas/ModelAssetFiatType'
        disbursableAmount:
          description: Disbursable amount
          nullable: true
          type: string
        network:
          $ref: '#/components/schemas/ModelNetworkChain'
        omnibusDisbursableAmount:
          description: Omnibus disbursable amount
          format: double
          nullable: true
          type: number
        pendingTradableAmount:
          description: Pending tradable amount
          nullable: true
          type: string
      type: object
    AssetFiatType:
      enum:
        - usd
        - btc
        - eth
        - matic
        - usdc
        - sol
        - ada
        - xlm
        - dot
        - link
        - algo
        - bnb
        - busd
        - avax
        - ltc
        - uni
        - crv
        - aave
        - eos
        - bch
        - xtz
        - comp
        - bat
        - shib
        - doge
        - grt
        - sushi
        - sand
        - enj
        - axs
        - mana
        - mkr
        - yfi
        - atom
        - ape
        - dai
        - usdt
        - near
        - trx
        - ftm
        - xrp
        - flrns
        - flow
        - smtf
        - qnt
        - chz
        - gala
        - hbar
        - gold
        - silver
      type: string
    AssetFiatTypeConfigurationModel:
      additionalProperties: false
      properties:
        provider:
          $ref: '#/components/schemas/IntegrationServiceProvider'
      type: object
    AssetsToAllowNegativeBalancesForOmnibusResponse:
      additionalProperties: false
      properties:
        assets:
          items:
            $ref: '#/components/schemas/ModelAssetFiatType'
          nullable: true
          type: array
      type: object
    BankDataModel:
      additionalProperties: false
      description: Bank details
      properties:
        accountNumber:
          description: Account number
          nullable: true
          type: string
        accountType:
          description: Account type
          nullable: true
          type: string
        bankName:
          description: Bank name
          nullable: true
          type: string
        routingNumber:
          description: Routing number
          nullable: true
          type: string
      type: object
    BankDataRequestModel:
      additionalProperties: false
      properties:
        accountNumber:
          nullable: true
          type: string
        accountType:
          nullable: true
          type: string
        bankName:
          nullable: true
          type: string
        routingNumber:
          nullable: true
          type: string
      type: object
    BeneficiaryCustomer:
      additionalProperties: false
      properties:
        account_identifierCode:
          $ref: '#/components/schemas/AccountIdentifierCode'
        account_number_nameAddress:
          $ref: '#/components/schemas/AccountNumberNameAddress'
      type: object
    BeneficiaryRequestModel:
      additionalProperties: false
      description: Beneficiary request model
      properties:
        email:
          description: Email
          minLength: 1
          type: string
        firstName:
          description: First name
          minLength: 1
          type: string
        lastName:
          description: Last name
          minLength: 1
          type: string
        percentageOfDivision:
          description: Percentage of division
          exclusiveMinimum: true
          format: double
          maximum: 100
          minimum: 0
          type: number
        phone:
          description: Phone
          maxLength: 20
          minLength: 1
          type: string
        relationship:
          description: Relationship
          nullable: true
          type: string
        ssn:
          description: Social security number
          nullable: true
          type: string
      required:
        - email
        - firstName
        - lastName
        - percentageOfDivision
        - phone
      type: object
    BeneficiaryResponseModel:
      additionalProperties: false
      description: Beneficiary response model
      properties:
        beneficiaryId:
          description: Beneficiary identifier
          format: uuid
          type: string
        email:
          description: Email
          nullable: true
          type: string
        identityId:
          description: Identity Id
          format: uuid
          type: string
        percentageOfDivision:
          description: Percentage of division
          format: double
          type: number
        phone:
          description: Phone
          nullable: true
          type: string
        relationship:
          description: Relationship
          nullable: true
          type: string
        ssn:
          description: Social security number
          nullable: true
          type: string
      type: object
    BeneficiaryResponseModelCollectionResponseModel:
      additionalProperties: false
      description: Collection response model
      properties:
        data:
          description: Gets or sets the data.
          items:
            $ref: '#/components/schemas/BeneficiaryResponseModel'
          nullable: true
          type: array
      type: object
    CacheType:
      enum:
        - endpointsPermissionsTree
        - endpointsPermissionsGlobalConfig
        - endpointsPermissionsOfUserByIdentifier
      type: string
    CardProcessingProvider:
      description: "Card processing provider, maps to Fortress.Core.Domain.Models.Entities.FundsStorages.ExternalAccounts.ExternalAccountProviderSpecific.\r\nIs part of Fortress.Core.Domain.Models.Entities.IntegrationServiceProvider."
      enum:
        - checkout
        - nmi
      type: string
    CardVerificationStatus:
      enum:
        - none
        - verified
      type: string
    ClearingAccountsConfigRequestModel:
      additionalProperties: false
      description: Clearing accounts config request model
      properties:
        custodialAccountId:
          description: Custodial account identifier
          format: uuid
          minLength: 1
          type: string
        provider:
          $ref: '#/components/schemas/CustodialAccountsProvider'
      required:
        - custodialAccountId
        - provider
      type: object
    ClearingAccountsConfigResponseModel:
      additionalProperties: false
      description: Clearing accounts config request model
      properties:
        achDeposit:
          $ref: '#/components/schemas/AccountConfigResponseModel'
        achWithdrawal:
          $ref: '#/components/schemas/AccountConfigResponseModel'
        wireDeposit:
          $ref: '#/components/schemas/AccountConfigResponseModel'
        wireWithdrawal:
          $ref: '#/components/schemas/AccountConfigResponseModel'
      type: object
    CommonMarkupModel:
      additionalProperties: false
      description: Common markup model
      properties:
        buyBasisPoints:
          description: Buy basis points
          format: double
          minimum: 0
          type: number
        sellBasisPoints:
          description: Sell basis points
          format: double
          minimum: 0
          type: number
      type: object
    ConfigSource:
      description: Payment type
      enum:
        - orgConfig
        - globalConfig
      type: string
    CreateCustodialAccountRequestModel:
      additionalProperties: false
      description: Create custodial account request model
      properties:
        beneficiaries:
          description: Beneficiaries
          items:
            $ref: '#/components/schemas/BeneficiaryRequestModel'
          nullable: true
          type: array
        businessIdentityId:
          description: Business identity id
          format: uuid
          nullable: true
          type: string
        label:
          $ref: '#/components/schemas/CustodialAccountLabel'
        name:
          description: Name of custodial account
          maxLength: 50
          nullable: true
          type: string
        personalIdentityId:
          description: Personal identity id
          format: uuid
          nullable: true
          type: string
        type:
          $ref: '#/components/schemas/CustodialAccountTypeModel'
      required:
        - type
      type: object
    CreateCustomAssetRequestModel:
      additionalProperties: false
      properties:
        amount:
          format: double
          minimum: 0
          nullable: true
          type: number
        assetType:
          $ref: '#/components/schemas/CustomAssetType'
        currency:
          $ref: '#/components/schemas/ModelAssetFiatType'
        description:
          nullable: true
          type: string
        name:
          minLength: 1
          type: string
        symbol:
          nullable: true
          type: string
      required:
        - assetType
        - name
      type: object
    CreateHelperCustodialAccountRequestModel:
      additionalProperties: false
      description: Create custodial account request model
      properties:
        businessIdentityId:
          description: Business identity id
          format: uuid
          nullable: true
          type: string
        label:
          $ref: '#/components/schemas/CustodialAccountLabel'
        name:
          description: Name of custodial account
          nullable: true
          type: string
        personalIdentityId:
          description: Personal identity id
          format: uuid
          nullable: true
          type: string
        type:
          $ref: '#/components/schemas/CustodialAccountTypeModel'
      type: object
    CreateInactiveAccountInternalMovementRequestModel:
      additionalProperties: false
      properties:
        amount:
          format: double
          maximum: 100000000
          minimum: 0.01
          type: number
        custodialAccountId:
          format: uuid
          minLength: 1
          type: string
      required:
        - custodialAccountId
      type: object
    CreatePaymentRequestModel:
      additionalProperties: false
      description: Create payment request model
      properties:
        comment:
          description: Gets or sets the comment.
          maxLength: 1000
          nullable: true
          type: string
        destination:
          $ref: '#/components/schemas/FundsStorageModel'
        funds:
          description: Gets or sets the funds.
          format: double
          maximum: 100000000
          minimum: 0.01
          type: number
        memo:
          description: Gets or sets the memo.
          maxLength: 140
          nullable: true
          type: string
        purposeOfPayment:
          description: Gets or sets the purpose of payment.
          maxLength: 140
          minLength: 5
          type: string
        source:
          $ref: '#/components/schemas/FundsStorageModel'
        useIsa:
          description: Gets or sets the use ISA flag.
          nullable: true
          type: boolean
      required:
        - destination
        - purposeOfPayment
        - source
      type: object
    CreatePreciousMetalsTransferRequestModel:
      additionalProperties: false
      properties:
        accountId:
          description: Destination castodial account id.
          format: uuid
          minLength: 1
          type: string
        amount:
          description: Setting the amount to transfer.
          exclusiveMinimum: true
          format: double
          minimum: 0
          type: number
        asset:
          $ref: '#/components/schemas/ModelAssetFiatType'
        comment:
          description: Comments.
          nullable: true
          type: string
        transferType:
          $ref: '#/components/schemas/TransferType'
      required:
        - accountId
        - amount
        - asset
      type: object
    CreateRefundPaymentForBuyCryptoModel:
      additionalProperties: false
      properties:
        amountToRefund:
          format: double
          type: number
        custodialAccountId:
          format: uuid
          type: string
        existingPaymentId:
          format: uuid
          type: string
      type: object
    CreateRefundPaymentForCryptoSellRequest:
      additionalProperties: false
      properties:
        amountToRefund:
          format: double
          type: number
        asset:
          $ref: '#/components/schemas/AssetFiatType'
        custodialAccountId:
          format: uuid
          type: string
        network:
          $ref: '#/components/schemas/NetworkChain'
        paymentId:
          format: uuid
          type: string
      type: object
    CreateRefundPaymentFromCaToTradingRequest:
      additionalProperties: false
      properties:
        amountToRefund:
          format: double
          type: number
        asset:
          $ref: '#/components/schemas/AssetFiatType'
        custodialAccountId:
          format: uuid
          type: string
        network:
          $ref: '#/components/schemas/NetworkChain'
      type: object
    CreateRefundPaymentFromCustodialAccountToLiquidityRequest:
      additionalProperties: false
      properties:
        amountToRefund:
          format: double
          type: number
        asset:
          $ref: '#/components/schemas/AssetFiatType'
        custodialAccountId:
          format: uuid
          type: string
        network:
          $ref: '#/components/schemas/NetworkChain'
      type: object
    CreateRefundPaymentFromTradingToZpRequest:
      additionalProperties: false
      properties:
        amountToRefund:
          format: double
          type: number
        asset:
          $ref: '#/components/schemas/AssetFiatType'
        network:
          $ref: '#/components/schemas/NetworkChain'
      type: object
    CreateSubAccountPaymentRequestModel:
      additionalProperties: false
      description: Create sub account payment request model
      properties:
        comment:
          description: Gets or sets the comment.
          nullable: true
          type: string
        destination:
          $ref: '#/components/schemas/SubAccountFundsStorageModel'
        funds:
          description: Gets or sets the funds.
          format: double
          type: number
        source:
          $ref: '#/components/schemas/SubAccountFundsStorageModel'
      type: object
    CryptoInstructionsResponseModel:
      additionalProperties: false
      description: Crypto deposit instructions response model
      properties:
        address:
          description: Fireblocks crypto address
          nullable: true
          type: string
      type: object
    CryptoLiquidityProvider:
      enum:
        - coinRoutes
        - zebPay
        - talos
      type: string
    CurrencyInstructedAmount:
      additionalProperties: false
      properties:
        amount:
          nullable: true
          type: string
        currency:
          nullable: true
          type: string
      type: object
    CustodialAccountAgreementResponseModel:
      additionalProperties: false
      description: Custodial account agreement response model
      properties:
        url:
          description: Agreement url
          nullable: true
          type: string
      type: object
    CustodialAccountBalancesResponseModel:
      additionalProperties: false
      description: Custodial account balances response model
      properties:
        assetFiatType:
          $ref: '#/components/schemas/ModelAssetFiatType'
        assetType:
          $ref: '#/components/schemas/ModelAssetType'
        assetTypeId:
          description: AssetType id
          nullable: true
          type: string
        disbursable:
          description: Disbursable balance
          format: double
          type: number
        locked:
          description: Locked balance
          format: double
          type: number
        network:
          $ref: '#/components/schemas/ModelNetworkChain'
        pending:
          description: Pending balance
          format: double
          type: number
        subAccounts:
          description: Sub balances
          items:
            $ref: '#/components/schemas/SubAccountBalanceResponseModel'
          nullable: true
          type: array
        subBalances:
          $ref: '#/components/schemas/SubBalancesResponseModel'
        total:
          description: Total balance
          format: double
          type: number
      type: object
    CustodialAccountBalancesResponseModelCollectionResponseModel:
      additionalProperties: false
      description: Collection response model
      properties:
        data:
          description: Gets or sets the data.
          items:
            $ref: '#/components/schemas/CustodialAccountBalancesResponseModel'
          nullable: true
          type: array
      type: object
    CustodialAccountLabel:
      description: Custodial account label
      enum:
        - user
        - corporate
      type: string
    CustodialAccountStatus:
      description: Custodial account statuses
      enum:
        - open
        - closed
        - suspended
      type: string
    CustodialAccountSuspensionModel:
      additionalProperties: false
      properties:
        decisionActor:
          nullable: true
          type: string
        decisionReason:
          nullable: true
          type: string
      type: object
    CustodialAccountTypeModel:
      enum:
        - personal
        - business
        - rothIra
        - traditionalIra
        - sepIra
        - simpleIra
      type: string
    CustodialAccountsProvider:
      description: "Custodial accounts provider, defines type of Fortress.Core.Domain.Models.Entities.FundsStorages.CustodialAccounts.CustodialAccountProviderSpecific.\r\nIs part of Fortress.Core.Domain.Models.Entities.IntegrationServiceProvider."
      enum:
        - treasuryPrime
        - cos
        - nonApiBank
        - treasuryPrimeWithBankCogent
      type: string
    CustodialAccountsResponseModel:
      additionalProperties: false
      description: Custodial accounts response model
      properties:
        accountNumber:
          description: Custodial account number
          nullable: true
          type: string
        accountStatus:
          $ref: '#/components/schemas/CustodialAccountStatus'
        accountType:
          $ref: '#/components/schemas/CustodialAccountTypeModel'
        beneficiaries:
          description: Beneficiaries
          items:
            $ref: '#/components/schemas/BeneficiaryResponseModel'
          nullable: true
          type: array
        id:
          description: Custodial account identifier
          format: uuid
          type: string
        label:
          $ref: '#/components/schemas/CustodialAccountLabel'
        name:
          description: Name of custodial account
          nullable: true
          type: string
        ownerIdentityId:
          description: Owner identity identifier
          format: uuid
          type: string
        refCode:
          description: Reference code on CustodialAccount
          nullable: true
          type: string
        subAccounts:
          description: Sub-accounts
          items:
            $ref: '#/components/schemas/SubAccountResponseModel'
          nullable: true
          type: array
      type: object
    CustodialAccountsResponseModelPageResponseModel:
      additionalProperties: false
      properties:
        data:
          description: Gets or sets the data.
          items:
            $ref: '#/components/schemas/CustodialAccountsResponseModel'
          nullable: true
          type: array
        meta:
          $ref: '#/components/schemas/PageMetadata'
      type: object
    CustodialAccountsResponsePrivateModel:
      additionalProperties: false
      properties:
        accountNumber:
          description: Custodial account number
          nullable: true
          type: string
        accountStatus:
          $ref: '#/components/schemas/CustodialAccountStatus'
        accountType:
          $ref: '#/components/schemas/CustodialAccountTypeModel'
        balances:
          description: Custodial account balances
          items:
            $ref: '#/components/schemas/CustodialAccountBalancesResponseModel'
          nullable: true
          type: array
        createdAtUtc:
          description: Custodial account creation date and time.
          format: date-time
          type: string
        id:
          description: Custodial account identifier
          format: uuid
          type: string
        name:
          description: Name of custodial account
          nullable: true
          type: string
        organizationId:
          description: Organization id of this account.
          format: uuid
          type: string
        ownerIdentityId:
          description: Owner identity identifier
          format: uuid
          type: string
      type: object
    CustodyModel:
      description: Custody model
      enum:
        - segregated
        - omnibus
        - pseudoOmnibus
      type: string
    CustodyProviderConfigurationModel:
      additionalProperties: false
      description: Custody provider configuration model
      properties:
        assetFiatTypesConfigurations:
          additionalProperties:
            $ref: '#/components/schemas/AssetFiatTypeConfigurationModel'
          description: Asset fiat types configurations
          nullable: true
          type: object
        assetType:
          $ref: '#/components/schemas/ModelAssetType'
        provider:
          $ref: '#/components/schemas/IntegrationServiceProvider'
      required:
        - provider
      type: object
    CustodyProviderConfigurationModelCollectionResponseModel:
      additionalProperties: false
      description: Collection response model
      properties:
        data:
          description: Gets or sets the data.
          items:
            $ref: '#/components/schemas/CustodyProviderConfigurationModel'
          nullable: true
          type: array
      type: object
    CustodyProviderConfigurationResponseModel:
      additionalProperties: false
      properties:
        custodialAccountsProvider:
          $ref: '#/components/schemas/CustodialAccountsProvider'
      type: object
    CustomAssetResponseModel:
      additionalProperties: false
      properties:
        amount:
          format: double
          nullable: true
          type: number
        assetType:
          $ref: '#/components/schemas/CustomAssetType'
        currency:
          $ref: '#/components/schemas/ModelAssetFiatType'
        description:
          nullable: true
          type: string
        id:
          format: uuid
          type: string
        name:
          nullable: true
          type: string
        symbol:
          nullable: true
          type: string
      type: object
    CustomAssetResponseModelPageResponseModel:
      additionalProperties: false
      properties:
        data:
          description: Gets or sets the data.
          items:
            $ref: '#/components/schemas/CustomAssetResponseModel'
          nullable: true
          type: array
        meta:
          $ref: '#/components/schemas/PageMetadata'
      type: object
    CustomAssetType:
      enum:
        - privateSecurity
      type: string
    EnabledEndpointPermissionsResponse:
      additionalProperties: false
      description: Enabled endpoints permissions
      properties:
        encodedEndpointIds:
          description: Identifiers of enabled endpoints in base64 string
          nullable: true
          type: string
      type: object
    EndpointAccessPermissionTreeNodePatchModel:
      additionalProperties: false
      description: Patch endpoint access permission tree node model
      properties:
        isEnabled:
          description: Endpoint is enabled or not
          type: boolean
      required:
        - isEnabled
      type: object
    EndpointAccessPermissionTreeNodesResponseModel:
      additionalProperties: false
      description: The node of permission tree response model
      properties:
        childNodes:
          description: The list of child nodes
          items:
            $ref: >-
              #/components/schemas/EndpointAccessPermissionTreeNodesResponseModel
          nullable: true
          type: array
        endpointPath:
          description: The endpoint path that permission is regulated
          nullable: true
          type: string
        id:
          description: The id of the node
          format: int32
          type: integer
        isEnabled:
          description: Endpoint is enabled or not
          type: boolean
      type: object
    EndpointPermissionTreeNode:
      additionalProperties: false
      description: The node of permission tree for middleware use
      properties:
        childNodes:
          description: The list of child nodes
          items:
            $ref: '#/components/schemas/EndpointPermissionTreeNode'
          nullable: true
          type: array
        endpointPath:
          description: The endpoint path that is permission regulated
          nullable: true
          type: string
        id:
          description: The ID of the node
          format: int32
          type: integer
      type: object
    EndpointPermissionTreeNodeResponse:
      additionalProperties: false
      properties:
        roots:
          items:
            $ref: '#/components/schemas/EndpointPermissionTreeNode'
          nullable: true
          type: array
      type: object
    ExternalAccountCreateModel:
      additionalProperties: false
      description: External account create model
      properties:
        accountName:
          description: Account name
          minLength: 1
          type: string
        accountNumber:
          description: Account number
          maxLength: 17
          minLength: 1
          type: string
        accountType:
          $ref: '#/components/schemas/AccountType'
        financialAccountId:
          description: Financial account identifier
          minLength: 1
          type: string
        financialAccountsProvider:
          $ref: '#/components/schemas/FinancialAccountsProvider'
        identityId:
          description: Personal or business identity identifier
          format: uuid
          minLength: 1
          type: string
        itemId:
          description: Plaid item identifier
          minLength: 1
          type: string
        processorToken:
          description: Plaid processor token
          minLength: 1
          type: string
        routingNumber:
          description: Routing number
          maxLength: 9
          minLength: 1
          pattern: >-
            ^$|((0[0-9])|(1[0-2])|(2[1-9])|(3[0-2])|(6[1-9])|(7[0-2])|80)([0-9]{7})
          type: string
      required:
        - accountName
        - accountNumber
        - accountType
        - financialAccountId
        - identityId
        - itemId
        - processorToken
        - routingNumber
      type: object
    ExternalAccountResponseModel:
      additionalProperties: false
      description: External account response model
      properties:
        accountNumberLast4:
          description: The last 4 account numbers
          nullable: true
          type: string
        cardVerificationStatus:
          $ref: '#/components/schemas/CardVerificationStatus'
        id:
          description: External account identifier
          format: uuid
          type: string
        identityId:
          description: Identity identifier
          format: uuid
          type: string
        internationalBankAccountNumber:
          description: Exist only for type = international wire
          nullable: true
          type: string
        nameObfuscated:
          description: Exist only for type = card
          nullable: true
          type: string
        network:
          description: Exist only for type = card
          nullable: true
          type: string
        receiverName:
          description: Exists only for type = wire
          nullable: true
          type: string
        swiftCode:
          description: Exist only for type = international wire
          nullable: true
          type: string
        type:
          $ref: '#/components/schemas/ExternalAccountType'
      type: object
    ExternalAccountResponseModelPageResponseModel:
      additionalProperties: false
      properties:
        data:
          description: Gets or sets the data.
          items:
            $ref: '#/components/schemas/ExternalAccountResponseModel'
          nullable: true
          type: array
        meta:
          $ref: '#/components/schemas/PageMetadata'
      type: object
    ExternalAccountResponsePrivateModel:
      additionalProperties: false
      properties:
        createdAtUtc:
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        last4:
          nullable: true
          type: string
        network:
          nullable: true
          type: string
        type:
          $ref: '#/components/schemas/ExternalAccountType'
      type: object
    ExternalAccountType:
      description: External account type
      enum:
        - financial
        - wire
        - card
        - internationalWire
      type: string
    ExternalWireAccountCreateModel:
      additionalProperties: false
      description: External wire account create model
      properties:
        accountNumber:
          description: Bank account number
          maxLength: 35
          minLength: 1
          type: string
        identityId:
          description: Identity id
          format: uuid
          minLength: 1
          type: string
        receiverAddress:
          $ref: '#/components/schemas/AddressModel'
        receiverBankAddress:
          $ref: '#/components/schemas/AddressModel'
        receiverBankName:
          description: Receiver bank name
          nullable: true
          type: string
        receiverName:
          description: Receiver name
          minLength: 1
          type: string
        routingNumber:
          description: >-
            Valid 9-digit ABA routing transit number associated with the
            account.
          example: '122105155'
          maxLength: 9
          minLength: 1
          pattern: >-
            ^$|((0[0-9])|(1[0-2])|(2[1-9])|(3[0-2])|(6[1-9])|(7[0-2])|80)([0-9]{7})
          type: string
      required:
        - accountNumber
        - identityId
        - receiverAddress
        - receiverBankAddress
        - receiverName
        - routingNumber
      type: object
    FailReason:
      description: Fail reason
      enum:
        - none
        - bankAccountCreateFailed
        - bankAccountClosed
        - transactionPartFailed
        - isaIsNotConfigured
        - unexpectedErrorOccurs
        - abortFlowActivityDueFiatLockFailed
        - abortFlowActivityDueZebPayOrderFailed
        - abortFlowActivityDueCryptoLockFailed
        - abortFlowActivityDueFortressOrderRequestFailed
        - transactionPartCancelled
        - riskAssessmentRejection
        - amlScreeningFailed
        - transactionCancelled
        - abortFlowActivityDueKitCoOrderFailed
      type: string
    FiatIntegrationServiceProvider:
      enum:
        - treasuryPrime
        - cos
        - treasuryPrimeWithBankCogent
      type: string
    FinancialAccountsProvider:
      description: "Financial accounts provider, maps to Fortress.Core.Domain.Models.Entities.FundsStorages.ExternalAccounts.ExternalAccountProviderSpecific.\r\nIs part of Fortress.Core.Domain.Models.Entities.IntegrationServiceProvider."
      enum:
        - mx
        - plaid
        - plaidProcessorToken
        - plainAchInstructions
      type: string
    ForceCompleteTransactionRequest:
      additionalProperties: false
      properties:
        sendWebhook:
          type: boolean
        setAmountToZero:
          type: boolean
      type: object
    FortressPaymentBaseDataResponseModel:
      additionalProperties: false
      description: Fortress payment data response model
      properties:
        accountId:
          description: Account identifier
          format: uuid
          nullable: true
          type: string
        createdAtUtc:
          description: Gets or sets the created at UTC.
          format: date-time
          type: string
        from:
          $ref: '#/components/schemas/AssetAmountModel'
        hasTransfersThatNeedResolving:
          description: True in case has transfers that need resolving
          type: boolean
        isWaitingForZebPayBalance:
          description: True in case is waiting for ZebPay balance
          type: boolean
        mainTransactionId:
          description: Main transaction identifier
          format: uuid
          type: string
        mainTransactionStatus:
          $ref: '#/components/schemas/TransactionStatus'
        markup:
          $ref: '#/components/schemas/MarkupModel'
        network:
          $ref: '#/components/schemas/ModelNetworkChain'
        paymentId:
          description: Payment identifier
          format: uuid
          type: string
        to:
          $ref: '#/components/schemas/AssetAmountModel'
        transactionGroupId:
          description: Transaction group identifier
          format: uuid
          nullable: true
          type: string
        type:
          description: Transfer type
          nullable: true
          type: string
        zebPayOrderExecutedSuccessfully:
          description: True in case ZebPay order executed successfully
          nullable: true
          type: boolean
        zebPayOrderId:
          description: ZebPay identifier
          format: uuid
          nullable: true
          type: string
      type: object
    FortressPaymentBaseDataResponseModelPageResponseModel:
      additionalProperties: false
      properties:
        data:
          description: Gets or sets the data.
          items:
            $ref: '#/components/schemas/FortressPaymentBaseDataResponseModel'
          nullable: true
          type: array
        meta:
          $ref: '#/components/schemas/PageMetadata'
      type: object
    FortressPaymentResponseModel:
      additionalProperties: false
      description: "Fortress payment data response model for particular transfer\r\nModel has the same fields as FortressPaymentBaseDataResponseModel, but inheritance is not use in order to not break order of fields"
      properties:
        accountId:
          description: Account identifier
          format: uuid
          nullable: true
          type: string
        createdAtUtc:
          description: Gets or sets the created at UTC.
          format: date-time
          type: string
        from:
          $ref: '#/components/schemas/AssetAmountModel'
        hasTransfersThatNeedResolving:
          description: True in case has transfers that need resolving
          type: boolean
        isWaitingForZebPayBalance:
          description: True in case is waiting for ZebPay balance
          type: boolean
        mainTransactionId:
          description: Main transaction identifier
          format: uuid
          type: string
        mainTransactionStatus:
          $ref: '#/components/schemas/TransactionStatus'
        markup:
          $ref: '#/components/schemas/MarkupModel'
        network:
          $ref: '#/components/schemas/ModelNetworkChain'
        paymentId:
          description: Payment identifier
          format: uuid
          type: string
        settlementTransfers:
          $ref: '#/components/schemas/SettlementTransfersModel'
        to:
          $ref: '#/components/schemas/AssetAmountModel'
        transactionGroupId:
          description: Transaction group identifier
          format: uuid
          nullable: true
          type: string
        type:
          description: Transfer type
          nullable: true
          type: string
        zebPayOrderExecutedSuccessfully:
          description: True in case ZebPay order executed successfully
          type: boolean
        zebPayOrderId:
          description: ZebPay identifier
          format: uuid
          nullable: true
          type: string
      type: object
    FundsStorageModel:
      additionalProperties: false
      description: Funds storage model
      properties:
        custodialAccountId:
          description: Gets or sets the custodial account identifier.
          format: uuid
          nullable: true
          type: string
        externalAccountId:
          description: Gets or sets the external account identifier.
          format: uuid
          nullable: true
          type: string
      type: object
    FundsStorageResponseModel:
      additionalProperties: false
      description: Funds storage response model
      properties:
        comment:
          description: Originator to beneficiary info
          nullable: true
          type: string
        cryptoAddress:
          description: Crypto address
          nullable: true
          type: string
        custodialAccountId:
          description: Custodial account identifier
          format: uuid
          nullable: true
          type: string
        custodialSubAccountId:
          description: Custodial sub account identifier
          format: uuid
          nullable: true
          type: string
        description:
          description: Description
          nullable: true
          type: string
        externalAccountId:
          description: External account identifier
          format: uuid
          nullable: true
          type: string
        identityId:
          description: Identity identifier
          format: uuid
          nullable: true
          type: string
        imad:
          $ref: '#/components/schemas/ImadModel'
        incomingTransferOrigin:
          description: Incoming transfer origin
          nullable: true
          type: string
        originator:
          $ref: '#/components/schemas/OriginatorModel'
        refCode:
          description: Reference code
          nullable: true
          type: string
        tag:
          description: Tag
          nullable: true
          type: string
      type: object
    GetInternationalWiresPageFilterRequest:
      additionalProperties: false
      properties:
        page:
          description: Page count
          format: int32
          type: integer
        pageSize:
          description: PageSize
          format: int32
          type: integer
        status:
          $ref: '#/components/schemas/InternationalWireStatus'
      required:
        - status
      type: object
    ImadModel:
      additionalProperties: false
      description: IMAD Sub-object
      properties:
        parsed:
          $ref: '#/components/schemas/ParsedModel'
        raw:
          description: "Unparsed (Raw) - Input Message Accountability Data: a unique number assigned to a wire\r\ntransfer processed through the Federal Reserve Bank’s FedwireService."
          nullable: true
          type: string
      type: object
    ImportedBalanceResponse:
      additionalProperties: false
      properties:
        generalError:
          nullable: true
          type: string
        items:
          items:
            $ref: '#/components/schemas/ImportedBalanceResponseItem'
          nullable: true
          type: array
      type: object
    ImportedBalanceResponseItem:
      additionalProperties: false
      properties:
        amount:
          nullable: true
          type: string
        assetFiatType:
          $ref: '#/components/schemas/ModelAssetFiatType'
        custodialAccountId:
          format: uuid
          nullable: true
          type: string
        error:
          nullable: true
          type: string
        networkChain:
          $ref: '#/components/schemas/ModelNetworkChain'
        organizationId:
          format: uuid
          nullable: true
          type: string
      type: object
    InitiateMovementJobRequestModel:
      additionalProperties: false
      description: Represents the request of initiation movement job
      properties:
        initiateJob:
          description: Should job be initiated or stopped
          type: boolean
        jobType:
          $ref: '#/components/schemas/JobType'
        minuteInterval:
          description: Interval in minutes for job
          format: int32
          type: integer
      required:
        - initiateJob
        - jobType
      type: object
    InstructionsResponseModel:
      additionalProperties: false
      description: Instructions response model
      properties:
        ach:
          $ref: '#/components/schemas/AchInstructionsModel'
        subAccountsWire:
          description: Wire sub account instructions.
          items:
            $ref: '#/components/schemas/WireInstructionsModel'
          nullable: true
          type: array
        wire:
          $ref: '#/components/schemas/WireInstructionsModel'
      type: object
    IntegrationServiceProvider:
      description: Providers
      enum:
        - treasuryPrime
        - mx
        - checkout
        - plainWireInstructions
        - fireblocks
        - nmi
        - cos
        - plaid
        - plaidProcessorToken
        - plainAchInstructions
        - flowRpc
        - nonApiBank
        - treasuryPrimeWithBankCogent
      type: string
    InternalAdminOrganizationRelation:
      description: >-
        Organization relations. Includes only allowed for the internal admin
        relations.
      enum:
        - permissions
        - adminConfiguration
        - roles
      type: string
    InternationalWireCreateModel:
      additionalProperties: false
      description: Represents a request to create a new international wire transfer.
      properties:
        identityId:
          description: >-
            Gets or sets the unique identifier of the identity sending the wire
            transfer.
          format: uuid
          minLength: 1
          type: string
        intermediaryBankAddress:
          $ref: '#/components/schemas/AddressModel'
        intermediaryBankName:
          description: Gets or sets the name of the intermediary bank.
          nullable: true
          type: string
        internationalBankAccountNumber:
          description: Gets or sets the international bank account number of the recipient.
          maxLength: 35
          minLength: 1
          type: string
        receiverAddress:
          $ref: '#/components/schemas/AddressModel'
        receiverBankAddress:
          $ref: '#/components/schemas/AddressModel'
        receiverBankName:
          description: Gets or sets the name of the recipient's bank.
          minLength: 1
          type: string
        receiverName:
          description: Gets or sets the name of the recipient.
          minLength: 1
          type: string
        routingNumber:
          description: Gets or sets the routing number of the intermediary bank.
          nullable: true
          type: string
        swiftCode:
          description: Gets or sets the SWIFT code of the recipient's bank.
          minLength: 1
          pattern: '^[A-Z]{6}[A-Z0-9]{2}([A-Z0-9]{3})?$'
          type: string
      required:
        - identityId
        - internationalBankAccountNumber
        - receiverAddress
        - receiverBankAddress
        - receiverBankName
        - receiverName
        - swiftCode
      type: object
    InternationalWireResponseModel:
      additionalProperties: false
      properties:
        amountToSend:
          format: double
          type: number
        createdAtUtc:
          format: date-time
          type: string
        destAccountHolderAddress:
          $ref: '#/components/schemas/AddressModel'
        destAccountHolderName:
          nullable: true
          type: string
        destBank:
          nullable: true
          type: string
        destBankAccountNumber:
          nullable: true
          type: string
        destBankAddress:
          $ref: '#/components/schemas/AddressModel'
        destBankSwift:
          nullable: true
          type: string
        imadReferenceNumber:
          nullable: true
          type: string
        internationalBankAccountNumber:
          nullable: true
          type: string
        lastUpdatedAtUtc:
          format: date-time
          nullable: true
          type: string
        memoLine:
          nullable: true
          type: string
        organizationId:
          format: uuid
          type: string
        paymentId:
          format: uuid
          type: string
        purposeOfPayment:
          nullable: true
          type: string
        referenceNumber:
          nullable: true
          type: string
        sourceAccountNumber:
          nullable: true
          type: string
        sourceCustodialAccountId:
          nullable: true
          type: string
        status:
          $ref: '#/components/schemas/InternationalWireStatus'
      type: object
    InternationalWireResponseModelPageResponseModel:
      additionalProperties: false
      properties:
        data:
          description: Gets or sets the data.
          items:
            $ref: '#/components/schemas/InternationalWireResponseModel'
          nullable: true
          type: array
        meta:
          $ref: '#/components/schemas/PageMetadata'
      type: object
    InternationalWireStatus:
      enum:
        - none
        - inProgress
        - completed
        - failed
      type: string
    InternationalWireStatusUpdateModel:
      additionalProperties: false
      description: Model for updating the status of an international wire request
      properties:
        status:
          $ref: '#/components/schemas/InternationalWireStatus'
      required:
        - status
      type: object
    InvalidateCacheModel:
      additionalProperties: false
      properties:
        cacheType:
          $ref: '#/components/schemas/CacheType'
        identifier:
          description: 'Identifire (OrgId, OpsUserId, AuthId)'
          nullable: true
          type: string
      required:
        - cacheType
      type: object
    JobType:
      enum:
        - fromInactivatedAccountToFiatMigrationAccount
        - fromActivatedAccountToFiatOmnibusAccount
      type: string
    LiquidityProvider:
      description: Liquidity provider
      enum:
        - zebPay
        - fortress
        - kitco
        - coinRoutes
        - talos
      type: string
    LiquidityProviderOrderResponseModel:
      additionalProperties: false
      description: ZebPay order response model for particular transfer
      properties:
        amount:
          description: Order amount
          format: double
          type: number
        asset:
          $ref: '#/components/schemas/ModelAssetFiatType'
        createdAtUtc:
          description: Gets or sets the created at UTC.
          format: date-time
          type: string
        isWaitingForBalance:
          description: True in case is waiting for balance
          type: boolean
        network:
          $ref: '#/components/schemas/ModelNetworkChain'
        orderExecutedSuccessfully:
          description: True in case order executed successfully
          nullable: true
          type: boolean
        orderId:
          description: Order identifier
          format: uuid
          nullable: true
          type: string
        settlementTransfers:
          $ref: '#/components/schemas/OrderSettlementTransfersModel'
      type: object
    LiquidityProviderOrdersDataResponseModel:
      additionalProperties: false
      description: Liquidity Provider orders data response model
      properties:
        amount:
          description: Order amount
          format: double
          type: number
        asset:
          $ref: '#/components/schemas/ModelAssetFiatType'
        createdAtUtc:
          description: Gets or sets the created at UTC.
          format: date-time
          type: string
        isWaitingForBalance:
          description: True in case is waiting for ZebPay balance
          type: boolean
        network:
          $ref: '#/components/schemas/ModelNetworkChain'
        orderExecutedSuccessfully:
          description: True in case ZebPay order executed successfully
          nullable: true
          type: boolean
        orderId:
          description: Order identifier
          format: uuid
          nullable: true
          type: string
      type: object
    LiquidityProviderOrdersDataResponseModelPageResponseModel:
      additionalProperties: false
      properties:
        data:
          description: Gets or sets the data.
          items:
            $ref: '#/components/schemas/LiquidityProviderOrdersDataResponseModel'
          nullable: true
          type: array
        meta:
          $ref: '#/components/schemas/PageMetadata'
      type: object
    ManuallyProcessedTransferRequestModel:
      additionalProperties: false
      properties:
        amount:
          format: double
          minimum: 0.01
          type: number
        description:
          minLength: 1
          type: string
        destinationCurrency:
          $ref: '#/components/schemas/ModelAssetFiatType'
        destinationCustidialAccountId:
          format: uuid
          nullable: true
          type: string
        network:
          $ref: '#/components/schemas/ModelNetworkChain'
        sourceCurency:
          $ref: '#/components/schemas/ModelAssetFiatType'
        sourceCustidialAccountId:
          format: uuid
          nullable: true
          type: string
      required:
        - description
      type: object
    MarkupModel:
      additionalProperties: false
      description: Markup model
      properties:
        amount:
          description: Amount
          format: double
          nullable: true
          type: number
        asset:
          $ref: '#/components/schemas/ModelAssetFiatType'
        basisPoints:
          description: Basis points
          format: double
          nullable: true
          type: number
      type: object
    MarkupRequestModel:
      additionalProperties: false
      properties:
        commonMarkup:
          $ref: '#/components/schemas/CommonMarkupModel'
        tradingPairsMarkup:
          items:
            $ref: '#/components/schemas/TradingPairMarkupModel'
          nullable: true
          type: array
      required:
        - commonMarkup
      type: object
    MarkupResponseModel:
      additionalProperties: false
      properties:
        commonMarkup:
          $ref: '#/components/schemas/CommonMarkupModel'
        tradingPairsMarkup:
          items:
            $ref: '#/components/schemas/TradingPairMarkupModel'
          nullable: true
          type: array
      type: object
    ModelAssetFiatType:
      description: Asset fiat type
      enum:
        - usd
        - btc
        - eth
        - matic
        - usdc
        - sol
        - ada
        - xlm
        - dot
        - link
        - algo
        - bnb
        - busd
        - avax
        - ltc
        - uni
        - crv
        - aave
        - eos
        - bch
        - xtz
        - comp
        - bat
        - shib
        - doge
        - grt
        - sushi
        - sand
        - enj
        - axs
        - mana
        - mkr
        - yfi
        - atom
        - ape
        - dai
        - usdt
        - near
        - trx
        - ftm
        - xrp
        - flrns
        - flow
        - smtf
        - qnt
        - chz
        - gala
        - hbar
        - gold
        - silver
      type: string
    ModelAssetType:
      description: Asset type
      enum:
        - fiatCurrency
        - cryptoCurrency
        - privateSecurity
        - nft
        - preciousMetal
      type: string
    ModelAssetTypeV2:
      description: Asset type V2
      enum:
        - fiat
        - crypto
        - privateSecurity
        - nft
        - preciousMetal
      type: string
    ModelCustodialAccountStatus:
      enum:
        - open
        - suspended
      type: string
    ModelNetworkChain:
      description: Supported networks
      enum:
        - mainnet
        - ropsten
        - goerli
        - bnbSmartChainMainnet
        - eosMainnet
        - bnbSmartChainTestnet
        - polygonMainnet
        - fantomMainnet
        - eosTestnet
        - bitcoinMainnet
        - cosmosHub
        - cosmosHubTestnet
        - bitcoinTestnet
        - bchMainnet
        - bchTestnet
        - solanaMainnet
        - solanaDevnet
        - solanaTestnet
        - polkadotMainnet
        - polkadotWestend
        - cardanoMainnet
        - cardanoTestnet
        - algorandMainnet
        - algorandTestnet
        - stellarMainnet
        - stellarTestnet
        - litecoinMainnet
        - litecoinTestnet
        - tezosMainnet
        - tezosTestnet
        - arbitrumMainnet
        - avalancheFuji
        - avalancheMainnet
        - polygonMumbai
        - rippleMainnet
        - rippleTestnet
        - arbitrumGoerli
        - dogeTestnet
        - dogeMainnet
        - nearMainnet
        - nearTestnet
        - tronMainnet
        - tronTestnet
        - flowMainnet
        - flowTestnet
        - hederaMainnet
        - hederaTestnet
      type: string
    ModelOrderType:
      description: Order type
      enum:
        - market
        - limit
      type: string
    Mt103ReferenceBaseModel:
      additionalProperties: false
      properties:
        accountWithInstitution:
          nullable: true
          type: string
        bankOperationCode:
          minLength: 1
          type: string
        beneficiaryCustomer:
          $ref: '#/components/schemas/BeneficiaryCustomer'
        currency_instructedAmount:
          $ref: '#/components/schemas/CurrencyInstructedAmount'
        detailsOfCharges:
          minLength: 1
          type: string
        exchangeRate:
          nullable: true
          type: string
        instructionCode:
          nullable: true
          type: string
        intermediaryInstitution:
          nullable: true
          type: string
        orderingCustomer:
          $ref: '#/components/schemas/OrderingCustomer'
        orderingInstitution:
          nullable: true
          type: string
        receiversCharges:
          nullable: true
          type: string
        receiversCorrespondent:
          nullable: true
          type: string
        regulatoryReporting:
          nullable: true
          type: string
        remittanceInformation:
          nullable: true
          type: string
        senderToReceiverInformation:
          nullable: true
          type: string
        sendersCharges:
          nullable: true
          type: string
        sendersCorrespondent:
          nullable: true
          type: string
        sendersReference:
          minLength: 1
          type: string
        sendingInstitution:
          nullable: true
          type: string
        thirdReimbursementInstitution:
          nullable: true
          type: string
        timeIndication:
          nullable: true
          type: string
        transactionTypeCode:
          nullable: true
          type: string
        valueDate_currency_interbankSettledAmount:
          $ref: '#/components/schemas/ValueDateCurrencyInterbankSettledAmount'
      required:
        - bankOperationCode
        - beneficiaryCustomer
        - detailsOfCharges
        - orderingCustomer
        - sendersReference
        - valueDate_currency_interbankSettledAmount
      type: object
    Mt103ReferenceResponseModel:
      additionalProperties: false
      properties:
        accountWithInstitution:
          nullable: true
          type: string
        bankOperationCode:
          nullable: true
          type: string
        beneficiaryCustomer:
          $ref: '#/components/schemas/BeneficiaryCustomer'
        currency_instructedAmount:
          $ref: '#/components/schemas/CurrencyInstructedAmount'
        detailsOfCharges:
          nullable: true
          type: string
        exchangeRate:
          nullable: true
          type: string
        instructionCode:
          nullable: true
          type: string
        intermediaryInstitution:
          nullable: true
          type: string
        orderingCustomer:
          $ref: '#/components/schemas/OrderingCustomer'
        orderingInstitution:
          nullable: true
          type: string
        receiversCharges:
          nullable: true
          type: string
        receiversCorrespondent:
          nullable: true
          type: string
        regulatoryReporting:
          nullable: true
          type: string
        remittanceInformation:
          nullable: true
          type: string
        senderToReceiverInformation:
          nullable: true
          type: string
        sendersCharges:
          nullable: true
          type: string
        sendersCorrespondent:
          nullable: true
          type: string
        sendersReference:
          nullable: true
          type: string
        sendingInstitution:
          nullable: true
          type: string
        thirdReimbursementInstitution:
          nullable: true
          type: string
        timeIndication:
          nullable: true
          type: string
        transactionId:
          format: uuid
          type: string
        transactionTypeCode:
          nullable: true
          type: string
        valueDate_currency_interbankSettledAmount:
          $ref: '#/components/schemas/ValueDateCurrencyInterbankSettledAmount'
      type: object
    NetworkChain:
      enum:
        - mainnet
        - rinkeby
        - goerli
        - kovan
        - bnbSmartChainMainnet
        - eosMainnet
        - bnbSmartChainTestnet
        - polygonMainnet
        - fantomMainnet
        - eosTestnet
        - bitcoinMainnet
        - cosmosHub
        - cosmosHubTestnet
        - bitcoinTestnet
        - bchMainnet
        - bchTestnet
        - solanaMainnet
        - solanaDevnet
        - solanaTestnet
        - polkadotMainnet
        - polkadotWestend
        - cardanoMainnet
        - cardanoTestnet
        - algorandMainnet
        - algorandTestnet
        - stellarMainnet
        - stellarTestnet
        - litecoinMainnet
        - litecoinTestnet
        - tezosMainnet
        - tezosTestnet
        - arbitrumMainnet
        - avalancheFuji
        - avalancheMainnet
        - polygonMumbai
        - rippleMainnet
        - rippleTestnet
        - arbitrumGoerli
        - dogeTestnet
        - dogeMainnet
        - nearMainnet
        - nearTestnet
        - tronMainnet
        - tronTestnet
        - flowMainnet
        - flowTestnet
        - hederaMainnet
        - hederaTestnet
      type: string
    NonApiClearingAccountDataModel:
      additionalProperties: false
      description: Non Api clearing account data model
      properties:
        accountNumber:
          description: Clearing account number
          nullable: true
          type: string
        bankAddress:
          $ref: '#/components/schemas/AddressModel'
        bankName:
          description: Name of bank
          nullable: true
          type: string
        fiat:
          $ref: '#/components/schemas/ModelAssetFiatType'
        nickName:
          description: NickName for internal use
          nullable: true
          type: string
        routingNumber:
          description: Clearing Account routing number
          maxLength: 9
          minLength: 1
          pattern: >-
            ^$|((0[0-9])|(1[0-2])|(2[1-9])|(3[0-2])|(6[1-9])|(7[0-2])|80)([0-9]{7})
          type: string
        swiftCode:
          description: Clearing account SWIFT Code
          nullable: true
          type: string
      required:
        - routingNumber
      type: object
    OperationType:
      description: Operation type
      enum:
        - base
        - fee
        - isa
        - lock
        - releaseLock
        - cancelLock
        - pending
        - releasePending
        - cancelPending
        - feeCompensation
        - limits
        - reverse
        - lockTradable
        - pendingTradable
        - releaseLockTradable
        - cancelLockTradable
        - releasePendingTradable
        - cancelPendingTradable
        - bookToOmnibus
        - omnibusBase
        - omnibusLock
        - omnibusReleaseLock
        - omnibusPending
        - omnibusReleasePending
        - omnibusWithdrawal
        - accountWithdrawal
        - negativeBalance
        - return
        - omnibusBookToMaster
        - retryTransaction
        - omnibusInternal
        - omnibusReturn
        - omnibusCancelLock
        - cancelTransaction
        - omnibusNegativeBalance
        - bookToFiatMigrationAccount
      type: string
    OpsUserPatchModel:
      additionalProperties: false
      description: Ops user patch model
      properties:
        email:
          description: Gets or sets the email.
          nullable: true
          type: string
        name:
          description: Gets or sets the name.
          maxLength: 500
          nullable: true
          type: string
      type: object
    OpsUserPatchRolesModel:
      additionalProperties: false
      description: Ops user patch roles model
      properties:
        roles:
          description: Ops user roles
          items:
            type: string
          nullable: true
          type: array
      type: object
    OpsUserRelation:
      description: >-
        Ops user relations. Includes only allowed for the security admin
        relations.
      enum:
        - roles
      type: string
    OpsUserRequestModel:
      additionalProperties: false
      description: Create Ops user model
      properties:
        email:
          description: Gets or sets the email.
          minLength: 1
          type: string
        name:
          description: Gets or sets the name.
          maxLength: 500
          minLength: 1
          type: string
      required:
        - email
        - name
      type: object
    OpsUserResponseModel:
      additionalProperties: false
      description: Ops user response model
      properties:
        email:
          description: Gets or sets the email.
          nullable: true
          type: string
        id:
          description: Gets or sets the identifier.
          format: uuid
          type: string
        name:
          description: Gets or sets the name.
          nullable: true
          type: string
        password:
          description: >-
            Gets or sets the password. Present only in the response of ops user
            creation.
          nullable: true
          type: string
      type: object
    OpsUserWithIncludeResponseModel:
      additionalProperties: false
      description: Ops user response model with include properties
      properties:
        email:
          description: Gets or sets the email.
          nullable: true
          type: string
        id:
          description: Gets or sets the identifier.
          format: uuid
          type: string
        name:
          description: Gets or sets the name.
          nullable: true
          type: string
        password:
          description: >-
            Gets or sets the password. Present only in the response of ops user
            creation.
          nullable: true
          type: string
        roles:
          description: Ops user roles
          items:
            $ref: '#/components/schemas/ApiRoleResponseModel'
          nullable: true
          type: array
      type: object
    OpsUserWithIncludeResponseModelPageResponseModel:
      additionalProperties: false
      properties:
        data:
          description: Gets or sets the data.
          items:
            $ref: '#/components/schemas/OpsUserWithIncludeResponseModel'
          nullable: true
          type: array
        meta:
          $ref: '#/components/schemas/PageMetadata'
      type: object
    OrderSettlementTransfersModel:
      additionalProperties: false
      description: Settlement transfer model
      properties:
        fromFortress:
          $ref: '#/components/schemas/OrderTransferModel'
        toFortress:
          $ref: '#/components/schemas/OrderTransferModel'
      type: object
    OrderTransferModel:
      additionalProperties: false
      description: Transfer model
      properties:
        amount:
          description: Transfer amount
          format: double
          type: number
        asset:
          $ref: '#/components/schemas/ModelAssetFiatType'
        network:
          $ref: '#/components/schemas/ModelNetworkChain'
        status:
          $ref: '#/components/schemas/SettlementTransferStatus'
      type: object
    OrderingCustomer:
      additionalProperties: false
      properties:
        account_identifierCode:
          $ref: '#/components/schemas/AccountIdentifierCode'
        account_nameAddress:
          $ref: '#/components/schemas/AccountNameAddress'
        partyIdentifier_nameAddress:
          $ref: '#/components/schemas/PartyIdentifierNameAddress'
      type: object
    OrgAdminConfigurationPatchModel:
      additionalProperties: false
      description: Organization configuration patch model
      properties:
        achDescriptor:
          description: ACHDescriptor for COS ACH payments
          maxLength: 10
          nullable: true
          pattern: '^[a-zA-Z0-9 ]*$'
          type: string
        assetsToAllowNegativeBalances:
          description: Assets to allow negative balances
          items:
            $ref: '#/components/schemas/ModelAssetFiatType'
          nullable: true
          type: array
[...]
