openapi: 3.0.1
info:
  title: Template Api
  version: '1.0'
servers:
  - url: 'https://api.sandbox.fortressapi.com/'
paths:
  /api/internal-admin/v1/custodial-accounts/agreement:
    post:
      responses:
        '204':
          description: No content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          multipart/form-data:
            encoding:
              File:
                style: form
              UploadedBy:
                style: form
            schema:
              properties:
                File:
                  description: Get or set form file
                  format: binary
                  type: string
                UploadedBy:
                  description: Get or set uploaded by
                  type: string
              required:
                - File
                - UploadedBy
              type: object
      summary: 'Create custodial account agreement (Auth policies: InternalAdmin)'
  /api/internal-admin/v1/custodial-accounts/crypto-buy-refunds:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentForBuyCryptoModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentForBuyCryptoModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentForBuyCryptoModel'
        description: Model that defines amount to transfer
      summary: >-
        Refund internal from Liquidity Provider to end user custodial (Auth
        policies: InternalAdmin)
  /api/internal-admin/v1/custodial-accounts/crypto-sell-refunds:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentForCryptoSellRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentForCryptoSellRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentForCryptoSellRequest'
        description: Model that defines amount to transfer
      summary: >-
        Refund internal crypto from Liquidity Provider to end user custodial
        (Auth policies: InternalAdmin)
  /api/internal-admin/v1/custodial-accounts/ensure-system-accounts:
    patch:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemAccountsValidationResultModel'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      summary: 'Ensure system custodial account (Auth policies: InternalAdmin)'
  /api/internal-admin/v1/custodial-accounts/from-ca-to-fiat-migration-account:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No content response.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: User with such auth identifier was not found.
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Custodial account was not found.
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/CreateInactiveAccountInternalMovementRequestModel
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CreateInactiveAccountInternalMovementRequestModel
          text/json:
            schema:
              $ref: >-
                #/components/schemas/CreateInactiveAccountInternalMovementRequestModel
        description: The custodial account identifier.
      summary: >-
        Create hidden payment to move fiat from an inactive provider specific to
        FortressTradeAndDepositFiatMigration account (Auth policies:
        InternalAdmin)
  /api/internal-admin/v1/custodial-accounts/from-ca-to-liquidity:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/CreateRefundPaymentFromCustodialAccountToLiquidityRequest
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CreateRefundPaymentFromCustodialAccountToLiquidityRequest
          text/json:
            schema:
              $ref: >-
                #/components/schemas/CreateRefundPaymentFromCustodialAccountToLiquidityRequest
        description: Model that defines amount to transfer
      summary: >-
        Refund internal crypto from user custodial to Fortress Liquidity (Auth
        policies: InternalAdmin)
  /api/internal-admin/v1/custodial-accounts/from-ca-to-trading:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentFromCaToTradingRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentFromCaToTradingRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentFromCaToTradingRequest'
        description: Model that defines amount to transfer
      summary: >-
        Refund internal crypto from end user custodial to Fortress Trading (Auth
        policies: InternalAdmin)
  /api/internal-admin/v1/custodial-accounts/from-trading-to-liquidity-provider:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentFromTradingToZpRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentFromTradingToZpRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentFromTradingToZpRequest'
        description: Model that defines amount to transfer
      summary: >-
        Refund internal crypto from Fortress Trading to Liquidity Provider (Auth
        policies: InternalAdmin)
  /api/internal-admin/v1/custodial-accounts/helper-account:
    post:
      responses:
        '204':
          description: No content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateHelperCustodialAccountRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHelperCustodialAccountRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateHelperCustodialAccountRequestModel'
        description: Create helper custodial account request model
      summary: >-
        Create helper account (fortress accounts as omnibus complementary
        accounts) (Auth policies: InternalAdmin)
  /api/internal-admin/v1/custodial-accounts/process-transfer-manually:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ManuallyProcessedTransferRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ManuallyProcessedTransferRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ManuallyProcessedTransferRequestModel'
        description: Model that defines manually processed transfer
      summary: >-
        Create a payment to store records about manually processed transfer
        (Auth policies: InternalAdmin)
  /api/internal-admin/v1/custodial-accounts/run-migration-job:
    post:
      parameters:
        - description: Organization identifier
          in: query
          name: organizationId
          schema:
            format: uuid
            type: string
          style: form
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/InitiateMovementJobRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateMovementJobRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/InitiateMovementJobRequestModel'
        description: InitiateMovementJobRequestModel
      summary: >-
        Run movementJob FromActivatedAccountToFiatOmnibusAccount or
        FromInactivatedAccountToFiatMigrationAccount (Auth policies:
        InternalAdmin)
  /api/internal-admin/v1/custodial-accounts/suspense/not-resolved-payments:
    get:
      parameters:
        - in: query
          name: PaymentType
          schema:
            $ref: '#/components/schemas/PaymentTypeToSuspenseAccount'
          style: form
        - description: Page count
          in: query
          name: Page
          schema:
            format: int32
            type: integer
          style: form
        - description: PageSize
          in: query
          name: PageSize
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponseModelPageResponseModel'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      summary: >-
        Retrieve list transactions of not resolved payments on suspense account
        (Auth policies: InternalAdmin)
  '/api/internal-admin/v1/custodial-accounts/suspense/payments/{paymentId}/resolve':
    post:
      parameters:
        - description: The payment identifier.
          in: path
          name: paymentId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolvePaymentResponseModel'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Client Error
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ResolvePaymentRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ResolvePaymentRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ResolvePaymentRequestModel'
        description: The resolve payment model.
      summary: 'Resolve payment on suspense account (Auth policies: InternalAdmin)'
  /api/internal-admin/v1/custodial-accounts/top-up-internal-omnibus-balance-from-check-deposit-source-account:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/TopUpInternalOmnibusRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/TopUpInternalOmnibusRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/TopUpInternalOmnibusRequestModel'
        description: Model that defines amount to transfer
      summary: >-
        Top up internal omnibus from Check Deposit Source account (Auth
        policies: InternalAdmin)
  /api/internal-admin/v1/custodial-accounts/top-up-internal-omnibus-balance-from-liquidity-provider-account:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/TopUpInternalOmnibusRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/TopUpInternalOmnibusRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/TopUpInternalOmnibusRequestModel'
        description: Model that defines amount to transfer
      summary: >-
        Top up internal omnibus from Liquidity Provider account (Auth policies:
        InternalAdmin)
  '/api/internal-admin/v1/custodial-accounts/top-up-internal-omnibus-balance-from-user-bank-account/{custodialAccountId}':
    post:
      parameters:
        - description: Id that represents user CA
          in: path
          name: custodialAccountId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      summary: >-
        Top up internal omnibus from User Bank account (Auth policies:
        InternalAdmin)
  '/api/internal-admin/v1/custodial-accounts/{custodialAccountId}/non-api-clearing-account':
    get:
      parameters:
        - description: The custodial account identifier.
          in: path
          name: custodialAccountId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonApiClearingAccountDataModel'
          description: Non-Api clearing account data model
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: >-
            Custodial account was not found or the custodial account does not
            have non-API bank.
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      summary: 'Retrieve non-API clearing account data (Auth policies: InternalAdmin)'
    put:
      parameters:
        - description: The custodial account identifier.
          in: path
          name: custodialAccountId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No content response.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Custodial account was not found.
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/NonApiClearingAccountDataModel'
          application/json:
            schema:
              $ref: '#/components/schemas/NonApiClearingAccountDataModel'
          text/json:
            schema:
              $ref: '#/components/schemas/NonApiClearingAccountDataModel'
        description: The configuration model.
      summary: >-
        Configure non-API clearing account data on custodial account inside
        Fortress (Auth policies: InternalAdmin)
  '/api/internal-admin/v1/custodial-accounts/{custodialAccountId}/replace-omnibus':
    put:
      parameters:
        - description: Custodial account identifier.
          in: path
          name: custodialAccountId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      summary: 'Replace omnibus account banking data (Auth policies: InternalAdmin)'
  '/api/internal-admin/v1/force-complete-transaction/{transactionId}':
    patch:
      parameters:
        - description: The transaction identifier.
          in: path
          name: transactionId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponseModel'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ForceCompleteTransactionRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ForceCompleteTransactionRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ForceCompleteTransactionRequest'
        description: Request model for transaction force completion
      summary: >-
        Force successful transaction completion for failed payment (Auth
        policies: InternalAdmin)
  /api/internal-admin/v1/import-tp-recon-payments/csv:
    post:
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          multipart/form-data:
            encoding:
              file:
                style: form
            schema:
              properties:
                file:
                  items:
                    format: binary
                    type: string
                  type: array
              type: object
      summary: >-
        Import file with payments to try find missing payments or link existing
        (Auth policies: InternalAdmin)
  /api/internal-admin/v1/invalidate-cache:
    post:
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/InvalidateCacheModel'
          application/json:
            schema:
              $ref: '#/components/schemas/InvalidateCacheModel'
          text/json:
            schema:
              $ref: '#/components/schemas/InvalidateCacheModel'
        description: Specify which cache need to be invalidated
      summary: 'Invalidate cache immediately (Auth policies: InternalAdmin)'
  '/api/internal-admin/v1/manually-process/crypto-deposit/{paymentId}/move-pending-to-disbursable':
    post:
      parameters:
        - description: Payment identifier
          in: path
          name: paymentId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - ManuallyProcess
      summary: >-
        Move pending to disbursable in case crypto deposit failing (Auth
        policies: InternalAdmin)
  '/api/internal-admin/v1/manually-process/wire-withdrawal/{paymentId}/remove-locked-money-from-account':
    post:
      parameters:
        - description: Payment identifier
          in: path
          name: paymentId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - ManuallyProcess
      summary: >-
        Remove locked money from account in case wire withdrawal failing and
        processing manually through TP API (Auth policies: InternalAdmin)
  '/api/internal-admin/v1/manually-process/wire-withdrawal/{paymentId}/unlock-and-return-money':
    post:
      parameters:
        - description: Payment identifier
          in: path
          name: paymentId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - ManuallyProcess
      summary: >-
        Unlock and return money to user while wire withdrawal failing (Auth
        policies: InternalAdmin)
  /api/internal-admin/v1/organizations:
    get:
      parameters:
        - description: AdminConfiguration or Permissions filter
          in: query
          name: Include
          schema:
            items:
              $ref: '#/components/schemas/InternalAdminOrganizationRelation'
            type: array
          style: form
        - description: Page count
          in: query
          name: Page
          schema:
            format: int32
            type: integer
          style: form
        - description: PageSize
          in: query
          name: PageSize
          schema:
            format: int32
            type: integer
          style: form
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/OrganizationAdminResponseModelPageResponseModel
          description: Organization response model.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      summary: 'Retrieve the organizations. (Auth policies: InternalAdmin)'
  '/api/internal-admin/v1/organizations/{organizationId}':
    get:
      parameters:
        - description: The organization identifier.
          in: path
          name: organizationId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: What properties to include.
          in: query
          name: include
          schema:
            items:
              $ref: '#/components/schemas/InternalAdminOrganizationRelation'
            type: array
          style: form
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationAdminResponseModel'
          description: Organization response models.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Organization was not found.
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      summary: 'Retrieve the organization. (Auth policies: InternalAdmin)'
  '/api/internal-admin/v1/organizations/{organizationId}/custodial-account':
    post:
      parameters:
        - description: Custodial account organization id.
          in: path
          name: organizationId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodialAccountsResponseModel'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Conflict
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCustodialAccountRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustodialAccountRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCustodialAccountRequestModel'
        description: Create custodial account request model.
      summary: >-
        Create the new custodial account without age validation. (Auth policies:
        InternalAdmin)
  '/api/internal-admin/v1/organizations/{organizationId}/inactivate-provider-specific/{provider}':
    post:
      parameters:
        - description: The organization identifier.
          in: path
          name: organizationId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: Provider.
          in: path
          name: provider
          required: true
          schema:
            $ref: '#/components/schemas/FiatIntegrationServiceProvider'
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No content response.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: User with such auth identifier was not found.
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Organization was not found.
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      summary: 'Inactivate ProviderSpecific Accounts. (Auth policies: InternalAdmin)'
  '/api/internal-admin/v1/organizations/{organizationId}/settlement-accounts-configuration':
    get:
      parameters:
        - description: The organization identifier.
          in: path
          name: organizationId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SettlementAccountsConfigurationResponseModelCollectionResponseModel
          description: Array of SettlementAccountsConfigurationResponseModel.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: User with such auth identifier was not found.
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      summary: >-
        Get settlement accounts configuration for the specified organization.
        (Auth policies: InternalAdmin)
  '/api/internal-admin/v1/organizations/{organizationId}/settlement-accounts-configuration/{custodialAccountId}':
    put:
      parameters:
        - description: The organization identifier.
          in: path
          name: organizationId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The custodial account identifier.
          in: path
          name: custodialAccountId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No content response.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: User with such auth identifier was not found.
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Organization was not found.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Asset is already configured for another settlement account.
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/SettlementAccountsConfigurationRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/SettlementAccountsConfigurationRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/SettlementAccountsConfigurationRequestModel'
        description: The configuration model.
      summary: >-
        Configure settlement account for the specific list of assets per
        organization. (Auth policies: InternalAdmin)
  /api/internal-admin/v1/payments/process-stuck-payment:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ProcessStuckPaymentRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessStuckPaymentRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ProcessStuckPaymentRequestModel'
        description: Payments that we want to process
      summary: 'Retry or abort saga step that stuck (Auth policies: InternalAdmin)'
  '/api/internal-admin/v1/payments/{paymentId}/funds-clawback':
    post:
      parameters:
        - description: Payment id
          in: path
          name: paymentId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '202':
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      summary: 'Return funds from custodial account (Auth policies: InternalAdmin)'
  /api/internal-admin/v1/retry-transactions:
    post:
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TransactionResponseModel'
                type: array
          description: Success
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/RetryTradingRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/RetryTradingRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/RetryTradingRequest'
        description: Retry request
      summary: 'Retry trading for specified transactions. (Auth policies: InternalAdmin)'
  /api/internal-admin/v1/sync-auth0:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No content response.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      summary: 'Sync all orgs metadata with Auth0. (Auth policies: InternalAdmin)'
  '/api/internal-admin/v1/{organizationId}/sync-auth0':
    post:
      parameters:
        - description: The organization identifier.
          in: path
          name: organizationId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No content response.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - InternalAdmin
      tags:
        - InternalAdmin
      summary: 'Sync org metadata with Auth0. (Auth policies: InternalAdmin)'
  '/api/ops/v1/clearing-account-config/{organizationId}':
    get:
      parameters:
        - description: Organization identifier.
          in: path
          name: organizationId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClearingAccountsConfigResponseModel'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: 'Get clearing accounts per organization (Auth policies: Ops)'
  '/api/ops/v1/clearing-account-config/{organizationId}/{paymentType}':
    delete:
      parameters:
        - description: Organization identifier.
          in: path
          name: organizationId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: Payment type.
          in: path
          name: paymentType
          required: true
          schema:
            $ref: '#/components/schemas/PaymentTypeForClearingAccount'
          style: simple
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: >-
        Delete clearing account for payment type per organization (Auth
        policies: Ops)
    put:
      parameters:
        - description: Organization identifier.
          in: path
          name: organizationId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: Payment type.
          in: path
          name: paymentType
          required: true
          schema:
            $ref: '#/components/schemas/PaymentTypeForClearingAccount'
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClearingAccountsConfigResponseModel'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ClearingAccountsConfigRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ClearingAccountsConfigRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ClearingAccountsConfigRequestModel'
        description: Request model to set clearing accounts config per organization
      summary: 'Set clearing accounts per organization (Auth policies: Ops)'
  /api/ops/v1/custodial-accounts:
    get:
      parameters:
        - in: query
          name: OrganizationId
          schema:
            format: uuid
            type: string
          style: form
        - in: query
          name: OwnerIdentityId
          schema:
            format: uuid
            type: string
          style: form
        - description: Page count
          in: query
          name: Page
          schema:
            format: int32
            type: integer
          style: form
        - description: PageSize
          in: query
          name: PageSize
          schema:
            format: int32
            type: integer
          style: form
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustodialAccountsResponseModelPageResponseModel
          description: Response with custodial accounts page.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: >-
        Retrieve the filtered, paged list with custodial accounts. (Auth
        policies: Ops)
  /api/ops/v1/custodial-accounts/crypto-buy-refunds:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentForBuyCryptoModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentForBuyCryptoModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentForBuyCryptoModel'
        description: Model that defines amount to transfer
      summary: >-
        Refund internal from Liquidity Provider to end user custodial (Auth
        policies: Ops)
  /api/ops/v1/custodial-accounts/crypto-sell-refunds:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentForCryptoSellRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentForCryptoSellRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentForCryptoSellRequest'
        description: Model that defines amount to transfer
      summary: >-
        Refund internal crypto from Liquidity Provider to end user custodial
        (Auth policies: Ops)
  /api/ops/v1/custodial-accounts/from-ca-to-liquidity:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/CreateRefundPaymentFromCustodialAccountToLiquidityRequest
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CreateRefundPaymentFromCustodialAccountToLiquidityRequest
          text/json:
            schema:
              $ref: >-
                #/components/schemas/CreateRefundPaymentFromCustodialAccountToLiquidityRequest
        description: Model that defines amount to transfer
      summary: >-
        Refund internal crypto from user custodial to Fortress Liquidity (Auth
        policies: Ops)
  /api/ops/v1/custodial-accounts/from-ca-to-trading:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentFromCaToTradingRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentFromCaToTradingRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentFromCaToTradingRequest'
        description: Model that defines amount to transfer
      summary: >-
        Refund internal crypto from end user custodial to Fortress Trading (Auth
        policies: Ops)
  /api/ops/v1/custodial-accounts/from-trading-to-liquidity-provider:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentFromTradingToZpRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentFromTradingToZpRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateRefundPaymentFromTradingToZpRequest'
        description: Model that defines amount to transfer
      summary: >-
        Refund internal crypto from Fortress Trading to Liquidity Provider (Auth
        policies: Ops)
  /api/ops/v1/custodial-accounts/process-transfer-manually:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ManuallyProcessedTransferRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ManuallyProcessedTransferRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ManuallyProcessedTransferRequestModel'
        description: Model that defines manually processed transfer
      summary: >-
        Create a payment to store records about manually processed transfer
        (Auth policies: Ops)
  '/api/ops/v1/custodial-accounts/{custodialAccountId}/close':
    patch:
      parameters:
        - description: Custodial account identifier
          in: path
          name: custodialAccountId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: 'Close custodial account (Auth policies: Ops)'
  '/api/ops/v1/custodial-accounts/{custodialAccountId}/non-api-clearing-account':
    get:
      parameters:
        - description: The custodial account identifier.
          in: path
          name: custodialAccountId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonApiClearingAccountDataModel'
          description: Non-Api clearing account data model
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: >-
            Custodial account was not found or the custodial account does not
            have non-API bank.
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: 'Retrieve non-API clearing account data (Auth policies: Ops)'
  '/api/ops/v1/custodial-accounts/{custodialAccountId}/resume':
    patch:
      parameters:
        - description: Custodial account identifier
          in: path
          name: custodialAccountId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustodialAccountSuspensionModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CustodialAccountSuspensionModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CustodialAccountSuspensionModel'
        description: Suspension request
      summary: 'Resume custodial account (Auth policies: Ops)'
  '/api/ops/v1/custodial-accounts/{custodialAccountId}/set-provider-cross-organization-account':
    patch:
      parameters:
        - description: Custodial account identifier
          in: path
          name: custodialAccountId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/SetProviderCrossOrganizationAccountRequestModel
          application/json:
            schema:
              $ref: >-
                #/components/schemas/SetProviderCrossOrganizationAccountRequestModel
          text/json:
            schema:
              $ref: >-
                #/components/schemas/SetProviderCrossOrganizationAccountRequestModel
        description: Sets IsMain flag for specific provider base on asset type and asset
      summary: >-
        Set main provider specific accounts for cross organization accounts
        (Auth policies: Ops)
  '/api/ops/v1/custodial-accounts/{custodialAccountId}/suspend':
    patch:
      parameters:
        - description: Custodial account identifier
          in: path
          name: custodialAccountId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustodialAccountSuspensionModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CustodialAccountSuspensionModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CustodialAccountSuspensionModel'
        description: Suspension request
      summary: 'Suspend custodial account (Auth policies: Ops)'
  '/api/ops/v1/custodial-accounts/{custodialAccountId}/update-cross-organization-account':
    patch:
      parameters:
        - description: Custodial account identifier
          in: path
          name: custodialAccountId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: 'Update cross organization account (Auth policies: Ops)'
  '/api/ops/v1/force-complete-transaction/{transactionId}':
    patch:
      parameters:
        - description: The transaction identifier.
          in: path
          name: transactionId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponseModel'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ForceCompleteTransactionRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ForceCompleteTransactionRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ForceCompleteTransactionRequest'
        description: Request model for transaction force completion
      summary: >-
        Force successful transaction completion for failed payment (Auth
        policies: Ops)
  /api/ops/v1/fortress-payments-data/trades:
    get:
      parameters:
        - description: Filter by payment identifier
          in: query
          name: PaymentId
          schema:
            format: uuid
            type: string
          style: form
        - description: Filter by transaction group identifier
          in: query
          name: TransactionGroupId
          schema:
            format: uuid
            type: string
          style: form
        - description: Filter by transaction identifier
          in: query
          name: MainTransactionId
          schema:
            format: uuid
            type: string
          style: form
        - description: Filter by FromAsset
          in: query
          name: FromAsset
          schema:
            $ref: '#/components/schemas/ModelAssetFiatType'
          style: form
        - description: Filter by ToAsset
          in: query
          name: ToAsset
          schema:
            $ref: '#/components/schemas/ModelAssetFiatType'
          style: form
        - description: Filter by network
          in: query
          name: Network
          schema:
            $ref: '#/components/schemas/ModelNetworkChain'
          style: form
        - description: Filter by transaction status
          in: query
          name: MainTransactionStatus
          schema:
            $ref: '#/components/schemas/TransactionStatus'
          style: form
        - description: Filter by ZebPay order identifier
          in: query
          name: ZebPayOrderId
          schema:
            format: uuid
            type: string
          style: form
        - description: Return all records with ZebPay order executed successfully
          in: query
          name: ZebPayOrderExecutedSuccessfully
          schema:
            type: boolean
          style: form
        - description: Return all records that Have transfers that need resolving
          in: query
          name: HasTransfersThatNeedResolving
          schema:
            type: boolean
          style: form
        - description: Return all records that are waiting for ZebPay balance
          in: query
          name: IsWaitingForZebPayBalance
          schema:
            type: boolean
          style: form
        - description: Page count
          in: query
          name: Page
          schema:
            format: int32
            type: integer
          style: form
        - description: PageSize
          in: query
          name: PageSize
          schema:
            format: int32
            type: integer
          style: form
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/FortressPaymentBaseDataResponseModelPageResponseModel
          description: Fortress payment data page model.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: User with such auth identifier was not found.
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: 'Return more details  about trades. (Auth policies: Ops)'
  '/api/ops/v1/fortress-payments-data/trades/{mainTransactionId}':
    get:
      parameters:
        - description: Main transaction identifier.
          in: path
          name: mainTransactionId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FortressPaymentResponseModel'
          description: Fortress payment data response model.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: User with such auth identifier was not found.
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Fortress payment was not found.
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: >-
        Return more detailed info about particular transfer. (Auth policies:
        Ops)
  '/api/ops/v1/fortress-payments-data/transactions/{transactionId}':
    get:
      parameters:
        - description: The transaction identifier.
          in: path
          name: transactionId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionWithPartsResponseModel'
          description: Transaction with parts response model.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Transaction was not found.
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: 'Get a list of transaction parts (Auth policies: Ops)'
  /api/ops/v1/fortress-wire-settlement/international-wires:
    get:
      parameters:
        - description: Filtering status (required due to big amount of data)
          in: query
          name: Status
          required: true
          schema:
            $ref: '#/components/schemas/InternationalWireStatus'
          style: form
        - description: Page count
          in: query
          name: Page
          schema:
            description: Page count
            format: int32
            type: integer
          style: form
        - description: PageSize
          in: query
          name: PageSize
          schema:
            description: PageSize
            format: int32
            type: integer
          style: form
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InternationalWireResponseModelPageResponseModel
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: 'Get international wires withdrawals info (Auth policies: Ops)'
  '/api/ops/v1/fortress-wire-settlement/international-wires/{id}':
    patch:
      parameters:
        - description: Payment identifier of international wire
          in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/InternationalWireStatusUpdateModel'
          application/json:
            schema:
              $ref: '#/components/schemas/InternationalWireStatusUpdateModel'
          text/json:
            schema:
              $ref: '#/components/schemas/InternationalWireStatusUpdateModel'
        description: >-
          International wire update model containing the new status for the
          international wire
      summary: >-
        Update the status of an international wire payment and its corresponding
        main transaction (Auth policies: Ops)
  /api/ops/v1/import/csv:
    post:
      parameters:
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportedBalanceResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          multipart/form-data:
            encoding:
              file:
                style: form
            schema:
              properties:
                file:
                  items:
                    format: binary
                    type: string
                  type: array
              type: object
      summary: 'Import file with balances (Auth policies: Ops)'
  /api/ops/v1/liquidity-provider-orders-data/orders:
    get:
      parameters:
        - description: Order asset
          in: query
          name: Asset
          schema:
            $ref: '#/components/schemas/ModelAssetFiatType'
          style: form
        - description: Network
          in: query
          name: Network
          schema:
            $ref: '#/components/schemas/ModelNetworkChain'
          style: form
        - description: Order identifier
          in: query
          name: OrderId
          schema:
            format: uuid
            type: string
          style: form
        - description: Return all records that are waiting for balance
          in: query
          name: IsWaitingForBalance
          schema:
            type: boolean
          style: form
        - description: Page count
          in: query
          name: Page
          schema:
            format: int32
            type: integer
          style: form
        - description: PageSize
          in: query
          name: PageSize
          schema:
            format: int32
            type: integer
          style: form
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/LiquidityProviderOrdersDataResponseModelPageResponseModel
          description: Orders data page model.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: User with such auth identifier was not found.
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: 'Return more details  about orders. (Auth policies: Ops)'
  '/api/ops/v1/liquidity-provider-orders-data/orders/{id}':
    get:
      parameters:
        - description: Order identifier.
          in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiquidityProviderOrderResponseModel'
          description: Order data response model.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: User with such auth identifier was not found.
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Order was not found.
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: 'Return more detailed info about particular order. (Auth policies: Ops)'
  /api/ops/v1/organizations:
    get:
      parameters:
        - description: AdminConfiguration or Permissions filter
          in: query
          name: Include
          schema:
            items:
              $ref: '#/components/schemas/InternalAdminOrganizationRelation'
            type: array
          style: form
        - description: Page count
          in: query
          name: Page
          schema:
            format: int32
            type: integer
          style: form
        - description: PageSize
          in: query
          name: PageSize
          schema:
            format: int32
            type: integer
          style: form
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/OrganizationAdminResponseModelPageResponseModel
          description: Organization response model.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: 'Retrieve the organizations. (Auth policies: Ops)'
  '/api/ops/v1/organizations/{orgId}/custody-providers-configurations':
    get:
      parameters:
        - description: The organization identifier.
          in: path
          name: orgId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustodyProviderConfigurationModelCollectionResponseModel
          description: Custody provider configuration response model.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: 'Retrieve the custody providers configurations. (Auth policies: Ops)'
  '/api/ops/v1/organizations/{orgId}/custody-providers-configurations/{assetType}':
    put:
      parameters:
        - description: The organization identifier.
          in: path
          name: orgId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: Asset type.
          in: path
          name: assetType
          required: true
          schema:
            $ref: '#/components/schemas/ModelAssetType'
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodyProviderConfigurationModel'
          description: Custody provider configuration response model.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustodyProviderConfigurationModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CustodyProviderConfigurationModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CustodyProviderConfigurationModel'
        description: Custody provider configuration model.
      summary: >-
        Add or update the configuration for particular asset type. (Auth
        policies: Ops)
  '/api/ops/v1/organizations/{orgId}/price-markup-configuration':
    get:
      parameters:
        - description: Organization id
          in: path
          name: orgId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarkupResponseModel'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: >-
        Get price markup for organization level and trading pair level (Auth
        policies: Ops)
    put:
      parameters:
        - description: The organization identifier.
          in: path
          name: orgId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '204':
          description: No content response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: User with such auth identifier was not found.
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Organization was not found.
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/MarkupRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/MarkupRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/MarkupRequestModel'
        description: The configuration model.
      summary: 'Configure price markup. (Auth policies: Ops)'
  '/api/ops/v1/organizations/{orgId}/price-markup-configuration/{tradingPair}':
    put:
      parameters:
        - description: Organization id
          in: path
          name: orgId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: Trading pair
          in: path
          name: tradingPair
          required: true
          schema:
            description: Trading pair
            minLength: 1
            type: string
          style: simple
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingPairMarkupModel'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/TradingPairMarkupRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/TradingPairMarkupRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/TradingPairMarkupRequestModel'
        description: Trading pair markup request
      summary: 'Add or replace trading pair markup configuration (Auth policies: Ops)'
  '/api/ops/v1/organizations/{organizationId}':
    get:
      parameters:
        - description: The organization identifier.
          in: path
          name: organizationId
          required: true
          schema:
            format: uuid
            type: string
          style: simple
        - description: What properties to include.
          in: query
          name: include
          schema:
            items:
              $ref: '#/components/schemas/InternalAdminOrganizationRelation'
            type: array
          style: form
        - description: The idempotency key for the endpoint
          in: header
          name: Idempotency-Key
          schema:
            format: uuid
            type: string
          style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationAdminResponseModel'
          description: Organization response models.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Organization was not found.
      security:
        - Bearer:
            - Ops
      tags:
        - Ops
      summary: 'Retrieve the organization. (Auth policies: Ops)'
  '/api/ops/v1/organizations/{organizationId}/payment-approval-configuration':
    get:
      parameters:
[...]
